<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
    MULTIMEDIA
  </h1>
  <div class="day" data-social="day" [@enterAnimation]="_isLoading ? 'loading':'ready'">
    
    <div class="gallery">
      <div class="gallery-filters p-t-20 p-b-10">
        <ul class="list-inline text-right">
          <li *ngIf="showAll" class="active text-master p-r-5 p-l-5" 
              (click)="getGalleries()">
              Todos
          </li>
          <li>
            <button class="btn btn-primary m-l-10"
              [ngStyle]="{'background-color': settingsService.getPrimaryColor(), 'border-color': settingsService.getPrimaryColor()}"
              (click)="slideRight.show()">
              Filtrar
            </button>
          </li>
        </ul>
      </div>
    </div>

      <isotope-grid *ngIf="hasGalleries()" class="gallery" [options]="galleryOptions" >
        <isotope-item *ngFor="let item of galleries">
          <app-card-gallery 
            [data]="item"
            [insideCard]="false">
          </app-card-gallery>
        </isotope-item>
      </isotope-grid>
      <div *ngIf="!hasGalleries()" class="alert alert-info text-center" role="alert">
        No hay galerias 
      </div>

  </div>
</pg-container>

<app-modal-gallery></app-modal-gallery>

<!-- MODAL STICK UP SMALL ALERT -->
<div bsModal #slideRight="bs-modal" class="modal filters-modal fade slide-right" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        
          <div class="padding-40 ">
            <a (click)="slideRight.hide()" class="filter-close quickview-toggle pg pg-close" href="javascript:void(0)"></a>
            <form role="form">
            <h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Filtrar por</h5>
            <div class="radio radio-danger">
              <ng-container *ngFor="let cat of categories">
                  <input type="radio" (click)="filterBy(cat)" value="{{cat.Id}}" name="filter" id="{{cat.Id}}">
                  <label for="{{cat.Id}}">{{cat.Nombre}}</label>
                  <br>
              </ng-container>
              <input type="radio" (click)="getGalleries()"  name="filter" id="todos">
              <label for="todos">Todos</label>
            </div>
                <!--<h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Price range</h5>-->
                <!-- <pg-slider name="filter-slider" Range [Color]="'danger'" [Step]="10" [DefaultValue]="[20, 50]"></pg-slider> -->
                <!-- <button (click)="slideRight.hide()" class="pull-right btn btn-danger btn-cons m-t-40">Aplicar</button> -->
            </form>
          </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP SMALL ALERT -->