<qavant-header title="Noticias"></qavant-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tira hacia abajo para actualizar..."
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let noticia of noticiaList">
      <qavant-card-noticia [entidad]="noticia"></qavant-card-noticia>
    </div>
    <ion-item *ngIf='noticiaList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>