﻿@model IEnumerable<QavantWeb.Models.ActionLog>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Canales</h2>
<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading"><div id="containerPorDia"></div></div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading"><div id="containerPorHora"></div></div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                @*/* Ranking de contenidos con mayor repercusión */*@
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"><b>Contenidos con mayor repercusión</b></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="RankingContenidos" class="table hover display compact stripe no-margin">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="4" class="text-center" style="background-color: #058DC7; color: #fff;">App</th>
                                    <th colspan="4" class="text-center" style="background-color: #50B432; color: #fff;">Web</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th class="text-center">
                                        Contenido
                                    </th>
                                    <th class="text-center" style="color:#058DC7;">
                                        Visitas
                                    </th>
                                    <th class="text-center" style="color:#058DC7;">
                                        Reacciones
                                    </th>
                                    <th class="text-center" style="color:#058DC7;">
                                        Comentarios
                                    </th>
                                    <th class="text-center" style="color:#058DC7;">
                                        Total
                                    </th>
                                    <th class="text-center" style="color:#50B432;">
                                        Visitas
                                    </th>
                                    <th class="text-center" style="color:#50B432;">
                                        Reacciones
                                    </th>
                                    <th class="text-center" style="color:#50B432;">
                                        Comentarios
                                    </th>
                                    <th class="text-center" style="color:#50B432;">
                                        Total
                                    </th>
                                    <th class="text-center">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ((List<QavantWeb.Models.est_ContenidosMayorRepercusion_Result>)ViewBag.listaContenidoTabla))
                                {
                                    <tr>
                                        <td>@item.ModuloTitulo | @item.Titulo</td>
                                        <td class="nroApp">@item.CantidadVisitasApp</td>
                                        <td class="nroApp">@item.CantidadSentimientosApp</td>
                                        <td class="nroApp">@item.CantidadComentariosApp</td>
                                        <td class="nroApp">@item.CantidadTotalApp</td>

                                        <td class="nroWeb">@item.CantidadVisitasWeb</td>
                                        <td class="nroWeb">@item.CantidadSentimientosWeb</td>
                                        <td class="nroWeb">@item.CantidadComentariosWeb</td>
                                        <td class="nroWeb">@item.CantidadTotalWeb</td>
                                        <td class="nroTotal">@item.CantidadTotal</td>
                                    </tr>
                                }
  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    /* TABLA */
    $(document).ready(function () {
        $('#RankingContenidos').DataTable({
            "pageLength": 10,
            "order": [[9, "desc"]],
            "ordering": true,
            "searching": false,
            "paging": true,
            "bLengthChange": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });


    Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        lang: {
            loading: 'Cargando...',
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            shortMonths: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            exportButtonTitle: "Exportar",
            printButtonTitle: "Imprimir",
            rangeSelectorFrom: "De",
            rangeSelectorTo: "Hasta",
            rangeSelectorZoom: "Período",
            downloadPNG: 'Descargar imagen PNG',
            downloadJPEG: 'Descargar imagen JPEG',
            downloadPDF: 'Descargar documento PDF',
            downloadSVG: 'Descargar imagen SVG',
            printChart: "Imprimir",
            downloadCSV: 'Descargar CSV',
            downloadXLS: 'Descargar XLS',
            openInCloud: 'Abrir en Highcharts Cloud'
        }
    });


    /* Web vs App - por dia */
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'containerPorDia'
        },
        title: {
            text: '<b>Web vs App - Visitas por día</b>'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'datetime',
            labels: {
                rotation: -45
            }
        },
        yAxis: {
            title: {
                text: 'Visitas'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        plotOptions: {
            series: {
                pointStart: Date.UTC(  @Html.Raw(ViewBag.fAnio), @Html.Raw(ViewBag.fMes), @Html.Raw(ViewBag.fDia)),
                pointInterval: 24 * 3600 * 1000 // one day
            }
        },
        series: [{
            name: 'App',
            data: [@Html.Raw(ViewBag.Est_visitasApp)]
        }, {
            name: 'Web',
            data: [@Html.Raw(ViewBag.Est_visitasWeb)]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        },
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });



    /* Web vs App - por  hora*/
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'containerPorHora'
        },
        title: {
            text: '<b>Web vs App - Visitas por hora</b>'
        },
        subtitle: {
            text: 'El gŕafico muestra los accesos a los distintos módulos en el día de  @Html.Raw(ViewBag.fAyer)' 
        },
        yAxis: {
            title: {
                text: 'Visitas'
            }
        },
        xAxis: {
            labels: {
                rotation: -45
            },
            categories: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
            name: 'App',
            data:  [@Html.Raw(ViewBag.cantVisitHoraApp)]
        }, {
            name: 'Web',
            data:  [@Html.Raw(ViewBag.cantVisitHoraWeb)]
        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        },
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });


</script>
