
<!--Icons: https://ionicons.com-->
<ion-tabs selectedIndex={{indice}}>
	<ion-tab class="muro-tab" [root]="tab1Root" tabIcon="home"></ion-tab>
	<ion-tab class="muro-tab" [root]="tab2Root" tabIcon="search"></ion-tab>
	<ion-tab class="muro-tab" [root]="tab3Root" tabIcon="add"></ion-tab>
	<ion-tab class="muro-tab" [root]="tab4Root" tabIcon="contact"></ion-tab>
</ion-tabs>

<div id="search" class="toolbar-search" >
	
</div>