.disabled{
  background-color: gray !important;
  border-color: gray !important;
}

.disabled:hover {
  cursor: default !important;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  p{
    font-size: 2em;
  }
  p.error{
    color: #721c24;
  }
}

