﻿@model QavantWeb.ViewModels.GaleriaViewModel

@{

    ViewBag.Title = "Create";
}
<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />

<h2>Galerías </h2>
<h4>Crear</h4>
<hr />

@using (Html.BeginForm("UploadFiles", "Galerias", FormMethod.Post, new { id = "dropzoneForm", @class = "dropzone", enctype = "multipart/form-data" }))
{

}
<br />
@using (Html.BeginForm("Create", "Galerias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })


        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.Titulo, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Galeria.Titulo, new { htmlAttributes = new { @class = "form-control titulo" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.Copete, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Galeria.Copete, new { htmlAttributes = new { @class = "form-control subtitulo" } })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label texto-label-left col-md-2"><b> Categoría</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Galeria.CategoriaId, (SelectList)ViewBag.CategoriaId, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.FechaDesde, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Galeria.FechaDesde, String.Format("{0:yyyy-MM-dd}", DateTime.Now), new { @class = "form-control", type = "date", placeholder = "Enter Title", id = "from_Id" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.FechaHasta, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Galeria.FechaHasta, String.Format("{0:yyyy-MM-dd}", DateTime.Now), new { @class = "form-control", type = "date", placeholder = "Enter Title", id = "to_Id" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.ImagenPortada, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                <img src="@Html.DisplayFor(model => model.Galeria.ImagenPortada)" id="Image" name="Image" alt="" style="max-width: 120px" class="thumbnail" />
                <div id="borrar" style="display:block">
                    <input type="button" value="Eliminar foto" onclick="Borrar()" />
                </div>
                <div id="subirImg" style="display:none" class="form-file">
                    <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" required />
                    <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Galeria.ImagenPortada)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.Destacada, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Galeria.Destacada)
                </div>
            </div>
        </div>

        <hr />
        @Html.Partial("_Filtros", Model.FiltroConfig)
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "Galerias")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button id="btn_guardar" type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cargando Galería"> Guardar </button>
        </div>


    </div>
}






@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>

    <script type="text/javascript">
      



        /* ********  *  ********** */
        var miDropForm;
        var miFileDropSize = false;
        var mensaje = "Tipo de archivo no permitido.";
        var btnGuardar = false;

        $("#btn_guardar").on('click', function () {
            btnGuardar = true;
            var isValid = true;
            var imgPortada = $('#Image').attr('src');
            if (imgPortada == "") {
                addToValidationSummary("Por favor, ingrese una imagen de portada.");
                isValid = false;
            }
            if (miDropForm.dropzone.element.length == 0) {
                addToValidationSummary("Por favor, ingrese al menos una imagen o video para la galería.");
                isValid = false;
            }
            if (miFileDropSize && miDropForm.dropzone.element.length == 1) {
                addToValidationSummary(mensaje + " Ingrese una nueva imagen o video para agregar a la galería.");
                isValid = false;
            }

            return isValid;
        });


        $(document).ready(function () {
            document.getElementById('borrar').style.display = 'none';
            document.getElementById('Image').value = "";//Ningún archivo seleccionado
            document.getElementById('ImageFile').value = "";//Ningún archivo seleccionado
            document.getElementById('Image').style.display = 'none';//oculto el tag
            document.getElementById('subirImg').style.display = 'block';//muestro el input


            var cat = $("#Galeria_CategoriaId").val();
            var cmbCat = $("#Galeria_CategoriaId option").text();
            if (cmbCat.length < 12) {
                if (cat == "" || cat == undefined) {
                    var message = "<strong>No existe ninguna 'Categoría' para Galerías.</strong><br >Primero debe crear una Categoría en la sección Administración -> Categorías.";
                    $('#myAlert > ul').append('<li>' + message + '</li>');
                    return false;
                }
            }

            var stateBeenChanged = false;
            var cont = 0;
            window.onbeforeunload = function () {
                if (!miDropForm.dropzone.element.length == 0)
                    stateBeenChanged = true;
                if (!miFileDropSize && miDropForm.dropzone.element.length == 1)
                    stateBeenChanged = true;
                console.log("Cambió el estado: " + stateBeenChanged);
                if (stateBeenChanged) {
                    if (!btnGuardar) {
                        return 'Seguro que desea continuar? Aún no ha guardado los cambios';
                    }
                    
                }
            }

            window.onunload = function () {
                cont++;    
                leavePage();
            }
            window.addEventListener("unload", function () {
                cont++;
                leavePage();
            });

            $(window).unload(function () {
                cont++;
                leavePage();
            });

            $(window).on('unload', function () {
                cont++;
                leavePage();
            });

            function leavePage(txt) {
                if (stateBeenChanged && cont == 1) {
                    var myEvent = {
                        mensaje: "Confirma que abandona la página. " + txt 
                    };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("LeavePage", "Galerias")',
                        dataType: "json",
                        data: myEvent,
                        success: function (data) {
                            console.log(data + "abc 2");
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                    console.log("ajax" + txt);
                }
                console.log("no ajax" + txt);
            }

        });

        var uploadField = document.getElementById("ImageFile");
        uploadField.onchange = function () {
            validateImageSize(this);
            validateImageExtension(this);
        };

        function Borrar() {
            document.getElementById('Image').setAttribute("src", "");//Oculto img actual
            document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
            document.getElementById('Image').value = "";//Ningún archivo seleccionado
            document.getElementById('ImageFile').value = "";//Ningún archivo seleccionado
            document.getElementById('Image').style.display = 'none';//oculto el tag
            document.getElementById('subirImg').style.display = 'block';//muestro el input
            document.getElementById('foto').value = "";
            document.getElementById('ImageFile').style.display = 'block';
        }

        $("#ImageFile").change(function () {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    //$("#Image img").attr("src", e.target.result);
                    document.getElementById('Image').setAttribute("src", e.target.result);
                }
                reader.readAsDataURL($(this)[0].files[0]);

                document.getElementById('borrar').style.display = 'block';
                document.getElementById('Image').style.display = 'block';
                document.getElementById('ImageFile').style.display = 'none';
            }
        });


        Dropzone.options.dropzoneForm = {
            maxFiles: 50,
            dictResponseError: 'Error en el servidor.',
            dictDefaultMessage: "Haga click o arrastre y suelte sus imágenes/videos aquí.",
            dictMaxFilesExceeded: "No se pueden cargar más de 50 archivos por galería.",
            dictFileTooBig: "El archivo es demasiado grande.",

            //validaciones
            accept: function (file, done) {
                console.log(file);
                mensaje = "Tipo de archivo no permitido.";
                var extensiones_permitidas = new Array("/gif", "/jpg", "/png", "/bmp", "/jpeg", "/mp4", "/mpg", "/mpeg", "/quicktime", "/mov");
                var extension = (file.type.substring(file.type.lastIndexOf("/"))).toLowerCase();
                var permitida = false;
                for (var i = 0; i < extensiones_permitidas.length; i++) {
                    if (extensiones_permitidas[i] == extension) {
                        permitida = true;
                        break;
                    }
                }
                if (extension == "/mp4" || extension == "/mpg" || extension == "/mpeg" || extension == "/quicktime") {
                    if (file.size > 8 * 1204 * 1024) {
                        permitida = false;
                        mensaje = "El archivo seleccionado no debe superar 8MB de tamaño.";
                        miFileDropSize = true;
                    }
                }
                else {
                    /*
                    if (file.size > 1 * 1204 * 1024) {
                        permitida = false;
                        mensaje = "El archivo seleccionado no debe superar 1MB de tamaño.";
                        miFileDropSize = true;
                    }
                    */
                }

                if (!permitida) {
                    done(mensaje);
                }
                else { done(); }
            },

            init: function () {

                var self = this;
                var submitButton = document.querySelector("#btn_guardar");
                miDropForm = document.querySelector("#dropzoneForm");
                //submitButton.addEventListener("click", function () {
                //    if (self.files.length > 0) {
                //        self.processQueue();
                //    }
                //    else {
                //        addToValidationSummary("Por favor, ingrese al menos una imagen o video para la galería.");
                //    }
                //});
                // config
                //self.options.addRemoveLinks = true;
                //self.options.dictRemoveFile = "Delete";
                //New file added
                self.on("addedfile", function (file) {
                    //boton cargando
                    console.log('new file added ', file);
                    var $this = $("#btn_guardar");
                    $this.button('loading');

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button class='btn btn-danger btn-sm center-block'> Eliminar </button>");

                    // Capture the Dropzone instance as closure.
                    var _this = this;

                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();

                        // Remove the file preview.
                        _this.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                        var myFile = {
                            nombre: file.name,
                            tipo: file.type

                        };
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CancelUploadFile", "Galerias")',
                            dataType: "json",
                            data: myFile,
                            success: function (data) {
                                //if (miDropForm.dropzone.element.length == 0)
                                //    stateBeenChanged = false;
                                //if (!miFileDropSize && miDropForm.dropzone.element.length >= 1)
                                //    stateBeenChanged = true;
                                console.log(data);
                            },
                            error: function(error){
                                console.log(error);
                            }
                        });



                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);

                });
                // Send file starts
                self.on("sending", function (file) {
                    console.log('upload started', file);
                    $('.meter').show();
                });

                // File upload Progress
                self.on("totaluploadprogress", function (progress) {
                    //console.log("progreso ", progress);
                    $('.roller').width(progress + '%');
                });

                self.on("queuecomplete", function (progress) {
                    $('.meter').delay(999).slideUp(999);
                    //console.log("queuecomplete ", progress);
                    console.log("Terminó de cargar toda la Galería!.");
                    var $this = $("#btn_guardar");
                    setTimeout(function () {
                        $this.button('reset');
                    });

                });

                // On removing file
                self.on("removedfile", function (file) {
                    //console.log(file);
                    //agregar un evento al btn delete para que haga una peticion al servidor
                    @*$.ajax({
                        type: "POST",
                        url: '@Url.Action("CancelUploadFile", "Galerias")',
                        dataType: "json",
                        data: JSON.stringify(file),
                        success: function(data){
                            console.log(data);
                        },
                        error: function(error){
                            console.log(error);
                        }
                    });*@
                });



            }
        };


    </script>
}
