﻿@model QavantWeb.Models.Galeria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Galeria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsersIdAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsersIdAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadMultimedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadMultimedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagenCaratula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagenCaratula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destacada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destacada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultimediaTipo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultimediaTipo.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
