<pg-container>
  <h1 *ngIf="hasTraining()" [ngStyle]="settingsService.getTitleSectionStyle()">
      {{getTitle()}}
  </h1>
  <div class="row justify-content-md-center">
    <div class="col col-lg-8" [@enterAnimation]="!hasTraining() ? 'loading':'ready'">
        <div *ngIf="hasTraining()" class="card card-default">
          <ng-container *ngIf="showVideo()">
            <iframe width="600" height="500" [src]="getVideoUrl()" frameborder="0"
              scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
          </ng-container>
          <p>{{getDescription()}}</p>
          <ng-container *ngIf="hasDocument()">
              <p (click)="showBtn()">
                <a href="{{getDocumentUrl()}}" target="_blank" class="btn btn-info btn-lg">
                  Abrir Documento
                </a>
              </p>
          </ng-container>
          <ng-container *ngIf="hasLink()">
            <p (click)="showBtn()">
              <a href="{{getUrl()}}" target="_blank" class="btn btn-info btn-lg">
                Abrir enlace
              </a>
            </p>
          </ng-container>
          <div class="row">
            <div class="col col-md-4">
              <a *ngIf="requireEvaluation()"
                [ngStyle]="getStyle()"
                [ngClass]="{'disabled': disabledBtn()}"
                class="btn btn-primary btn-lg" role="button"
                (click)="goToForm()">
                Realizar Evaluación
              </a>
            </div>
            <div class="col col-md-8">
              <span *ngIf="requireEvaluation() && wasAlreadyEvaluated() && uniqueReply()"
                class="poll-done">
               <i class="fa fa-check-circle"></i>
               Evaluación ya realizada.
             </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="_error">Error server</p>
</pg-container>


