iframe{
  width: 100%;
  text-align: center;
  margin: auto;
}

.card{
  padding: 10px;
  margin-top: 10px;
}

h2{
  text-transform: uppercase;
}

.btn{
  width: 200px;
  border-color: transparent;
}

.alert{
  margin-top: 10px;
}

span.poll-done{
  color: #28a745 !important;
  padding-top: 12px;
  display: block;
}
