<qavant-header title="Nueva Contraseña"></qavant-header>
<ion-content padding>
	<div class="description">
		<p>Ingrese su nueva contraseña y confírmerla.</p>
	</div>
	<form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
		<ion-list inset>
			<div class="seePassword">  
			<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched', 'dirty']) }">
				<ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
			</ion-item>
			<a class="revealPassword" href="#"><!-- <span class="icon-eye"></span> --></a>
            </div>
			<div ngxErrors="password" #passwordErrors="ngxErrors">
				<div class="validation" [ngxError]="['password', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
			</div>
			<div class="seePassword"> 
			<ion-item [ngClass]="{ invalid: confirmPasswordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword"></ion-input>
			</ion-item>
			<a class="revealPassword" href="#"><!-- <span class="icon-eye"></span> --></a>
            </div>
			<div ngxErrors="confirmPassword" #confirmPasswordErrors="ngxErrors">
				<div class="validation" [ngxError]="['required']" [when]="['touched']">Campo requerido</div>
			</div>
			<p *ngIf="changePasswordForm.errors?.doesMatchPassword">Las contraseñas deben coincidir</p>
		</ion-list>

		<div class="btn-out" padding-horizontal>
			<button ion-button full type="submit" [disabled]="!changePasswordForm.valid">Confirmar</button>
		</div>
	</form>  
</ion-content>
