<ng-container *ngIf="!verticalStyle(); else Horizontal">

  <div class="vertical-card card {{additionalClasses}}">
    <div class="vertical-card-header">
      <h2>
        {{getCategory()}}
        <i *ngIf="outStanding()" class="fas fa-circle"></i>
        <span>{{getDate()}}</span>
      </h2>
    </div>
    <div class="image">
      <a *ngIf="hasImage()" [routerLink]="[getRouter(), getId()]">
        <img [src]="getImage()" alt="" title="">
      </a>
    </div>
    <div class="body">
      <h3 [ngStyle]="settingsService.getCardTitleStyle()" title="{{getTitle()}}">
        <a [routerLink]="[getRouter(), getId()]" 
          [ngStyle]="{color:settingsService.getPrimaryColor()}">
          {{getTitle()}}
        </a>
      </h3>
      <h4 title="{{getSubTitle()}}">
        <a [routerLink]="[getRouter(), getId()]">
          {{getSubTitle()}}
        </a>
      </h4>
      <hr>
    </div>
    <div class="vertical-card-footer">
      <app-reactions [data]="data"></app-reactions>
    </div>
  </div>

</ng-container>
<ng-template #Horizontal>

<div class="horizontal-card card {{additionalClasses}}">
  <div class="horizontal-card-header">
    <h2>
      {{getCategory()}}
      <span>{{getDate()}}</span>
    </h2>
  </div>
  <div class="body">
    <div [ngClass]="isBirthdayCard() ? 'birthday' : 'icon'">
      <ng-container *ngIf="getType() !== 'CUMPL'; else Image">
        <p>
          <i class="fas fa-file-alt fa-3x"></i>
        </p>
      </ng-container>
      <ng-template #Image>
        <p *ngIf="hasImage()">
          <a [routerLink]="[getRouter(), getId()]">
            <img [src]="getImage()" alt="{{getTitle()}}" title="{{getTitle()}}" class="rounded-circle">
          </a>
        </p>
      </ng-template>
    </div>
    <div class="text">
      <h3 title="{{getTitle()}}" [ngStyle]="settingsService.getCardTitleStyle()">
        <ng-container *ngIf="hasDetail(); else goToPage">
          <a [routerLink]="[getRouter(), getId()]" 
            [ngStyle]="{color:settingsService.getPrimaryColor()}">
            {{getTitle() | truncate: 70}}
          </a>
        </ng-container>
        <ng-template #goToPage>
          <a [routerLink]="[getRouter()]" 
            [ngStyle]="{color:settingsService.getPrimaryColor()}">
            {{getTitle() | truncate: 70}}
          </a>
        </ng-template>
      </h3>
      <h4 title="{{getSubTitle()}}" *ngIf="!isBirthdayCard()">
        <a [routerLink]="[getRouter(), getId()]">
          {{getSubTitle() | truncate: 50}}
        </a>
      </h4>
      <ng-container *ngIf="isBirthdayCard()" >
        <p class="m-b-0">
            {{getContent() | truncate: 14}}
        </p>
        <p>
          <a [href]="'mailto:' + getSubTitle()" class="mail">
            {{getSubTitle()}}
          </a>
        </p>
      </ng-container>
    </div>
  </div>
  <div class="horizontal-card-footer">
    <hr>    
    <!-- <app-reactions [data]="data"></app-reactions> -->
  </div>
</div>

</ng-template>
