<pg-container>
  <h1 [ngStyle]="settingService.getTitleSectionStyle()">
    {{title}}
  </h1>
  <div [@enterAnimation]="!hasForm() ? 'loading':'ready'">
    <div class="row">
      <ng-container *ngFor="let form of forms">
          <div class="col-sm-3">
              <div class="card">
                <div class="row">
                  <div class="col-sm-3 d-flex align-items-center image">
                    <p class="icon" (click)="goToForm(form)">
                      <span *ngIf="!isFormType()">
                          <i class="fas fa-file-alt"></i>
                      </span>
                      <span *ngIf="isFormType()">
                        <i class="fas fa-file-signature"></i>
                      </span>
                    </p>
                  </div>
                  <div class="col-sm-9 info">
                    <h2 [ngStyle]="{'color': settingService.getPrimaryColor()}"
                      (click)="goToForm(form)">
                      {{form.Title}}
                    </h2>
                    <p>{{getDescription(form)}}</p>
                  </div>
                  <div class="tooltip-message">
                    <ng-container *ngIf="form.AlreadyAnswered && !answerAgain(form)">
                      <span *ngIf="!isFormType()" class="poll-done">
                          <i class="fa fa-check-circle"></i>
                          Encuesta respondida.
                        </span>
                        <span *ngIf="isFormType() && form.UniqueReply" class="poll-done">
                            <i class="fa fa-check-circle"></i>
                        Formulario ya enviado.
                      </span>
                    </ng-container>
                    <span *ngIf="answerAgain(form)" class="poll-done-again">
                      <i class="fas fa-pen"></i>
                      Volver a responder.
                    </span>
                    <span *ngIf="formMessage(form) !==''"
                      class="tooltiptext">
                      {{formMessage(form)}}
                    </span>
                  </div>
                </div>
              </div>
            </div>

          <!-- <div class="col-lg-4">
            <pgcard MinimalHeader="true" TimeOut="2500" (click)="goToForm(form)">
              <ng-template #CardTitle>
                <h3 [ngStyle]="settingService.getCardTitleStyle()">
                    {{form.Title}}
                </h3>
              </ng-template>
              <p>{{form.Description}}</p>
              <span class="poll-done">
                <i class="fa fa-check-circle"></i> Encuesta respondida
              </span>
            </pgcard>
          </div> -->

      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="hasForm()">
    <div *ngIf="forms.length < 1" class="alert alert-info col-sm-12" role="alert">
      <p class="text-center">No se encontraron resultados.</p>
    </div>
  </ng-container>
</pg-container>
