@import "../../../styles.scss";

@include mq($from: mobile) {
}

@include mq($from: tablet) {

}

@include mq($from: desktop) {
  div.card{
    padding: 10px;
    min-height: 130px;
    p.icon{
      cursor: pointer;
      span i{
        font-size: 35px;
        margin-left: 10px;
      }
    }

    div.image{
      padding-right: 0px;
      min-height: 130px;
    }

    div.info{
      padding-left: 0px;
      h2{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
      }
      p{
        font-size: 13px;
        line-height: 1.4;
      }
    }
  }
}

@include mq($from: wide) {

}

// .footer{
//   bottom: 0px;
//   position: absolute;
//   padding: 0px 20px 0px 20px;
// }


// .card{
//   cursor: pointer;
// }

// .poll-done{
//   font-size: 14px;
//   color: #28a745;
// }

// div.card-title{
//   font-size: 18px !important;
// }
