<qavant-header title="Documentos"></qavant-header>

<ion-content padding>
  <div class="fixed-div">
      <div class="fixed-div-top"></div>
      <div class="filter">
        <ion-list> 
            <ion-item>
              <ion-label>Categorías</ion-label>
              <ion-select [(ngModel)]="selectedCat" submitText="Ok" cancelText="Cancelar" (ngModelChange)="onChange($event)">
                <div class="list-item"> 
                <ion-option *ngFor="let cat of categoriaList" value="{{cat?.id}}" [selected]="selectedCat == cat">{{ cat?.name }}</ion-option>
              </div>
              </ion-select>
            </ion-item>         
          </ion-list>            
      </div>
    </div> 
    
  <ion-list>
    <ion-item *ngFor="let document of documentoList" class="q-item">
      <ion-avatar item-start>
        <ion-icon name="{{document.extension}}"></ion-icon> 
      </ion-avatar>
      <div class="q-item-content" (click)="openFile(document)">
        <h2>{{ document.title }}</h2>          
        <p [innerHTML]="document.description"></p> 
      </div>
      <div class="q-item-footer hide">
        <qavant-social modulo="DOCUM" [entidad]="document"></qavant-social>
      </div>
    </ion-item>
    
    <ion-item *ngIf='documentsList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>