<qavant-header title=""></qavant-header>
<ion-content padding>
    <div *ngIf="isReady">
        <div class="content-header">
            <img  *ngIf="beneficio?.imagen" src="{{beneficio?.imagen}}" />
            <h1>{{beneficio?.titulo | truncate:70}}</h1>
        </div>
        <div class="content-body">
            <qavant-social modulo="BENEF" [entidad]="beneficio"></qavant-social>
            <div class="metadata">
                <span class="type">Beneficios</span>
                <span class="date">{{beneficio?.fechaAlta}}</span>
            </div>      
            <div class="copete">{{beneficio?.copete}}</div>
            <div class="content" [innerHTML]="beneficio?.contenido"></div>
        </div>
    </div>
</ion-content>