page-galeria-detail {
    .grid{
        padding:0;
    }
    .wrapper-image {
        height: 100px;
        overflow: hidden;
        text-align: center;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            max-width: none;
        }
    }
    .wrapper-video{
        height: 210px;
    }
}
