<qavant-header title=""></qavant-header>
<ion-content padding>
  <div *ngIf="isReady">
    <div class="content-header">
        <img *ngIf="galeria?.imagen" src="{{galeria?.imagen}}" />
        <h1>{{galeria?.titulo | truncate:70}}</h1>
    </div>
    <div class="content-body">
      <qavant-social modulo="GALER" [entidad]="galeria"></qavant-social>
      <div class="metadata">
        <span class="type">Galerías</span>
        <span class="date">{{galeria?.fechaDesde}}</span>
      </div>      
      <div class="copete">{{galeria?.copete}}</div>
      <br />
      <ion-grid>
        <ion-row>
            <ion-col col-4 *ngFor="let imagen of imagenes">
              <div class="wrapper-image">
                  <img [src]="imagen.rutaArchivo" (click)="showItem(imagen)"/>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>      
      <ion-grid>
        <ion-row>
            <ion-col col-12 *ngFor="let video of videos">
              <div class="wrapper-video">
                <video width="100%" height="100%" preload="metadata" disablePictureInPicture controls controlsList="nodownload">
                  <source src="{{video.rutaArchivo}}#t=0.5" type="video/mp4">
                </video>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>      
      
    </div>   
  </div>
</ion-content>