<qavant-header title="Encuestas"></qavant-header>

<ion-content padding>
    
  <ion-list>
    
    <ion-item *ngFor="let survey of surveysList" class="q-item">
      <div class="q-item-content" (click)="goToQuestions(survey)">
        <h2>{{survey.title | truncate:70}}</h2>          
        <p>{{survey.description | truncate:175}}</p> 
      </div>
      <div class="q-item-footer hide">
        <qavant-social modulo="ENCUE" [entidad]="survey"></qavant-social>
      </div>
    </ion-item>

    <ion-item *ngIf='surveysList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>    
  </ion-list>

</ion-content>
