qavant-card-noticia {
    h4{
        color: #91B8AF !important;
    }
    h1{
        color: rgb(0, 0, 0) !important;
    }
    .icon-size-small{
        font-size: 12px !important;
    }
    .icon-size-large{
        font-size: 24px !important;
    }
    .card-btn{
        background-color: #91B8AF !important;
    }
    .no-padding{
        padding: 0px !important;
        margin: 0px !important;
    }
    .mr{
        margin-right: 1px !important;
    }
    .ml{
        margin-left: 1px !important;
    }
}
