<ion-card  class="q-card">
    <!--<ion-card-header>
        <div class="metadata">
            <span class="type">NOTICIA</span>
            <span class="date">{{entidad?.fechaAlta}}</span>
        </div>          
    </ion-card-header>-->
    <img src="{{entidad?.imagen}}" (click)="goToDetail(entidad)" />
    <ion-card-content> 
        <div class="content-header">
            <h4>Nombre del vendedor</h4>
        </div>
        <div class="content-body">
            <h1 (click)="goToDetail(entidad)">
                <ion-icon name="football" class="icon-size-large"></ion-icon>
                {{entidad?.titulo | truncate:70}}
            </h1>
            <div class="short-description">{{entidad?.copete | truncate:250}}</div>
        </div>
        <div class="content-footer">
            <!--<qavant-social modulo="NOTIC" [entidad]="entidad"></qavant-social>-->
            <h4><ion-icon class="icon-size-small" name="mail"></ion-icon> pluzzi@goiar.com</h4>
            <h4><ion-icon class="icon-size-small" name="call"></ion-icon> +54 9 343 155325148</h4>
            <br>
            <ion-grid class="no-padding">
                <ion-row class="no-padding">
                    <ion-col class="no-padding mr">
                        <button icon-only full ion-button class="card-btn no-padding"><ion-icon name="mail"></ion-icon></button>
                    </ion-col>
                    <ion-col class="no-padding ml">
                        <button icon-only full ion-button class="card-btn no-padding"><ion-icon name="call"></ion-icon></button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            
        </div>
        
        
    </ion-card-content>
</ion-card>