<ion-card  class="q-card">
  <ion-card-header>
      <div class="metadata">
          <span class="type">GALERIA</span>
          <span class="date">{{entidad?.fecha}}</span>
      </div>          
  </ion-card-header>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let elemento of elementoMultimediaList">
            <img src="{{elemento?.rutaArchivo}}" *ngIf="elemento?.tipo == 'IMG'" />
            <video controls width="100%" height="100%"*ngIf="elemento?.tipo == 'VID'" preload="metadata" disablePictureInPicture controls controlsList="nodownload">
                <source src="{{elemento?.rutaArchivo}}#t=0.5" type="video/mp4">
            </video>
            <a class="more" (click)="goToGaleria(entidad?.id)" *ngIf="isLast">Ver más</a>
      </ion-slide>
  </ion-slides>
  <ion-card-content> 
      <div class="content-header">
          <h2 (click)="goToGaleria(entidad?.id)" class="truncate-2-lines">{{entidad?.titulo}}</h2>
      </div>
      <div class="content-body">
          <div class="short-description truncate-3-lines">{{entidad?.copete}}</div>
      </div>
      <div class="content-footer">
          <qavant-social modulo="GALER" [entidad]="entidad"></qavant-social>
      </div>
  </ion-card-content>
</ion-card>