<qavant-header></qavant-header>
<ion-content>
  <div *ngIf="isReady">
    
    <ion-list>
      <div *ngFor="let item of muroList">
        <qavant-card-publicacion [entidad]="item"></qavant-card-publicacion>
      </div>
      <div>
        <img src="./assets/img/img-ad.png">
      </div>

    </ion-list>
  </div>
</ion-content>