
//#region [Reveal password]
.seePassword {
  position: relative;
}
.revealPassword {
  display: block;
  position: absolute;
  top: 10px;
  right: 22px;
  text-decoration: none;
}
//#endregion

//#region [Header]
qavant-header {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
}
/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
      .header-ios {
        top: 35px;
      }
      .toolbar-search {
        top: 43px !important;
      }
      .content-ios {
        margin-top: 35px;
      }
      page-news-detail .content-ios {
        margin-top: 0;
      }
      .ion-page.show-page {
        background-color: #F5F5F5;
      }
      .content-ios .btnSend{
        margin-bottom: 40px;
      }
}
/* iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) { 
      .header-ios {
        top: 35px;
      }
      .toolbar-search {
        top: 43px !important;
      }
      .content-ios {
        margin-top: 35px;
      }
      page-news-detail .content-ios {
        margin-top: 0;
      }
      .ion-page.show-page {
        background-color: #F5F5F5;
      }
      .content-ios .btnSend{
        margin-bottom: 40px;
      }
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2)
    and (orientation: portrait) { 
      .header-ios {
        top: 20px;
      }
      .toolbar-search {
        top: 30px !important;
      }
      .content-ios {
        margin-top: 20px;
      }
      page-news-detail .content-ios {
        margin-top: 0;
      }
      .ion-page.show-page {
        background-color: #F5F5F5;
      }
      .content-ios .btnSend{
        margin-bottom: 40px;
      }
    
    }
    @media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) 
    and (orientation: portrait) { 
      .header-ios {
        top: 20px;
      }
      .toolbar-search {
        top: 30px !important;
      }
      .content-ios {
        margin-top: 20px;
      }
      page-news-detail .content-ios {
        margin-top: 0;
      }
      .ion-page.show-page {
        background-color: #F5F5F5;
      }
      .content-ios .btnSend{
        margin-bottom: 40px;
      }
    }
    @media screen and (device-aspect-ratio: 40/71) {
        .header-ios {
          top: 20px;
        }
        .toolbar-search {
          top: 30px !important;
        }
        .content-ios {
          margin-top: 20px;
        }
        page-news-detail .content-ios {
          margin-top: 0;
        }
        .ion-page.show-page {
          background-color: #F5F5F5;
        }
        .content-ios .btnSend{
          margin-bottom: 40px;
        }
      }   
//#endregion
  
//#region [Filters]
.fixed-div {
  position: sticky;
  top: 0px;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  padding-left:10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.fixed-div-top {
  position: absolute;
  height: 30px;
  width: 100%;
  left: 0;
  top: -20px;
  background-color: white;
}
.filter {
  text-align: center;
}
.filter button:first-child{
  border-right: 1px solid #ccc;
  margin: 0;
  padding:0 26px 0 20px;
}
.filter .button{
  height: 100%;
  padding: 10px;
  text-transform: uppercase;
  font-size:1.667em;
  font-weight: 100;
  border-radius: 0;
}
.filter .active {
  font-weight: 700;
  opacity: 1;
}

.filter list>ion-item:first-child {
  border-bottom:0;
}
.filter .list > .item-block:first-child{
  border-top: 0;
}
.filter .list > .item-block{
  border-bottom: 1px solid #ccc;
}
.filter .list > .item-block.item-select {
  border-bottom: none;
  background-color: #f2f2f2;
  border-radius: 3px;
} 

.filter ion-select {
  max-width: 62%;    
}
.filter .select-text {
  overflow: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 16px;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: pre-line;
}
//#endregion

//#region [SearchBox]
.searchbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
} 
.searchbar .searchbar-input{
  text-align: center;
  box-shadow: none;
}
//#endregion

//#region [Card]
.q-card {
  margin-left:0;
  margin-right: 0;
  width: 100%!important;
  padding-bottom: 3%;
}
.q-card:first-child {
  margin-top: 0;
}
.q-card .card-header {
  padding-top: 8px;
  padding-bottom: 8px;
  .metadata {
    .type{
      text-transform: uppercase;
      float: left;
    }
    .date{
      text-transform: lowercase;
      float:right;
      font-size:	0.8em;
    }
  }
}
.q-card .card-content {
  h2{
    font-size:1.2em;
    padding: 0;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
  }
  .short-description {
    font-size: 1em;
    margin-bottom: 3%;
  } 
}

.q-card.encuesta {
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    margin:0;
    color: #ccc;
  }
}
.q-card.cumple .content-body {
  position: relative;
  margin-top: -13px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom:10px;
}
.q-card.cumple .content-body img {
  height: 180px;
}
.q-card.cumple .content-body h2 {
  color: #164966;
  position: absolute;
  top: 45px;
  right: 0;
  font-size: 1.8em;
}
//#endregion

//#region [ListItem]
.q-item {
  border-bottom: 1px solid;
}
.q-item.nowrap {
  .item-inner {
    overflow: visible;
    .input-wrapper {
      overflow: visible;
      ion-label {
        white-space: unset;
        overflow: visible;
      }
    }
  }
}
.q-item:first-child {
  border-top: none;
}
.q-item .q-item-content h2,
.q-item .q-item-content p{
  //white-space: nowrap; 
  overflow: auto;
  text-overflow: ellipsis;  
}
.q-item .date {
  font-size: 0.8em;
}
.q-item .item-inner{
  border: 0;
  padding: 0.833em 0;
}
.q-item .q-item-content .pic {
  overflow: hidden;
  width:100px;
  max-height: 100px;
  float: left;
  margin-right: 5%;
  margin-bottom: 2%;
}
.q-item .q-item-content .pic img {
  object-fit: fill;
}
.q-item .q-item-content .content {
  width: 60%;
  float: right;
}
.q-item-footer{
  clear: both;
}


.q-item.avatar a {
  text-decoration: none;
}
.q-item.avatar ion-avatar img{
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.q-item.avatar.today h2 {
  width: 83%;
}
.q-item.avatar.today {
  position: relative;
  margin-bottom: 10px;
  .icon-gift:before {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
  }
}
.q-item.avatar .icon-gift:before {
  display: none;
}
.q-item.avatar .actions a{
  display: inline-block;
  margin-top: 10px;
  margin-right:15px;
}
.q-item.avatar .truncate {
  overflow: auto;
  text-overflow: ellipsis;
  width: 98%;  
}

.q-item.fav {
  padding-left: 0;
}
.q-item.fav .q-item-pic {
  width:45%;
  float: left;
  margin-right: 5%;
}
.q-item.fav .q-item-content {
  width: 40%;
  float: left;
  height: 80px;
}
.q-item.fav .like {
  padding: 0;
  margin: -45px 0 0 0;
}
.q-item.fav .label, 
.q-item.fav .label-ios {
  margin: 0;
}
//#endregion

//#region [ProfileCard]
.q-profile {
  text-align: center;
}
.q-profile p {
  font-size: 18px;
}
.q-profile p a {
  text-decoration: none;
}
.q-profile-pic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5%;
}
.q-profile-property {
  border-top: 1px solid;
  padding: 15px 0;
}
//#endregion

//#region [Toolbar]
.toolbar .custom-burguer{
  width: 22px;
  height: 14px;
  background-color: #91B8AF;
}
.toolbar-title, 
.toolbar-title-md,
.toolbar-title-ios {
  text-align: center;
}
.toolbar-title-md {
  margin-right: 73px;
}

.toolbar-search {
  position: absolute;
  top:15px;
  right: 15px;
}
//#endregion

//#region [Menu]
.bar-button-menutoggle{
  min-width: 57px;
}
.sidemenu .label,
.sidemenu .label-md,
.sidemenu .label-ios {
  text-transform: uppercase;
  font-size: 16px;
  padding-right: 15px;
}
.user-card {
  height: 15vh;
  position: relative;
}
.user-card img{
  -webkit-clip-path: circle(38.4% at 50% 50%);
  clip-path: circle(38.4% at 50% 50%);  
  width: 35%;
  margin: 10px 0;
  float: left;
}
.user-card .name {
  float: left;
  width: 50%;
  margin-top: 25px;
  font-size: 24px;
  line-height: 25px;
}
//#endregion

//#region [Login]
page-login,
page-activate-account-validate,
page-activate-account-password,
page-reset-password,
page-change-password {
  form .button{
   width:85%;
   margin:0 auto;
  }
  .description {
    margin-top:30%;
    margin-bottom: 15%;
  }
}
page-login.ion-page .content-md .scroll-content { margin-top: 0; }
page-login.ion-page .content-ios .scroll-content { margin-top: 0; }


page-login {  
  p, a, .validation {
    color:white; //#727271;
    text-align: center;
    font-size: 1em;    
  }
  .box{
    position: fixed;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    height: 98%;
    width: 100%;
  }
  form{ 
    top: 30%;
    left: 8%; 
    position: absolute;
    flex-direction: column;
    width: 84%;
    text-align: center;
    .item,
    .item-md{
      background: none;
      color: white;
      padding-top: 6%;
    }
    .list-md,
    .list{
      margin: 1px; 
      padding-bottom: 5px;
    }
  }
  .btn-ing{
    padding-top: 8% !important;
    padding-bottom: 16px;
  }
}

.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
//#endregion

//#region [MiPerfil]
page-profile {
  .list[inset]{
    margin: 0;
  }
  .list[inset] .item{
    border: 0;
    font-weight: 100;
    font-size: 	0.889em;
    background: #f2f2f2;
    color: #b2b2b2;
    margin-bottom: 10px;
    min-height: 3em !important;
  }
  .text-input{
    text-align: center;
  }  
}
//#endregion

//#region [Home]
page-home {
  background-color: #F5F5F5;
  .forms {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#F5F5F5;

    h2 {
      float: left;
      margin-top: 0;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .view-all {
      font-size: 14px;
      float: right;
      color: black;
      font-weight: bold;
    }
    .swiper-slide {
      align-items: normal;
    }
    .swiper-zoom-container {
      border:2px solid #ec455f;
      border-radius: 50%;
      width:65px;
      height:65px;
      background-color:white;
    }
    img {
      width: 32px;
      height: 32px;
    }
    ion-label {
      margin-top:6px;
      margin-bottom:6px;
      margin-right: 0;
      white-space: normal;
      font-size: 13px;
    }
  }
}
//#endregion

//#region [Pagina Detalle]
page-muro {
  .scroll-content {
    padding-top: 0!important;
  }
  page-news-detail.ion-page .scroll-content {
    padding-top: 16px!important;
  }
  page-benefits-detail.ion-page .scroll-content {
    padding-top: 16px!important;
  }
  page-galeria-detail.ion-page .scroll-content {
    padding-top: 16px!important;
  }
}

page-news-list,
page-benefits-list{
  .scroll-content {
    padding-top: 0!important;
  }
}

page-news-detail.ion-page .scroll-content,
page-benefits-detail.ion-page .scroll-content,
page-galeria-detail.ion-page .scroll-content {
  margin-top: 0!important;
}

page-news-detail,
page-benefits-detail,
page-galeria-detail {
  .toolbar-background {
    border:0;
    background-color: #91B8AF !important;
  }
  .bar-button-default{
    color: white;
  }
  .header-md::after {
    display: none;
  }
  .content-header {
    position: absolute;
    top:0;
    left:0;
    height: 260px;
    width: 100%;
    background-color:dimgrey;

    img {
      width: 100%;
      height: 100%;
    }
    h1 {
      color:white;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 16px;
      font-size:2.2em;
      background-color: rgba(0,0,0,.3);
    }
  }
  .content-body {
    padding-top: 255px;
    .metadata {
      clear: both;
      padding-top: 10px;
      margin-bottom: 10px;
    }
    .metadata .type{
      text-transform: uppercase;
      padding-right: 2%;
    }
    .metadata .date{
      color:#dedede;
      font-size:0.8em;
    }
    .social {
      float:right;
      width: 45%;
      text-align: right;
      .comments {
        .count {
          vertical-align: super;
        }
      }
    }
    .copete{ 
      clear: both;
      font-style: italic;
    }
    .content {
      clear: both;
      padding-bottom: 10px;
      font-size: 18px;
    }
  }
  .content-footer { 
    .comments {
        a {
          text-decoration: none;
        }
        p {
          font-size:1.6rem;
        }
        ion-label{
          white-space: normal;
        }
        .item-block {
          align-items:normal;
        }
        .list > .item-block:first-child, 
        .list > .item-block:last-child{
          border:0;
        }
        
        h2 {
          float: left;
        }
        div.write {
          float: right;
          font-size:16px;
        }
      }
  }
}
//#endregion

//#region [Beneficios]
page-benefits-list.ion-page .content-md .scroll-content { padding-top: 0; }
page-benefits-list.ion-page .content-ios .scroll-content { padding-top: 0; }

page-benefits-detail{
  h1 {
    float:left;
    width: 90%;
  }
  .like {
    width: 8%;
    float: right;
    text-align: right;
  }
}
page-benefits-list {
  .header-md::after {
    background-image: none;
  }
}
//#endregion

//#region [Formularios]
page-surveys-detail  {
  h2 {
    display: inline-block;
  }
  .list-md .item-block .item-inner, 
  .list-ios .item-block .item-inner  {
    border-bottom: none;
  }
  .item-input.item-textarea {
    border-bottom: none;
  }
  .list-header-md, 
  .list-header-ios {
    padding-left: 0;
    margin-bottom: 13px;
    min-height: 4.5rem;
    border-top: 1px solid #dedede;
    font-size: 20px;
    line-height: 25px;
  }

  .label-md,
  .label-ios {
    text-transform: lowercase;
      &:first-letter {
      text-transform: uppercase;
    }
  }

  ion-label {      
    text-overflow: initial;
    overflow: auto;
    white-space: normal;
  }

  ion-list-header, .item-datetime, .item-select, .item.item-textarea{
    padding-left: 0;    
    border-top: 1px solid #dedede;
    padding-top: 0; 
    .label-md, .label-ios {
      font-size: 20px;
      max-width: none;   
    }
  }
  .item-textarea {
    .input-wrapper {
      display: block;
    }
    .text-input-md,
    .text-input-ios  {
      margin-left: 0;
    }
  }

  .item-radio.item-radio-checked {
    margin-bottom: 2px;      
  }

  .item-radio .label-md,
  .item-radio .label-ios {
    text-transform: lowercase;
      &:first-letter {
      text-transform: uppercase;
    }
  }
  .button-md,
  .button-ios  {
    font-size: 18px;
  }

}
//#endregion


// [Detail Page]
// --------------------------------------------------
.content-header {
  .copete {
    clear: both;
    font-style: italic;
    padding-top:10px;
    padding-bottom: 10px;
  }
}
.content-header img {
  object-fit: cover;
  max-width: 100%;
}

// [Documents]
// [Info Util]
// --------------------------------------------------
page-documents, 
page-useful-info-list,
page-galeria-list {
  .header-md::after {
    //background-image: none;
  }
  .q-item.fav .q-item-content h2 {
    font-size: 16px;    
  }
}