//#region [ColorPalette]
:root {
  --PrimaryColor: #91B8AF;
  --SecondaryColor: #000000;
  --TertiaryColor: #91B8AF;
}
$logo-light: '../assets/img/logo-white.png';
$logo-dark: '../assets/img/logo.png';
$bg-login: '../assets/img/login.jpg';
//#endregion

//#region [Elements]
h1, h2, h3, h4{
  color: white;
}
a {
  color: #91B8AF;
}
p {
  color:var(--SecondaryColor);
}
form .button{ 
    background: white;
    color: #91B8AF !important;
}

.alert-button {
  color: #91B8AF;
}
//#endregion

//#region [Icons]
.icon-link1:before,
.icon-file-play:before,
.icon-clipboard:before,
.icon-info:before,
.icon-fast-mail:before,
.icon-cake:before,
.icon-celphone:before,
.icon-mail:before,
.icon-phone:before {
  color: #91B8AF;
}
.like ion-icon{
  color: #91B8AF;
}

ion-icon {
  &[class*="q-comments"] {
    background: #91B8AF;
  }
}
//#endregion

//#region [Toolbar]
.toolbar-title {
  color: #91B8AF;
}
.toolbar-background {
  background-color:#91B8AF;
}
.toolbar .custom-burguer .st0,
.toolbar .custom-burguer .st1{
  fill: #91B8AF;
}

.toolbar-search .st1{
  fill: #91B8AF;
}
//#endregion

//#region [Menu]
.bar-button-default {
  color: #91B8AF;
}
.sidemenu .label {
  color: #91B8AF;
}
.user-card .name {
  color: var(--SecondaryColor);
}
//#endregion

//#region [Tabs]
.tabbar  {
  background-color: rgb(212, 212, 212);
}
.tab-button[aria-selected=true] .tab-button-icon {
  color:black;
  opacity: 1;
}
.tab-button-icon {
  color: black;
  opacity: 0.5;
}
.tab-button[aria-selected=true] {
  background-color: rgb(173, 173, 173);
}
.tab-button {
  margin: 0px;
  padding: 0px;
  border-left: 1px solid rgb(129, 129, 129) !important;
}
//#endregion

//#region [Logo]
.q-logo .pic {
  background: url($logo-light) no-repeat;
  background-size: contain; 
}
.q-logo.bg {
  background-color:  white;
}
.q-logo.bg .pic {
  background:url($logo-dark) no-repeat;
  background-size: contain;
}
//#endregion

//#region [SearchBox]
.searchbar {
  background-color: white;
}
.searchbar .searchbar-input{
  background-color: #f2f2f2;
}
.searchbar .searchbar-input::placeholder{
  color: #b2b2b2;
}
//#endregion

//#region [ProfileCard]
.q-profile a {
  color: var(--SecondaryColor);
}
.q-profile-property {
  border-top-color: #dedede;
}
//#endregion

//#region [Card]
.q-card .type {
  color: var(--TertiaryColor);
}
.q-card .date {
  color: #b4b4b4;
}
//#endregion

//#region [ListItem]
.q-item {
  border-bottom-color: #ccc;
}
.q-item .q-item-content h2{
  color: #91B8AF;
}
.q-item .q-item-content p{
  color: var(--SecondaryColor);
}
.q-item .date{
  color: var(--TertiaryColor);
}
.q-item.avatar.today{
  border: 1px solid #91B8AF;
  .icon-gift:before {
    color: #91B8AF;
  }
}
.q-item .icon-celphone:before,
.q-item .icon-phone:before,
.q-item .icon-mail:before{
  color: #91B8AF;
}
//#endregion

//#region [chatbot]
page-chatbot {
  .wc-message-from-me .wc-message-content{
    background-color:#91B8AF;
  }
  .wc-message-from-me svg.wc-message-callout path {
    fill: #91B8AF;
  }
}
//#endregion



page-login,
page-activate-account-validate,
page-activate-account-password,
page-reset-password,
page-change-password {
  form { 
    input {
      text-align: left;
    }
    input::placeholder{
      color: white;
      text-align:left !important;
      font-size:1em;
    }
  }
  form .button{
    background-color:white;
    color: #91B8AF;
    text-transform: capitalize;
  }
}

page-activate-account-validate,
page-activate-account-password,
page-reset-password,
page-change-password {
  text-align: center;
  ion-content{
    background: #91B8AF
  }
  .toolbar-background {
    background: #91B8AF;
    border:0;
  }
  .toolbar-title {
    color: white;
  }
  .header-md::after{
    display: none;
    background-color: #91B8AF !important;
  }
  .bar-button-default {
    color:white;
  }
  p, a, .validation {
    color:white;
  }
  h1 {
    color: white;
    font-size: 1em;
  }
  form{
    .item,
    .item-md{
      background: none;
    }
    input{
      margin-top: 30px;
      color:white;
    }
    input::placeholder{
      color: white;
    }
  }
}

page-login .scroll-content{ 
  background-image: url($bg-login) ; 
  background-size: cover ;
  background-repeat: no-repeat ;
  background-position: center ;
  width: 100% ;
  border: none ;
}

page-benefits-list {
  button.button-clear-md,
  button.button-clear-ios {
    color: #91B8AF;
  }
}

page-surveys-detail {
  .item-radio-checked.item-ios ion-label,
  .item-radio-checked.item-md ion-label {
    color: #91B8AF;
  }
  .radio-md .radio-inner {
    background-color: #91B8AF;
  }
  .radio-ios .radio-checked .radio-inner,
  .radio-md .radio-checked {
    border-color: #91B8AF;
  }
  .checkbox-md-secondary .checkbox-checked,
  .checkbox-ios-secondary .checkbox-checked {
      border-color: #91B8AF;
      background-color: #91B8AF;
  }

  .radio-md .radio-checked,
  .radio-ios .radio-checked {
    border-color: #91B8AF;
  }

  .radio-md .radio-inner,
  .radio-ios .radio-inner {
    background-color: #91B8AF;
  }


}


// [Pagina Detalle]
// --------------------------------------------------
page-news-detail,
page-benefits-detail,
page-galeria-detail {
  .content-body {
    .metadata .type{
      color:  var(--TertiaryColor);
    }
  }
}