﻿@model QavantWeb.Models.Notification
@{
    ViewBag.Title = "Create";
}
<h2> Crear</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Notificación</h4>
    <hr />
    <!-- Alert -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="alert alert-warning alert-dismissible" id="myAlert">
        <a href="#" class="close">&times;</a>
        <p id="msgAlert"></p>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header navbar-inverse">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color:white">ATENCIÓN:</h4>
                </div>
                <div class="modal-body">
                    <p>No hay filtros ingresados. La notificación se enviará a todos los usuarios del sistema. ¿Desea continuar?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> NO </button>
                    <button type="submit" class="btn btn-primary"> SI </button>
                </div>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-2"><b>Título</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control titulo" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label texto-label-left col-md-2"><b>Mensaje</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control subtitulo", rows = "5" } })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label texto-label-left col-md-2"><b>Sección</b></div>
        <div class="col-md-10">
            @Html.DropDownList("SectionId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="BeneficioGroup">
        <div class="control-label texto-label-left col-md-2"><b>Beneficio</b></div>
        <div class="col-md-10">
            @Html.DropDownList("BenefitId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BenefitId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="NoticiaGroup">
        <div class="control-label texto-label-left col-md-2"><b>Noticia</b></div>
        <div class="col-md-10">
            @Html.DropDownList("NewsId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewsId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="CursoGroup">
        <div class="control-label texto-label-left col-md-2"><b>Curso</b></div>
        <div class="col-md-10">
            @Html.DropDownList("CourseId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="EncuestaGroup">
        <div class="control-label texto-label-left col-md-2"><b>Encuesta</b></div>
        <div class="col-md-10">
            @Html.DropDownList("SurveysId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SurveysId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="FormularioGroup">
        <div class="control-label texto-label-left col-md-2"><b>Formulario</b></div>
        <div class="col-md-10">
            @Html.DropDownList("FormsId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FormsId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="InfoUtilGroup">
        <div class="control-label texto-label-left col-md-2"><b>Información útil</b></div>
        <div class="col-md-10">
            @Html.DropDownList("InfoUtilId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.InfoUtilId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group" id="GaleriaGroup">
        <div class="control-label texto-label-left col-md-2"><b>Galerías</b></div>
        <div class="col-md-10">
            @Html.DropDownList("GaleriaId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GaleriaId, "", new { @class = "text-danger" })
        </div>
    </div>


    <hr />
    <div class="panel panel-default" id="pnlFiltros">
        <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5 row">
                    <div class="col-md-5"><label>Tipo de Filtro:</label></div>
                    <div class="col-md-7">
                        <select id="FilterType" class="form-control">
                            <option value="GROUP">Grupos</option>
                            <option value="AREA">Áreas</option>
                            <option value="SEX">Géneros</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5 row">
                    <div class=" filterOptions" id="FilterAreas_group">
                        <div class="col-md-2"><label>Áreas:</label></div>
                        <div class="col-md-10">
                            @Html.DropDownList("FilterAreas", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class=" filterOptions" id="FilterGroups_group">
                        <div class="col-md-2"><label>Grupos:</label></div>
                        <div class="col-md-10">
                            @Html.DropDownList("FilterGroups", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class=" filterOptions" id="FilterGender_group">
                        <div class="col-md-2"><label>Género:</label></div>
                        <div class="col-md-10">
                            <select id="FilterGenders" class="form-control">
                                <option value="M">Masculinos</option>
                                <option value="F">Femeninos</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary col-md-12" id="btn_FilterAdd">Agregar</button>
                    <input type="hidden" id="hdn_Edit" value="0" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <table id="tbl_Filters" class="table table-hover display compact stripe">
                        <thead>
                            <tr>
                                <td class="col-md-3">Tipo de Filtro</td>
                                <td class="col-md-4">Valor</td>
                                <td class="col-md-1"></td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.NotificationsFilters != null)
                            {
                                for (int i = 0; i < Model.NotificationsFilters.Count(); i++)
                                {
                                    <tr id="tr_fil_@i" style="@if(Model.NotificationsFilters.ToList()[i].Action=="B") { <text>display:none</text> }">
                                        <td>@Model.NotificationsFilters.ToList()[i].FilteType</td>
                                        <td>@Model.NotificationsFilters.ToList()[i].Description</td>
                                        <td>
                                            <button id="btn_FilterDelete" actionid="@i" type="button" class="btn btn-default btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            <input type="hidden" id="hdn_NotificationsFiltersAction_@i" name="NotificationsFilters[@i].Action" value="@Model.NotificationsFilters.ToList()[i].Action" />
                                            <input type="hidden" id="hdn_NotificationsFiltersId_@i" name="NotificationsFilters[@i].Id" value="@Model.NotificationsFilters.ToList()[i].Id" />
                                            <input type="hidden" id="hdn_NotificationsFiltersNotificationId_@i" name="NotificationsFilters[@i].NotificationId" value="@Model.NotificationsFilters.ToList()[i].NotificationId" />
                                            <input type="hidden" id="hdn_NotificationsFiltersFilteType_@i" name="NotificationsFilters[@i].FilteType" value="@Model.NotificationsFilters.ToList()[i].FilteType" />
                                            <input type="hidden" id="hdn_NotificationsFiltersFilterValue_@i" name="NotificationsFilters[@i].FilterValue" value="@Model.NotificationsFilters.ToList()[i].FilterValue" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class=" form-group col-md-12">
        <a href="@Url.Action("Index", "Notifications")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-primary" onclick="javascript: return confirmMessages();"> Enviar </button>
    </div>

</div>
}
@section Scripts {
    <!-- Print. -->
    <script type="text/javascript" src="~/Scripts/Pages/notifications.js?v=2"></script>
}