﻿@model QavantWeb.Models.Notification
@{
    ViewBag.Title = "Details";
}
<h2>Detalles</h2>
<div>
    <h4>Notificación</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.BenefitId != null)
        {
            <dt>
                Beneficio
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Benefit.Title)
            </dd>

        }
        @if (Model.NewsId != null)
        {
            <dt>
                Noticia
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Noticia.Titulo)
            </dd>
        }
        @if (Model.CourseId != null)
        {
            <dt>
                Curso
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cours.Title)
            </dd>
        }
        <dt>
            Sección
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>
        <dt>
            Título
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Mensaje
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            Fecha
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
@*<p>    
    @Html.ActionLink("Volver a la lista", "Index")
</p>*@


<hr />
<div class="form-group">
    <div class="col-md-10">
        <a href="@Url.Action("Index", "Notifications")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>       
    </div>
</div>