.card-title{
  font-size: 18px !important;
}

.text-master{
  cursor: pointer;
}

/deep/ a{
  color: #626262;
}

/deep/ a:hover{
  color: #626262;
}

/deep/.page-count {
  display: none;
}

/deep/ .modal-content{
  overflow: scroll;
}

/deep/ .datatable-header-cell {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
