@import "../../../styles.scss";

@include mq($from: mobile) {
  div.benefits{
    padding: 10px;
    h2{
      width: 95%;
      cursor: pointer;
      margin-top: 0px;
    }
    .like-content{
      position: absolute;
      right: 0;
      margin-top: 5px;
      cursor: pointer;
      margin-right: 10px;
      i{
        font-size: 20px;
      }
    }
    div.body{
      img{
        min-height: 300px;
        object-fit: cover !important;
        cursor: pointer;
      }
      p{
        color: #aeaeae;
        font-size: 12px;
      }
    }
  }
}

@include mq($from: tablet) {

}

@include mq($from: desktop) {

}

@include mq($from: wide) {

}
