<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
      BENEFICIOS
  </h1>

  <div class="day" data-social="day" [@enterAnimation]="!hasBenefist() ? 'loading' : 'ready'">
      <div class="gallery">
        <div class="gallery-filters p-t-20 p-b-10">
          <ul class="list-inline text-right">
            <li *ngIf="!showAll" class="active text-master p-r-5 p-l-5" (click)=getAll()>Todos</li>
            <li>
              <button class="btn btn-primary m-l-10"
                [ngStyle]="{'background-color': settingsService.getPrimaryColor(), 'border-color': settingsService.getPrimaryColor()}"
                (click)="slideRight.show()">Filtrar
              </button>
            </li>
          </ul>
        </div>
      </div>
      <isotope-grid class="gallery" [options]="galleryOptions">
        <isotope-item *ngFor="let item of cardData" class="">
          <app-card
            [data]="item"
            additionalClasses="share-other col1 social-card">
          </app-card>
        </isotope-item>
      </isotope-grid>
  
  </div>

  <div class="day" data-social="day" [@enterAnimation]="!hasBenefist() ? 'loading': 'ready'">
<!-- 
    <div class="gallery">
      <div class="gallery-filters p-t-20 p-b-10">
        <ul class="list-inline text-right">
          <li *ngIf="!showAll" class="active text-master p-r-5 p-l-5" (click)=getAll()>Todos</li>
          <li>
            <button class="btn btn-primary m-l-10"
            [ngStyle]="{'background-color': settingsService.getPrimaryColor(), 'border-color': settingsService.getPrimaryColor()}"
            (click)="slideRight.show()">Filtrar</button>
          </li>
        </ul>
      </div>
    </div> -->
          <!-- <isotope-grid class="gallery" [options]="myOptions" [options]="galleryOptions">
            <isotope-item *ngFor="let item of cardData" class="">
              <app-card
                [data]="item"
                additionalClasses="share-other col1 social-card">
              </app-card>
            </isotope-item>
          </isotope-grid> -->

    <!-- <div class="day" data-social="day" [@enterAnimation]="!hasBenefist() ? 'loading' : 'ready'">

      <isotope-grid class="gallery" [options]="myOptions" [options]="galleryOptions">
        <isotope-item *ngFor="let item of cardData" class="">
          <app-card
            [data]="item"
            additionalClasses="share-other col1">
          </app-card>
        </isotope-item>
      </isotope-grid>
  
    </div> -->
    
    <!-- <div *ngIf="hasBenefist()" class="row">
      <ng-container *ngFor="let item of cardData"> -->
        <!-- <app-card class=" col-xs-12 col-sm-12 col-md-6 col-lg-4"
          [data]="item"
          additionalClasses="share-other col12">
        </app-card> -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
          <div class="card benefits">
            <h2 [ngStyle]="settingsService.getTitleDetailStyle()"
                (click)="goToDetail(bet.Id)">
                {{bet.Title}}
            </h2>
            <span *ngIf="!bet.Liked" class="like-content"
              (click)="like(bet, true)">
              <i class="far fa-heart" [ngStyle]="{'color': settingsService.getPrimaryColor()}"></i>
            </span>
            <span *ngIf="bet.Liked" class="like-content"
              (click)="like(bet, false)">
              <i class="fas fa-heart" [ngStyle]="{'color': settingsService.getPrimaryColor()}"></i>
            </span>
            <div class="body">
              <ng-container *ngIf="bet.Image !== null">
                <img [src]="bet.Image" alt="{{bet.Title}}"
                    class="card-img" (click)="goToDetail(bet.Id)">
              </ng-container>
              <h3>{{bet.Subtitle}}</h3>
              <p>{{bet.Date}}</p>
            </div>
          </div>
        </div> -->
      <!-- </ng-container>
    </div> -->

  </div>

  <ng-container *ngIf="cardData?.length < 1 && hasBenefist()">
    <div class="alert alert-info" role="alert">
      <p class="text-center">
        No se encontraron resultados.
      </p>
    </div>
  </ng-container>

</pg-container>
<!-- MODAL STICK UP SMALL ALERT -->
<div bsModal #slideRight="bs-modal" class="modal filters-modal fade slide-right" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content">

        <div class="padding-40 ">
          <a (click)="slideRight.hide()" class="filter-close quickview-toggle pg pg-close" href="javascript:void(0)"></a>
          <form role="form">
          <h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Filtrar por</h5>
          <div class="radio radio-danger">
            <ng-container *ngFor="let cat of categories">
                <input type="radio" (click)="filterBy(cat)" value="{{cat.Id}}" name="filter" id="{{cat.Id}}">
                <label for="{{cat.Id}}">{{cat.Nombre}}</label>
                <br>
            </ng-container>
            <input type="radio" (click)="getAll()"  name="filter" id="todos">
            <label for="todos">Todos</label>
          </div>
              <!--<h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Price range</h5>-->
              <!-- <pg-slider name="filter-slider" Range [Color]="'danger'" [Step]="10" [DefaultValue]="[20, 50]"></pg-slider> -->
              <!-- <button (click)="slideRight.hide()" class="pull-right btn btn-danger btn-cons m-t-40">Aplicar</button> -->
          </form>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
  <!-- END MODAL STICK UP SMALL ALERT -->
