page-profile {
    .box-title{
        height: 140px;
        background-color: rgb(236, 236, 236);
        padding: 20px;
    }
    .title{
        font-size: 25px;
        color: rgb(66, 66, 66);
        margin-bottom: 10px;
    }
    .data-label{
        font-size: 16px;
        color: rgb(66, 66, 66);
    }
    .custom-data-icon {
        zoom: 0.5;
    }
    .custom-config-icon {
        zoom:0.8;
        margin-top: 35px
    }
    .config-col{
        text-align: right;
        color: rgb(66, 66, 66);
    }

    /* Segment */

    .seg-btn{
        color: rgb(92, 92, 92) !important;
        text-transform: none !important;
        font-size: 13px !important;
    }
    .segmento{
        height: 40px !important;
        margin-bottom: 10px !important;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: white !important;
        background-color: white !important;
    }

    .segment-md .segment-button {
        background-color: rgb(231, 231, 231) !important;
    }

    .label-md{
        margin: 0px;
    }

    /* Segment */

    /* Card */
    .custom-card{
        height: 165px;
        border-bottom: 1px solid rgb(212, 212, 212);
        margin: 10px;
    }

    .card-title{
        font-size: 20px;
        color: rgb(66, 66, 66);
    }

    .icon-title{
        zoom: 0.6;
        color: rgb(201, 182, 122);
    }

    .card-more-col{
        text-align: right;
        margin-right: 10px;
        color: rgb(66, 66, 66);
    }

    .card-body{
        color: rgb(66, 66, 66);
        font-size: 13px;
    }

    .card-date{
        color: rgb(160, 160, 160);
        font-size: 13px;
        margin-top: 10px;
    }
    
    .card-info-icon{
        zoom: 0.6;
        color: rgb(66, 66, 66);
        margin-right: 5px;
    }

}
