<qavant-header></qavant-header>

<ion-content >
  <div class="box-title">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 class="title">{{ user.name }}</h1>
          <ion-label class="data-label">
            <ion-icon class="custom-data-icon" name="mail"></ion-icon>
            {{ user.email }}
          </ion-label>
          <ion-label class="data-label">
            <ion-icon class="custom-data-icon" name="call"></ion-icon>
            {{ user.phone }}
          </ion-label>
        </ion-col>
        <ion-col class="config-col">
            <ion-icon class="custom-config-icon" name="ios-construct"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-segment (ionChange)="segmentChanged($event)" class="segmento" [(ngModel)]="tabs">
      <ion-segment-button value="activas" class="seg-btn">
          <ion-label>Publicaciones activas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="desactivadas" class="seg-btn">
          <ion-label>Publicaciones desactivadas</ion-label>
      </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="tabs">
      <div *ngSwitchCase="'activas'">
        <div class="custom-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label class="card-title">
                    <ion-icon class="icon-title" name="star"></ion-icon>
                    Título Premium
                  </ion-label>
                </ion-col>
                <ion-col class="card-more-col">
                    <ion-icon name="md-more"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="card-body">
              Bajada premium Bajada premium Bajada premium Bajada premium
              Bajada premium Bajada premium Bajada premium Bajada premium
              Bajada premium Bajada premium
            </div>

            <div class="card-date">
              Creada el 7/06/19 | Vencimiento 23 días
            </div>

            <ion-grid class="card-info">
              <ion-row>
                <ion-col>
                  <ion-icon class="card-info-icon" name="eye"></ion-icon>283
                </ion-col>
                <ion-col>
                    <ion-icon class="card-info-icon" name="mail"></ion-icon>189
                </ion-col>
                <ion-col>
                    <ion-icon class="card-info-icon" name="call"></ion-icon>33
                </ion-col>
              </ion-row>
            </ion-grid>

        </div>
        <div class="custom-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label class="card-title">
                    <ion-icon class="icon-title" name="star"></ion-icon>
                    Título Premium
                  </ion-label>
                </ion-col>
                <ion-col class="card-more-col">
                    <ion-icon name="md-more"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="card-body">
              Bajada premium Bajada premium Bajada premium Bajada premium
              Bajada premium Bajada premium Bajada premium Bajada premium
              Bajada premium Bajada premium
            </div>

            <div class="card-date">
              Creada el 7/06/19 | Vencimiento 23 días
            </div>

            <ion-grid class="card-info">
              <ion-row>
                <ion-col>
                  <ion-icon class="card-info-icon" name="eye"></ion-icon>283
                </ion-col>
                <ion-col>
                    <ion-icon class="card-info-icon" name="mail"></ion-icon>189
                </ion-col>
                <ion-col>
                    <ion-icon class="card-info-icon" name="call"></ion-icon>33
                </ion-col>
              </ion-row>
            </ion-grid>

        </div>
        <div class="custom-card">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label class="card-title">
                    <ion-icon class="icon-title" name="star"></ion-icon>
                    Título Premium
                  </ion-label>
                </ion-col>
                <ion-col class="card-more-col">
                    <ion-icon name="md-more"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="card-body">
              Bajada premium Bajada premium Bajada premium Bajada premium
              Bajada premium Bajada premium Bajada premium Bajada premium
              Bajada premium Bajada premium
            </div>

            <div class="card-date">
              Creada el 7/06/19 | Vencimiento 23 días
            </div>

            <ion-grid class="card-info">
              <ion-row>
                <ion-col>
                  <ion-icon class="card-info-icon" name="eye"></ion-icon>283
                </ion-col>
                <ion-col>
                    <ion-icon class="card-info-icon" name="mail"></ion-icon>189
                </ion-col>
                <ion-col>
                    <ion-icon class="card-info-icon" name="call"></ion-icon>33
                </ion-col>
              </ion-row>
            </ion-grid>

        </div>
      </div>

      <div *ngSwitchCase="'desactivadas'">
          <div class="custom-card">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="card-title">
                      <ion-icon class="icon-title" name="star"></ion-icon>
                      Título Premium
                    </ion-label>
                  </ion-col>
                  <ion-col class="card-more-col">
                      <ion-icon name="md-more"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
  
              <div class="card-body">
                Bajada premium Bajada premium Bajada premium Bajada premium
                Bajada premium Bajada premium Bajada premium Bajada premium
                Bajada premium Bajada premium
              </div>
  
              <div class="card-date">
                Creada el 7/06/19 | Vencida
              </div>
  
              <ion-grid class="card-info">
                <ion-row>
                  <ion-col>
                    <ion-icon class="card-info-icon" name="eye"></ion-icon>283
                  </ion-col>
                  <ion-col>
                      <ion-icon class="card-info-icon" name="mail"></ion-icon>189
                  </ion-col>
                  <ion-col>
                      <ion-icon class="card-info-icon" name="call"></ion-icon>33
                  </ion-col>
                </ion-row>
              </ion-grid>
  
          </div>
          <div class="custom-card">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="card-title">
                      <ion-icon class="icon-title" name="star"></ion-icon>
                      Título Premium
                    </ion-label>
                  </ion-col>
                  <ion-col class="card-more-col">
                      <ion-icon name="md-more"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
  
              <div class="card-body">
                Bajada premium Bajada premium Bajada premium Bajada premium
                Bajada premium Bajada premium Bajada premium Bajada premium
                Bajada premium Bajada premium
              </div>
  
              <div class="card-date">
                Creada el 7/06/19 | Vencida
              </div>
  
              <ion-grid class="card-info">
                <ion-row>
                  <ion-col>
                    <ion-icon class="card-info-icon" name="eye"></ion-icon>283
                  </ion-col>
                  <ion-col>
                      <ion-icon class="card-info-icon" name="mail"></ion-icon>189
                  </ion-col>
                  <ion-col>
                      <ion-icon class="card-info-icon" name="call"></ion-icon>33
                  </ion-col>
                </ion-row>
              </ion-grid>
  
          </div>
          <div class="custom-card">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label class="card-title">
                      <ion-icon class="icon-title" name="star"></ion-icon>
                      Título Premium
                    </ion-label>
                  </ion-col>
                  <ion-col class="card-more-col">
                      <ion-icon name="md-more"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
  
              <div class="card-body">
                Bajada premium Bajada premium Bajada premium Bajada premium
                Bajada premium Bajada premium Bajada premium Bajada premium
                Bajada premium Bajada premium
              </div>
  
              <div class="card-date">
                Creada el 7/06/19 | Vencida
              </div>
  
              <ion-grid class="card-info">
                <ion-row>
                  <ion-col>
                    <ion-icon class="card-info-icon" name="eye"></ion-icon>283
                  </ion-col>
                  <ion-col>
                      <ion-icon class="card-info-icon" name="mail"></ion-icon>189
                  </ion-col>
                  <ion-col>
                      <ion-icon class="card-info-icon" name="call"></ion-icon>33
                  </ion-col>
                </ion-row>
              </ion-grid>
  
          </div>
      </div>
      
  </div>


</ion-content>


