﻿@model QavantWeb.Models.Familiare

@{
    ViewBag.Title = "Edit";
    var myUserId = ViewData["myUserId"];
    var uId = ViewData["uId"];

}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @*--alert--*@
        <div class="alert alert-warning alert-dismissible" id="myAlert">
            <a href="#" class="close">&times;</a>
            <p id="msgAlert"></p>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Nombre</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Apellido</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Vínculo</div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.VinculoCatalogoId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VinculoCatalogoId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Fecha de Nacimiento</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", type = "date", id = "from_Id" })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Género</div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GeneroCatalogoId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GeneroCatalogoId, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Familiares", new {id = uId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                <button type="submit" class="btn btn-primary" id="btn_guardar"> Guardar </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    <!-- Validación de fecha de nacimiento  -->
    <script src="~/Scripts/Pages/fecha-nac-validacion.js"></script>
}

<script>
    $(document).ready(function () { $("#myAlert").alert().hide(); });
</script>