
<div class="social-wrapper">
  <div class="social " data-pages="social">
    <!-- START JUMBOTRON -->
    <div class="jumbotron" data-social="cover" coverpage>
      <div class="cover-photo" pg-parallax
      [ngStyle]="{'background-image': 'url(' + settingsService.getWallImage() + ')'}">
      </div>
      <div class="{% if mode =='horizontal_menu' %} container  {% else %} container-fluid {% endif %}  container-fixed-lg sm-p-l-0 sm-p-r-0">
        <div class="inner">
          <div class="pull-bottom bottom-left m-b-40 sm-p-l-15">
            <h5 class="text-white no-margin">
              {{settingsService.getWallTitle()}}
            </h5>
            <h1 class="text-white no-margin">
              {{settingsService.getWallSubtitle()}}
            </h1>
          </div>
        </div>
      </div>
    </div>

      <!-- END JUMBOTRON -->
    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
      <div class="feed">
      <!-- START DAY -->

        <div class="day" data-social="day" [@enterAnimation]="!hasData() ? 'loading':'ready'">
          <isotope-grid class="gallery" [options]="myOptions">
            <isotope-item *ngFor="let item of news; let i = index">
              <app-card *ngIf="item.Tipo !== 'GALER'"
                [data]="item"
                additionalClasses="share-other col1 social-card">
              </app-card>
              <app-card-gallery *ngIf="item.Tipo == 'GALER'"
                [data]="item" 
                [insideCard]="true">
              </app-card-gallery>
            </isotope-item>
            <!-- <isotope-item *ngFor="let item of feed; let isFirst = first">
            </isotope-item> -->
          </isotope-grid>
        </div>
        <!-- END DAY -->
      </div>
      <!-- END FEED -->
    </div>
    <!-- END CONTAINER FLUID -->
  </div>
  <!-- /container -->
</div>
<app-modal-gallery></app-modal-gallery>