div.social-card{
  cursor: pointer;
}

div.title{
  padding-right: 16px;
  padding-left: 16px;
}

div.title h2{
  font-size: 16px !important;
  line-height: 25px;
  font-weight: 600;
}

div.card-content{
  position: relative;
}

div.category{
  background-color: #0aa699;
  color: white;
  right: 5px;
  top: 5px;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
}

i.fa-circle{
  font-size: 8px;
  top: 0;
  margin-top: -2px;
  // margin-left: 5px;
  // position: absolute;
}

