﻿@model IEnumerable<QavantWeb.Models.Estudio>
@{
                /**/

                ViewBag.Title = "Index";
                var UserId = ViewData["UserId"];

}
<h2>Estudios </h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Estudios", new { id = UserId })" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo </a>

</div>
@if (Model.Count() > 0)
{
    <table class="table" id="tbl_estud">
        <tr>

            <th>
                Estudios
            </th>
            <th>
                Establecimiento
            </th>
            <th>
                Título
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
            <th>
                Estudios Completos
            </th>
          


            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Catalogo.DescripcionLarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Establecimiento.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo.Descripcion)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.FechaDesde, "{0:dd-MM-yyyy}")
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.FechaHasta, "{0:dd-MM-yyyy}")
                </td>
                @if (item.EstudioCompleto == true)
                {
                    <td>
                        Si
                    </td>
                }
                else
                {
                    <td>
                        No
                    </td>
                }

                <td>
                    <a href="@Url.Action("Edit", "Estudios", new { id = item.Id, uId = UserId })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                    <a href="@Url.Action("Delete", "Estudios", new { id = item.Id, uId = UserId })" onclick="javascript: return confirm('¿Confirma que desea eliminar este dato?');" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </table>
}
    <hr />
    <div>
        <a href="@Url.Action("Edit", "Users", new {id = UserId})" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
    </div>
