<div class="reactions">

  <div *ngIf="showIcons" 
    class="content-reactions" 
    (mouseover)="showReactions()"
    (mouseout)="hideReactions()">
    <ng-container *ngFor="let option of reactions" >
      <span>
        <img class="iconReaction" 
          (click)="saveReaction(option)"
          [src]="option.icono" 
          alt="{{option.nombre}}"
          title="{{option.nombre}}">
      </span>
    </ng-container>
  </div>
  <span
    (mouseover)="showReactions()" 
    (mouseout)="hideReactions()">
    <img src="{{getIconoDefault()}}" 
      [ngClass]="userHasReaction() ? 'iconReaction' : 'iconReaction default'" alt="" title="">
  </span>
  <span *ngIf="getTotal() > 0" class="action-name">
    {{getNameDefault()}}
  </span>
  <span class="icons">
      <ng-container *ngFor="let option of reactions; let i = index">
          <span *ngIf="i < 3">
            <img class="iconTotal" 
              (click)="saveReaction(option)"
              [src]="option.icono" 
              alt="{{option.nombre}}"
              title="{{option.nombre}}">
          </span>
        </ng-container>
        <span>{{getTotal()}}</span>
  </span>
</div>
