<div [ngClass]="{'social-card card col1': insideCard}">
  <div class="gallery-item"
    [attr.data-width]="data.Destacada ? 2 : 1" 
    [attr.data-height]="data.Destacada ? 2 : 1" 
    (click)="toggleModal($event)">
        <!-- START PREVIEW -->
      <!-- <img *ngIf="data.thumbnail.length === 1" src="{{data.thumbnail}}" alt="" class="image-responsive-height"> -->
      <img *ngIf="hasImage()" src="{{data.ImagenPortada}}" alt="" class="image-responsive-height">

      <!-- <div *ngIf="data.thumbnail.length > 1" class="swiper-container full-height" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper full-height">
            <div class="swiper-slide slide-front full-height" 
              [ngStyle] = "{'background-image': 'url('+data.ImagenPortada+')'}">
            </div>
            <div class=" swiper-slide  slide-back full-height" 
              [ngStyle] = "{'background-image': 'url('+data.ImagenPortada+')'}">
            </div>
        </div>
      </div> -->
        
      <!-- END PREVIEW -->
      <!-- START ITEM OVERLAY DESCRIPTION -->
      <div class="overlayer bottom-left full-width">
        <div class="overlayer-wrapper item-info ">
          <div class="gradient-grey p-l-10 p-r-10 p-b-5">
            <div *ngIf="data.Destacada !== true">
              <h3 class="pull-left title bold text-white fs-14 p-t-0 m-b-0">
                {{data.Titulo}}
              </h3>
              <h3 class="pull-right text-white  m-b-0 date">
                {{data.FechaAlta}}
              </h3>
                <div class="clearfix"></div>
            </div>
              
            <div *ngIf="data.Destacada === true">
              <h3 class="pull-left title bold text-white no-margin">
                {{data.Titulo}}
              </h3>
              <h3 class="pull-right text-white no-margin">
                {{data.FechaAlta}}
              </h3>
              <div class="clearfix"></div>
              <!-- <span class="hint-text pull-left text-white">
                {{title}}
              </span> -->
              <div class="clearfix"></div>
            </div>




              <!-- <div class="">
                <h5 class="text-white light">
                  {{data.description}}
                </h5>
              </div> -->
              
              
              <div class="m-t-10 m-t-0">
                  <!-- <div class="thumbnail-wrapper d32 circular m-t-5">
                    <img width="40" height="40" src="{{data.author.avatar}}" data-src="{{data.author.avatar}}" pgRetina src2x="{{data.author.avatar2x}}" alt="">
                  </div>
                  <div class="inline m-l-10">
                    <p class="no-margin text-white fs-12">asdfasdfasdfasdf</p>
                    <p class="rating">
                      <i class="fa fa-star rated"></i>
                      <i class="fa fa-star rated"></i>
                      <i class="fa fa-star rated"></i>
                      <i class="fa fa-star rated"></i>
                      <i class="fa fa-star"></i>
                    </p>
                  </div>
                  <div class="pull-right m-t-10">
                    <button class="btn btn-white btn-xs btn-mini bold fs-14" type="button">+</button>
                  </div> -->
                  <div class="clearfix"></div>
                  <h4 class="subTitle text-white p-t-0 m-t-0 m-b-0">
                    {{data.Copete}}
                  </h4>
                  <app-reactions [data]="data"></app-reactions>
                </div>
          </div>
        </div>
      </div>
      <!-- END PRODUCT OVERLAY DESCRIPTION -->
  </div>

</div>