<!-- START CONTAINER FLUID -->
<pg-container>
  <div class="row" [@enterAnimation]="!hasForm() ? 'loading':'ready'">
    <div class="col-sm-12">
      <h1 *ngIf="hasForm()" [ngStyle]="settingsService.getTitleSectionStyle()">
          {{getPollTitle()}}
      </h1>
      <p *ngIf="send || hasForm()" class="text-center">
        {{form.Description}}
      </p>
      <div class="row justify-content-md-center">
        <ng-container *ngIf="hasForm() && hasQuestions(); else noQuestions">

            <div class="col col-lg-7">
              <ng-container *ngIf="send; else Form">
                <div *ngIf="msn !== ''" class="alert alert-success" role="alert">
                  {{msn}}
                </div>
              </ng-container>
              <ng-template #Form>
                <div class="card card-default">

                <div class="card-body">

                  <form (ngSubmit)="savePolls($event)">
                    <div *ngIf="answers === 0" class="alert alert-danger">
                      Es necesario responder minimo una opción o completar campos requeridos.
                    </div>

                    <!-- Select One Option -->
                    <ng-container *ngFor="let question of getQuestions()">
                        <ng-container *ngIf="setDropdwn(question)">
                          <div class="form-group col-md-12">
                            <label class="card-title"
                              [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                              <strong>{{question.Order}}. </strong>
                              {{question.Question}}
                            </label>
                            <pg-select style="width: 100%;"
                              [(ngModel)]="question.AnswerOptionId"
                              [ngModelOptions]="{standalone: true}"
                              [required]="question.Required"
                              [PlaceHolder]="'Selecciona una opción'"
                              (ngModelChange)="setOptionSelected(question, $event)"
                              AllowClear ShowSearch>
                              <pg-option
                                *ngFor="let option of question.Options"
                                [Label]="option.Description"
                                [Value]="option.Id"
                                [Disabled]="!option.Enabled">
                              </pg-option>
                            </pg-select>
                            <div *ngIf="question.validate" class="alert alert-danger">
                                *Campo Requerido.
                            </div>
                          </div>
                        </ng-container>
                        <!-- Option Type Radio Bottom -->
                        <ng-container *ngIf="setOption(question)">
                          <div class="form-group col-md-12">
                            <label class="card-title"
                              [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                                <strong>{{question.Order}}. </strong>
                                {{question.Question}}
                              </label>
                            <div class="radio radio-success">
                              <ng-container *ngFor="let option of question.Options">
                                <input
                                  type="radio" name="radio_{{question.Id}}"
                                  [required]="question.Required"
                                  (click)="setOptionRadio(option, question.Id)"
                                  id="{{option.Id}}">
                                <label for="{{option.Id}}">
                                  {{option.Description}}
                                </label>
                              </ng-container>
                            </div>
                            <div *ngIf="question.validate" class="alert alert-danger">
                                *Campo Requerido.
                            </div>
                          </div>
                        </ng-container>

                        <!-- Select Multiple Options -->
                        <ng-container *ngIf="setMultipleOption(question)">
                          <div class="form-group col-md-12">
                            <label class="card-title" [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                                <strong>{{question.Order}}. </strong>
                                {{question.Question}}
                              </label>
                              <pg-select style="width: 100%;" [ngModelOptions]="{standalone: true}"
                                      [Mode]="'multiple'"
                                      [PlaceHolder]="'Selecciona'"
                                      [(ngModel)]="question.client"
                                      (ngModelChange)="setOptionMultiple(question, $event)"
                                      [required]="question.Required"
                                      [NotFoundContent]="'Not found'">
                                <pg-option
                                  *ngFor="let option of question.Options"
                                  [Label]="option.Description"
                                  [Value]="option.Id"
                                  [Disabled]="!option.Enabled">
                                </pg-option>
                              </pg-select>
                              <div *ngIf="question.validate" class="alert alert-danger">
                                  *Campo Requerido.
                              </div>
                          </div>
                        </ng-container>

                        <ng-container *ngIf="setInputText(question)">
                          <div class="form-group col-md-12">
                            <label [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                              <strong>{{question.Order}}. </strong>
                              {{question.Question}}
                            </label>
                            <input [(ngModel)]="question.Answer" autocomplete="off"
                              [ngModelOptions]="{standalone: true}" type="text" name="text"
                            class="form-control" [required]="question.Required">
                            <div *ngIf="question.validate" class="alert alert-danger">
                              *Campo Requerido.
                            </div>
                          </div>
                        </ng-container>
                        <!-- Campo tipo date -->
                        <ng-container *ngIf="setDate(question)">
                          <div class="form-group col-md-12">
                            <label [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                                <strong>{{question.Order}}. </strong>
                                {{question.Question}}
                              </label>
                            <div class="input-group date">
                              <pg-datepicker [(ngModel)]="question.Answer"
                                [Format]="'DD-MM-YYYY'"
                                (ngModelChange)="setDateFormat($event, question)"
                                [ngModelOptions]="{standalone: true}"
                                [required]="question.Required"
                                [Placeholder]="'Selecciona tu fecha'"></pg-datepicker>
                                <div class="input-group-append">
                                  <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                  </span>
                                </div>
                              </div>
                              <div *ngIf="question.validate" class="alert alert-danger">
                                  *Campo Requerido.
                              </div>
                          </div>
                        </ng-container>
                        <!-- Campo tipo textarea -->
                        <ng-container *ngIf="setTextArea(question)">
                          <div class="form-group col-md-12">
                            <label [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                                <strong>{{question.Order}}. </strong>
                                {{question.Question}}
                              </label>
                            <textarea [(ngModel)]="question.Answer"
                            [name]="question.AnswerOptionId"
                            [required]="question.Required"
                            [ngModelOptions]="{standalone: true}"
                            rows=8></textarea>
                            <div *ngIf="question.validate" class="alert alert-danger">
                                *Campo Requerido.
                            </div>
                          </div>
                        </ng-container>

                    </ng-container>

                      <button type="submit" class="btn btn-primary float-right"
                        type="submit" [ngStyle]="settingsService.getBtnActionStyle()"
                      (click)="savePolls()">Enviar</button>

                  </form>
                </div>
              </div>
              </ng-template>
          </div>
          </ng-container>
          <ng-template #noQuestions>
            <div *ngIf="hasForm()" class="alert alert-danger">
              No hay preguntas
            </div>
          </ng-template>
      </div>

    </div>
  </div>
</pg-container>

