div.notification{
  background-color: white;
  position: absolute;
  top: 0;
  // bottom: 0;
  right: 0;
  margin-right: 30px;
  width: 25%;
  height: 100px;
  margin-bottom: -50px;
  padding: 15px;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.125);
  // box-shadow: #28a745;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.125);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.125);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.125);
  border-radius: 6px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  // border-left: 1px solid rgba(0, 0, 0, 0.125);
  // border-right: 1px solid rgba(0, 0, 0, 0.125);
}
