﻿@model IEnumerable<QavantWeb.Models.ActionLog>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
<link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />


@{
    /**/

    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Dashboard</h2>
<hr />


<br />
<br />

<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="containerRepercusion" style="width: 100%; min-height: 400px; margin: 0 auto;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 ">
        <div class="panel">
            <div class="panel-heading">
                <div style="height:400px;">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center"><b>Usuarios más participativos</b></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pre-scrollable scroll">
                                <table class="table hover display compact stripe no-margin">

                                    <tbody>
                                        @foreach (var item in ((List<QavantWeb.Models.est_Dashboard_UsuariosMasParticipativos_Result>)ViewBag.listaUsuariosTabla))
                                        {
                                            <tr>
                                                <td class="text-center" width="10%">
                                                    <h3 class="text-center no-margin">#@item.Ranking</h3>
                                                    <small><b>@item.CantTotal</b></small>
                                                </td>
                                                <td width="15%">
                                                    @if (item.imagen != "")
                                                    {
                                                        <img src="@item.imagen" style="max-width:100%;" class="thumbnail no-margin">
                                                    }
                                                    else
                                                    {
                                                        //foreach (var i in ViewBag.listaIniciales)
                                                        //{
                                                        @*<div class="contenedor-text">
                                                                <div class="circular-shadow-dash circular-shadow" style="background-color:@ViewBag.ColorPrincipal"></div>
                                                                <div class="texto-centrado-dash texto-centrado"></div>
                                                            </div>*@

                                                        //}

                                                    }
                                                </td>
                                                <td>
                                                    <h5 class="no-margin"><b>@item.UsuarioNombre</b></h5>
                                                    <small><i class="fa fa-eye" aria-hidden="true" style="color: #058DC7"></i> @item.CantVisitas | <i class="fa fa-smile-o" aria-hidden="true" style="color:#ED561B"></i> @item.CantSentimientos | <i class="fa fa-comment-o" aria-hidden="true" style="color:#50B432"></i> @item.CantComentarios</small>
                                                </td>

                                                <td class="text-right">
                                                    <small>@item.FechaUltimaActividad</small><br />
                                                    <small>Última Actividad</small>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerAccesoPorDia" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerAccesoPorHora" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
            </div>
        </div>
    </div>
</div>



<script>
    Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        lang: {
            loading: 'Cargando...',
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            shortMonths: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            exportButtonTitle: "Exportar",
            printButtonTitle: "Imprimir",
            rangeSelectorFrom: "De",
            rangeSelectorTo: "Hasta",
            rangeSelectorZoom: "Período",
            downloadPNG: 'Descargar imagen PNG',
            downloadJPEG: 'Descargar imagen JPEG',
            downloadPDF: 'Descargar documento PDF',
            downloadSVG: 'Descargar imagen SVG',
            printChart: "Imprimir",
            downloadCSV: 'Descargar CSV',
            downloadXLS: 'Descargar XLS',
            openInCloud: 'Abrir en Highcharts Cloud'
        }
    });

    /* DONA AUDIENCIA ACTIVA */
    //Highcharts.chart('containerDonaAudienciaActiva', {
    //    chart: {
    //        plotBackgroundColor: null,
    //        plotBorderWidth: 0,
    //        plotShadow: false,
    //        margin: [0, 0, 0, 0]
    //    },
    //    title: {
    //        text: ''
    //    },
    //    exporting: false,
    //    tooltip: {
    //        pointFormat: '<b>{point.percentage:.1f}%</b>'
    //        //enabled: false
    //    },
    //    plotOptions: {
    //        pie: {
    //            startAngle: -90,
    //            endAngle: 90,
    //            center: ['50%', '95%'],
    //            size: '160%'
    //        }
    //    },
    //    series: [{
    //        type: 'pie',
    //        innerSize: '50%',
    //        data: [
    //            ['Activados', 93.1],
    //            ['Sin Activar', 6.9]
    //        ],
    //        colors: ['#50B432', '#ED561B'],
    //        dataLabels: {
    //            enabled: false
    //        }
    //    }]
    //});

    /* ACCESOS POR HORA */
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'containerAccesoPorHora',
        },
        title: {
            text: '<b>Visitas por Hora</b>'
        },
        subtitle: {
            @*text: 'El gŕafico muestra los accesos a los distintos módulos en el día de  @Html.Raw(ViewBag.fAyer)'*@
             text: 'El gŕafico muestra los accesos a los distintos módulos de los últimos 30 días.'
        },
        yAxis: {
            title: {
                text: 'Cantidad de Visitas'
            },
            allowDecimals: false
        },
        xAxis: {
            labels: {
                rotation: -45
            },
            categories: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },
        series: [{
            name: 'Visitas',
            data:  [@Html.Raw(ViewBag.CantVisitPorHoraCanales)],
            showInLegend: false
        }],
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });

    /* ACCESOS POR DÍA */
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'containerAccesoPorDia',
        },
        title: {
            text: '<b>Visitas por día</b>'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                rotation: -45
            }
        },
        yAxis: {
            title: {
                text: 'Cantidad de Visitas'
            }
        },
        plotOptions: {
            series: {
                pointStart: Date.UTC(@Html.Raw(ViewBag.fAnio), @Html.Raw(ViewBag.fMes), @Html.Raw(ViewBag.fDia)),
                pointInterval: 24 * 3600 * 1000 // one day
            }
        },
        series: [{
            name: 'Visitas',
            data:  [@Html.Raw(ViewBag.CantidadVisitasPorDiasCanales)],
            showInLegend: false
        }],
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });


    /**REPERCUSION**/
    Highcharts.chart('containerRepercusion', {
        chart: {
            type: 'bar'
        },
        title: {
            text: '<b>Módulos con mayor repercusión</b>'
        },
        xAxis: {
            categories:  [@Html.Raw(ViewBag.MayorRepercTitulo)]
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            labels:
            {
                enabled: false
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'Visitas',
            data:  [@Html.Raw(ViewBag.MayorRepecVisitas)]
        }, {
            name: 'Comentarios',
            data:  [@Html.Raw(ViewBag.MayorRepercComentarios)]
        }, {
            name: 'Reacciones',
            data:  [@Html.Raw(ViewBag.MayorRepercSentimientos)]
            }],
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });

</script>