﻿<div style='border:1px solid #ccc; padding:10px;'>
    <h2>@Model.Titulo</h2>
    <h4>@Model.Introduccion</h4>
    <p><strong>Usuario: </strong> @Model.UsuarioApellido, @Model.UsuarioNombre</p>
    <p><strong>Email: </strong> @Model.UsuarioEmail</p>
</div>

<hr />

<div style='border:1px solid #ccc; padding:10px;'>
    @foreach (var pregunta in @Model.Preguntas)
    {
        <p><strong>@pregunta.Enunciado: </strong></p>
        if (pregunta.RespuestasSeleccion.Count > 0)
        {
            <ul>
                @foreach (var seleccion in pregunta.RespuestasSeleccion)
                {
                    <li>@seleccion.Descripcion</li>
                }
            </ul>
        }
        else
        {
            @pregunta.RespuestaTexto
        }
    }
</div>