<qavant-header></qavant-header>
<ion-content>
    <div *ngIf="isReady">

    <div class="filtro-box">
        <div class="row ">
            <ion-grid class="row-margin center">
                <ion-row>
                    <ion-col>
                        <button icon-only full ion-button class="search-btn" (click)="cargarMuro()">
                            <ion-icon name="search"></ion-icon>
                            Búsqueda
                        </button>
                    </ion-col>
                    <ion-col>
                        <button icon-only full ion-button class="search-btn" (click)="goToFiltroCategoria()">
                            <ion-icon name="md-funnel"></ion-icon>
                            Filtrar
                        </button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-input class="card-input" type="text" placeholder="Título"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
           
            
        </div>
    </div>
    
    <ion-list>
        <div *ngFor="let item of muroList">
        <qavant-card-publicacion [entidad]="item"></qavant-card-publicacion>
        </div>
        <div>
        <img src="../assets/img/img-ad.png">
        </div>

    </ion-list>
    </div>
</ion-content>