page-search {
    .filtro-box{
        height: 150px;
    }
    .search-btn{
        background-color: transparent !important;
        color: rgb(92, 92, 92) !important;
        border: none !important;
        box-shadow: none !important;
        text-transform: none !important;
        font-size: 21px;
    }
    .row-margin{
        margin: 20px;
    }
    .card-input{
        border-radius: 25px;
        border: solid 1px rgb(92, 92, 92);
        font-size: 16px;
    }

}
