﻿@model QavantWeb.Models.Sucursale

@{
    ViewBag.Title = "Eliminar Sucursal";
}

<h2>Sucursal</h2>
<div>
    <h4>Eliminar</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitada)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <a href="@Url.Action("Index", "Sucursales", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button id="btn-show-warning" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
        <button id="btn-delete" type="submit" class="hidden"></button>
    }

    @Html.Partial("_ConfirmModal", "La sucursal " + Model.Descripcion + " se eliminará y ya no se podrá recuperar. ¿Desea continuar de todos modos?")
</div>

<script src="~/Scripts/Pages/delete-modal-warning.js"></script>