﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-size: 12px;*/
    font-family: "Lato" !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fcfcfc;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.spacer {
    height: 40px;
    float: left;
    width: 100%;
}

/*.dropdown-toggle {
    color: #ffffff!important;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d!important;
}*/

.red-panel {
    color: #fff !important;
    background-color: #DF0101 !important;
}

.green-panel {
    color: #fff !important;
    background-color: #04B431 !important;
}

.indicator-number {
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.indicator-label {
    font-family: Helvetica;
    font-size: 11px;
    color: #e95437;
    font-weight: bold;
}

.indicator-label-white {
    color: #fff;
}

.row-group {
    background-color: #adadad !important;
    font-weight: 900;
}

#pnlMailOptions .form-control {
    max-width: none;
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.navbar-brand {
    padding: 0 0 0 15px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-brand > img {
    height: 100%;
    margin-right: 20px;
    width: auto;
}

.float-left {
    float: left;
}


.dataTables_wrapper .dataTables_processing {
    top: 40% !important;
    padding-top: 3px !important;
    position: fixed !important;
    left: 50% !important;
}




/**Evaluaciones de Desempeño**/
.evaluacion input,
.evaluacion select,
.evaluacion textarea {
    max-width: 100%;
}

.evaluacion .control-label,
.evaluacion .form-data {
    margin-top: 5px;
}

.evaluacion .row {
    min-height: 35px;
}

.evaluacion .datosPrincipales .row {
    margin: 5px 0;
}

.evaluacion .form-control {
    padding: 5px 10px;
}

.evaluacion .sectionHeader {
    background-color: #183b7c;
    color: #fff;
}

.evaluacion .groupHeader,
.evaluacion .groupFooter {
    background-color: #3770d8;
    color: #fff;
}

.evaluacion .groupHeader {
    background-color: #3770d8;
    color: #fff;
}

.evaluacion .odd {
    background-color: #f9f9f9;
}

.evaluacion .rowData .question {
    line-height: 30px;
}

.evaluacion .rowOtherData {
    padding: 10px 0;
}
/**Fin Evaluaciones de Desempeño*/


/**DASHBOARDS**/

#containerDonaAudienciaActiva {
    height: 70px;
    max-width: 1060px;
    margin: 0px auto;
    overflow: hidden;
}

#containerDonaAudienciaInteractiva {
    height: 70px;
    max-width: 1060px;
    margin: 0px auto;
    overflow: hidden;
}

#RankingContenidos tr td {
    font-size: 1.1rem;
}

    #RankingContenidos tr td.nroApp {
        color: #058DC7;
        text-align: center;
    }

    #RankingContenidos tr td.nroWeb {
        color: #50B432;
        text-align: center;
    }


    #RankingContenidos tr td.nroTotal {
        color: #000;
        font-weight: bold;
        text-align: center;
    }


.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 100%;
    justify-content: space-around;
}

    .single-chart img {
        width: 30%;
        position: absolute;
        left: 35%;
        top: 30%;
    }

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.encanta .circle {
    stroke: #058DC7;
}

.indicator-label.encanta {
    color: #058DC7;
}

.circular-chart.gusta .circle {
    stroke: #50B432;
}

.indicator-label.gusta {
    color: #50B432;
}

.circular-chart.sorprende .circle {
    stroke: #DDDF00;
}

.indicator-label.sorprende {
    color: #DDDF00;
}

.circular-chart.enoja .circle {
    stroke: #ED561B;
}

.indicator-label.enoja {
    color: #ED561B;
}

.circular-chart.nogusta .circle {
    stroke: #FF9655;
}

.indicator-label.nogusta {
    color: #FF9655;
}

#comportamientoKeys .col {
    width: 18%;
    margin-right: 0.5%;
    float: left;
    margin-left: 15px;
}

#comportamientoKeys .indicator-number2 {
    font-size: 26px;
    line-height: 32px;
}


.indicator-number2 {
    font-family: "Helvetica";
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}



/**FIN DASHBOARDS**/


/**Scrollbars**/
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.titulo {
    max-width: 100% !important;
}

.subtitulo {
    max-width: 100% !important;
    /*height: !important;*/
}

.input-usuarios {
    max-width: 78% !important;
}

.texto-label-left {
    text-align: left !important;
}

a.toolt {
    margin: 0px 20px;
}

.validation-summary-valid {
    display: none;
}

.no-left-margin {
    margin-left: 0px !important;
}

.title-note {
    font-size:small;
    font-style:italic;
}
.circular-shadow {
    width: 70px;
    height: 70px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.contenedor-texto {
    position: relative;
    display: inline-block;
    text-align: center;
    left: 10%;
}

.texto-centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px;
}
.circular-shadow-dash {
    width: 60px;
    height: 60px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}

.texto-centrado-dash {
    font-size: 20px;
}

.form-file {
    display:block;
    width: 100%;
    height: 34px;
    padding: 6px 12px 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
}

/* dropzonejs*/

.dropzone .dz-preview .dz-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
    margin-top: 14px;
}
.dropzone .dz-preview .dz-error-message {
    color: white!important;
    display: none;
}

.center-block {
    margin-top: 4px;
}
