<qavant-header back="true" indice="1"></qavant-header>
<ion-content>
    <div class="filtro-box">
        <div class="row">
            <ion-grid class="row-margin center">
                <ion-row>
                    <ion-col>
                        <button icon-only full ion-button class="card-btn" (click)="cargarMuro()">
                            <ion-icon name="search"></ion-icon>
                            Búsqueda
                        </button>
                    </ion-col>
                    <ion-col>
                        <button disabled icon-only full ion-button class="card-btn" (click)="goToFiltroCategoria()">
                            <ion-icon name="md-funnel"></ion-icon>
                            Filtrar
                        </button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-input class="card-input" type="text" placeholder="Título"></ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
          
            
        </div>
        <div class="row">
            <ion-segment (ionChange)="segmentChanged($event)" class="seg" [(ngModel)]="tabs">
                <ion-segment-button value="categoria" class="seg-btn">
                    <ion-label>Intereses</ion-label>
                </ion-segment-button>
                <ion-segment-button value="region" class="seg-btn">
                    <ion-label>Zona</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>

    </div>

    <div [ngSwitch]="tabs">
        <ion-grid *ngSwitchCase="'categoria'">
            <ion-row>
                <ion-col class="col-heigth" col-6 *ngFor="let category of categories" (click)="categoryToggleClass(category)" >
                    <div class="col-content" [ngClass]="{'mark-content': category.active}">
                        <img class="category-img" src="{{ category.img }}" [ngClass]="{'mark-img': category.active}">
                        <div class="">{{category.name}}</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div *ngSwitchCase="'region'" class="region">
            <img  src="./assets/img/map.PNG">
        </div>
        
    </div>
    
    

    

</ion-content>

<ion-footer>
    <div class="footer-grid">
        <ion-row class="footer-row">
            <ion-col>
                <button full ion-button class="search-back-btn" slot="start" (click)="goBack()">
                    <ion-icon name="ios-arrow-back" class="mr-1"></ion-icon>
                    Volver
                </button>
            </ion-col>
            <ion-col>
                <button full ion-button class="search-forward-btn" slot="end" (click)="apply()">
                    Aplicar
                    <ion-icon name="ios-arrow-forward" class="ml-1"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>
