page-filtros {
    .filtro-box{
        height: 200px;
    }
    .card-btn{
        background-color: transparent !important;
        color: rgb(92, 92, 92) !important;
        border: none !important;
        box-shadow: none !important;
        text-transform: none !important;
        font-size: 21px;
    }
    .row-margin{
        margin: 20px;
    }
    .card-input{
        border-radius: 25px;
        border: solid 1px rgb(92, 92, 92);
        font-size: 16px;
    }
    .category-btn{
        background-color: transparent !important;
        height: 150px;
        color: rgb(92, 92, 92) !important;
        border: solid 1px rgb(92, 92, 92);
    }
    .btn-img{
        text-align: center;
        border-radius: 35px;
        border: solid 1px rgb(92, 92, 92);
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
    }
    .search-back-btn{
        height: 50px;
        background-color: rgb(95, 95, 95) !important;
        font-size: 18px;
        text-transform: none;
    }
    .search-forward-btn{
        height: 50px;
        background-color: rgb(57, 196, 126) !important;
        font-size: 18px;
        text-transform: none;
    }

    .mr-1{
        margin-right: 10px;
    }
    .ml-1{
        margin-left: 10px;
    }
    .footer-grid .footer-row{
        padding: 0px !important;
        margin: 0px !important;
    }
    .seg-btn{
        color: rgb(92, 92, 92) !important;
        text-transform: none !important;
        font-size: 22px !important;
    }
    .seg{
        height: 60px !important;
    }
    .label-md{
        margin: 0px !important;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: white !important;
        background-color: white !important;
    }

    .segment-md .segment-button {
        background-color: rgb(231, 231, 231) !important;
    }

    .region{
        margin-top: 15px;
        text-align: center !important;
    }

    /* vistas */

    .col-heigth{
        height: 150px;
    }
    .col-content{
        width: 100%;
        height: 100%;
        margin: 2px;
        border: 1px solid rgb(92, 92, 92);
        text-align: center;
        font-size: 20px;
    }
    .mark-content{
        border: 2px solid rgb(85, 85, 85) !important;
    }
    .category-img{
        margin-top: 15px;
        border-radius: 40px;
        border: 1px solid rgb(92, 92, 92);
        width: 80px;
        height: 80px;
    }
    .mark-img{
        filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }
}
