<qavant-header title="Capacitaciones"></qavant-header>

<ion-content padding>
    
  <ion-list>
    <ion-item *ngFor="let course of coursesList" class="q-item">
    
      <!-- VIDEO = 1 -->
      <ion-avatar item-start *ngIf="course.courseTypeId == '1'">
        <span class="icon-file-play"></span>    
        </ion-avatar>
      <!-- DOCUMENTO = 2-->
      <ion-avatar item-start *ngIf="course.courseTypeId == '2'">
          <span class="icon-clipboard"></span>           
      </ion-avatar>     
      <!-- URL = 3-->
      <ion-avatar item-start *ngIf="course.courseTypeId == '3'">
          <!--  <ion-icon name="link"></ion-icon> -->
          <span class="icon-link1"></span>
      </ion-avatar>  

      <div class="q-item-content" (click)="goToCapacitacion(course.id)">
        <h2>{{course.title | truncate:70}}</h2>          
        <p *ngIf='course.description != null' [innerHTML]="course.description | truncate:175"></p> 
      </div>

      <div class="q-item-footer hide">
        <qavant-social modulo="CAPAC" [entidad]="course"></qavant-social>
      </div>     
    </ion-item>
    
    <ion-item *ngIf='coursesList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>    
  </ion-list>

</ion-content>
