<div [@enterAnimation]="!hasBenefits() ? 'loading' : 'ready'">

  <app-card-detail 
    *ngIf="hasBenefits()" 
    [model]="benefit" 
    [type]="'BENEF'"
    [suggestions]="someBenefits"
    (goToDetail)="goToBenefits($event)">
  </app-card-detail>

</div>