﻿@model IEnumerable<QavantWeb.Models.ActionLog>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Contenidos</h2>
<hr />

<div class="row">
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerDistribucion" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerNoticias" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerBeneficios" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerFormularios" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<br />

    @*/*  RANKING FORMULARIOS  separado por canal */*@



    <script>
        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
        });


        /* DISTRIBUCION POR GENERO */
        Highcharts.chart('containerDistribucion', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Distribución de visitas por módulo'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Porcentaje',
                colorByPoint: true,
                data: [{
                    name: 'Noticias',
                    y: 61.41
                }, {
                    name: 'Beneficios',
                    y: 11.84
                }, {
                    name: 'Formularios',
                    y: 10.85
                }, {
                    name: 'Cumpleaños',
                    y: 4.67
                }, {
                    name: 'Información Útil',
                    y: 5.50
                }, {
                    name: 'Otros',
                    y: 1.31
                }]
            }]
        });

///*  RANKING NOTICIAS  */
        Highcharts.chart('containerNoticias', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Ranking de Noticias'
            },
            xAxis: {
                categories: ['Recursos humanos', 'La revolución tecnológica', 'Inclusión de géneros', 'Seguridad IT', 'Lanzamiento de un producto']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Visitas'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'App',
                data: [73, 62, 46, 23, 15]
            }, {
                name: 'Web',
                data: [32, 12, 23, 42, 31]
            }]
        });

///*  RANKING BENEFICIOS  */
        Highcharts.chart('containerBeneficios', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Ranking de Beneficios'
            },
            xAxis: {
                categories: ['Casa de campo', 'Gimnasio 20%', 'Día de spa','Cocina Vegana', '50% en Clases de Yoga']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Visitas'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'App',
                data: [34, 27, 23, 22, 15]
            }, {
                name: 'Web',
                data: [2, 2, 3, 2, 1]
            }]
        });


///*  RANKING FORMULARIOS  */
        Highcharts.chart('containerFormularios', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Ranking de Formularios'
            },
            xAxis: {
                categories: ['Licencia médica', 'Vacaciones', 'Reserva de sala', 'Licencia exámen', 'Mudanza']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Visitas'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'App',
                data: [15, 13, 8, 4, 2]
            }, {
                name: 'Web',
                data: [2, 2, 3, 2, 1]
            }]
        });

    </script>
