﻿@model QavantWeb.Models.FormsQuestion

@Html.Hidden("FormTypeId", (object)ViewBag.FormTypeId)
<div class="row">
    <div class="col-md-6">
        <label>Descripción:</label>
        <input type="text" class="form-control" style="max-width:none;" id="txt_optDescription" />
    </div>
    @{ if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.EvaluacionDesempenio)
        {
            <div class="col-md-2">
                <label>Valor:</label>
                <input type="number" class="form-control" id="txt_optNumberValue" min="1" />
            </div>
        }
    }
    <div class="col-md-2">
        <label>Orden:</label>
        <input type="number" class="form-control" id="txt_optOrder" min="1" />
    </div>
    <div class="col-md-2">
        @if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.Evaluacion)
        {
            <label>Respuesta Correcta:</label>
            <input type="checkbox" id="chk_IsRightOne" class="center-block" />
        }
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary col-md-12" style="margin-top:24px;" id="btn_optAdd">Agregar</button>
        <button type="button" class="btn btn-primary col-md-12" style="margin-top:24px; display:none;" id="btn_optModify">Modificar</button>
        <input type="hidden" id="hdn_Edit" value="0" />
    </div>
    <div class="col-md-12">
        <table id="tbl_optQuestionOptions" class="table table-hover display compact stripe">
            <thead>
                <tr>
                    <td class="col-md-6"></td>
                    @{ if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.EvaluacionDesempenio)
                        {
                            <td class="col-md-2"></td>
                        }
                    }
                    <td class="col-md-2"></td>
                    <td class="col-md-2"></td>
                    <td class="col-md-2"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.FormsQuestionsOptions != null)
                {
                    for (int i = 0; i < Model.FormsQuestionsOptions.Where(w => w.Enabled).Count(); i++)
                    {
                        <tr id="tr_opt_@i" class="@((ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.EvaluacionDesempenio) ? "visible-item" : "hidden-item")">
                            <td>@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].Description</td>
                            @{ if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.EvaluacionDesempenio)
                                {
                                    <td>
                                        @(Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].NumberValue == null
? 0 :
Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].NumberValue
                                        )
                                    </td>
                                }
                            }
                            <td>@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].Order</td>
                            <td>
                                @if (Model.Form.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.Evaluacion)
                                {
                                    <input type="checkbox" disabled readonly class="chkIsRightAnswer" @((bool)Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].IsRightAnswer ? "checked" : "") />
                                }
                                else
                                {
                                    <span></span>
                                }
                            </td>
                            <td>

                                <button id="btn_optDelete" actionid="@i" type="button" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                <input type="hidden" id="hdn_optId_@i" name="FormsQuestionsOptions[@i].Id" value="@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].Id" />
                                <input type="hidden" id="hdn_optFormsQuestionId_@i" name="FormsQuestionsOptions[@i].FormsQuestion_Id" value="@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].FormsQuestion_Id" />
                                <input type="hidden" id="hdn_optDescription_@i" name="FormsQuestionsOptions[@i].Description" value="@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].Description" />
                                @{ if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.EvaluacionDesempenio)
                                    {
                                        <input type="hidden" id="hdn_optNumberValue_@i" name="FormsQuestionsOptions[@i].NumberValue" value="@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].NumberValue" />
                                    }
                                }
                                <input type="hidden" id="hdn_optOrder_@i" name="FormsQuestionsOptions[@i].Order" value="@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].Order" />
                                <input type="hidden" id="hdn_optIsRightAnswer_@i" class="hidIsRightAnswer" name="FormsQuestionsOptions[@i].IsRightAnswer" value="@Model.FormsQuestionsOptions.Where(w => w.Enabled).ToList()[i].IsRightAnswer.ToString()" />
                                <input type="hidden" id="hdn_optEnabled_@i" name="FormsQuestionsOptions[@i].Habilitado" value="1" />
                                <input type="hidden" id="hdn_optAction_@i" name="FormsQuestionsOptions[@i].Action" value="0" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.Encuesta)
{
    <style>

        .chkIsRightAnswer {
            display: none;
        }
    </style>
}