﻿@model QavantWeb.Models.FormsQuestion

@{
    ViewBag.Title = "Duplicar";
}

<h2>Duplicar</h2>
<h4>FORMULARIO: @ViewBag.FormTitle</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (TempData["errorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["errorMessage"]
        </div>
    }
        <div class="form-horizontal">
            <h4>Pregunta</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Form_Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                </div>
            </div>
            @*@if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.EvaluacionDesempenio)
        {
            <div class="form-group">
                <div class="control-label col-md-2"><b>Grupo</b></div>
                <div class="col-md-10">
                    @Html.DropDownList("FormsQuestionGroup_Id", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormsQuestionGroup_Id, "", new { @class = "text-danger" })
                </div>
            </div>
        }*@
            <div class="form-group">
                <div class="control-label col-md-2"><b>Tipo</b></div>
                <div class="col-md-10">
                    @Html.DropDownList("FormsQuestionsType_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FormsQuestionsType_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @type = "number", @class = "form-control", @min = "1" } })
                    @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Enabled)
                        @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            @*@if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.Evaluacion)
        {*@
            <div class="form-group">
                @Html.LabelFor(model => model.Required, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Required)
                        @Html.ValidationMessageFor(model => model.Required, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            @* }*@

            <div id="pnlOpciones" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Opciones</h3>
                </div>
                <div class="panel-body">
                    @{Html.RenderPartial("_opciones", Model);}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div>
                    <a href="@Url.Action("Index", "FormsQuestions", new { id = Model.Form_Id } )" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                </div>
            </div>

        </div>
}



@section Scripts {
    <!-- Print. -->
    <script type="text/javascript" src="~/Scripts/Pages/preguntas.js?v=2"></script>
}
