﻿@model QavantWeb.Models.FormsQuestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormsQuestion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Required)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Required)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Form.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Form.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormsQuestionsType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormsQuestionsType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
