﻿@model IEnumerable<QavantWeb.Models.FormsQuestion>

@{
    ViewBag.Title = "PREGUNTAS ELIMINADAS";
}

<h2><i class="fa fa-gift " aria-hidden="true"></i> Preguntas - Eliminadas</h2>

<p>
    <a href="@Url.Action("Index", "FormsQuestions", new { id = ViewBag.Form_Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista de Preguntas</a>
</p>

<table id="FormQuestionsListDeleted" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormsQuestionsType.Name)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormsQuestionsType.Name)
        </td>
        <td>
            <a href="@Url.Action("Enable", "FormsQuestions", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar la pregunta nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
        </td>
    </tr>
}

</table>

<script>
    $(document).ready(function () {
        $('#FormQuestionsListDeleted').DataTable({
            //"order": [[2, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>