﻿@model IEnumerable<QavantWeb.Models.Form>
@{
    ViewBag.Title = "Index";
}
<h2><i class="fa fa-list" aria-hidden="true"></i> Reportes</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Encuestas</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"><b>Encuesta</b></div>
            <div class="col-md-10">
                @Html.DropDownList("FormId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" id="BeneficioGroup">
            <div class="control-label col-md-2"><b>Tipo Reporte</b></div>
            <div class="col-md-10">
                @Html.DropDownList("FormTypeId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" id="boton">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <hr />

    if (ViewBag.FormReportGrouped != null)
    {
        <div class="col-md-4 col-md-offset-4">
            <div class="panel green-panel ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-question-circle fa-4x fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge indicator-number">@ViewBag.FormAnswerCount</div>
                            <div class="indicator-label indicator-label-white">RESPUESTAS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="FormsGrouped" class="table hover display compact">
            <thead>
                <tr>
                    <th>
                        Pregunta
                    </th>
                    <th>
                        Pregunta/Respuesta
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        %
                    </th>
                </tr>
            </thead>
            @foreach (QavantWeb.Models.FormReportingGrouppedViewModel item in ViewBag.FormReportGrouped)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pregunta)
                    </td>
                    <td style="padding-left: 5%">
                        @Html.DisplayFor(modelItem => item.Respuesta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        <progress max="@ViewBag.FormAnswerCount" value="@Html.DisplayFor(modelItem => item.Cantidad)"></progress>
                    </td>
                </tr>
            }
        </table>
    }

    if (ViewBag.FormReportDetailed != null)
    {
        <div class="col-md-4 col-md-offset-4">
            <div class="panel green-panel ">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-question-circle fa-4x fa-fw" aria-hidden="true"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge indicator-number">@ViewBag.FormAnswerCount</div>
                            <div class="indicator-label indicator-label-white">RESPUESTAS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="FormsDetailed" class="table hover display compact stripe">
            <thead>
                <tr>
                    <th>
                        Usuario
                    </th>
                    @foreach (QavantWeb.Models.FormReportingDetailedHeaderViewModel item in ViewBag.FormReportDetailedHeaders)
                    {
                        <th>
                            @Html.DisplayFor(modelItem => item.Pregunta)
                        </th>
                    }
                </tr>
            </thead>
            @foreach (QavantWeb.Models.FormReportingDetailedViewModel item in ViewBag.FormReportDetailed)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    @foreach (QavantWeb.Models.FormReportingDetailedHeaderViewModel itemHeader in ViewBag.FormReportDetailedHeaders)
                    {
                        <th>
                            @if (item.Respuestas.Where(w => w.PreguntaId==itemHeader.PreguntaId).FirstOrDefault()!=null)
                            {
                                @Html.DisplayFor(modelItem => item.Respuestas.Where(w=>w.PreguntaId==itemHeader.PreguntaId).FirstOrDefault().Respuesta)
                            }

                        </th>
                    }
                </tr>
            }
        </table>
    }
}


<script>
    $(document).ready(function () {

        $('#FormsDetailed').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        $('#FormsGrouped').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            //"order": [[2, "desc"]],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(0, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group row-group"><td colspan="3">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            },
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>

