﻿
@model QavantWeb.Models.FormsPerformanceEvaluation

@{
    ViewBag.Title = "Evaluación de Desempeño";
}

<h2><i class="fa fa-file-text-o" aria-hidden="true"></i> @Model.Form.Title</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("EvaluatedArea_Id", Model.EvaluatedArea_Id)
    @Html.Hidden("EvaluatedAreaDesc", Model.EvaluatedAreaDesc)
    @Html.Hidden("EvaluatedJobTitle", Model.EvaluatedJobTitle)
    @Html.Hidden("EvaluatorArea_Id", Model.EvaluatorArea_Id)
    @Html.Hidden("EvaluatorAreaDesc", Model.EvaluatorAreaDesc)
    @Html.Hidden("EvaluatorJobTitle", Model.EvaluatorJobTitle)
    @Html.HiddenFor(m => m.StartedDate)
    @Html.HiddenFor(m => m.Form_Id)
    <div class="evaluacion ">

        <div class="sectionHeader row">
            <div class="col-md-12">
                <h4>Datos Principales</h4>
            </div>
        </div>
        <div class="datosPrincipales">
            <div class="row">
                <div class="col-xs-8">
                    <div class="control-label col-md-2"><b>Evaluador</b></div>
                    <div class="col-md-10">
                        @Html.DropDownList("Evaluator_Id", new SelectList(ViewBag.Evaluators, "Id", "Name"), "Seleccionar", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                
                <div class="col-xs-4">
                    <div class="control-label col-md-2"><b>Fecha</b></div>
                    <div class="col-md-10 form-data">
                        @Model.StartedDate.ToShortDateString()
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="control-label col-md-2"><b>Area</b></div>
                    <div class="col-md-10 form-data" id="divEvaluatedAreaDesc">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="control-label col-md-2"><b>Puesto</b></div>
                    <div class="col-md-10 form-data" id="divEvaluatedJobTitle">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="control-label col-md-2"><b>Evaluado</b></div>
                    <div class="col-md-10">
                        @Html.DropDownList("Evaluated_Id", new SelectList(string.Empty, "Value", "Text"), "Seleccionar", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionHeader row">
            <div class="col-md-12">
                <h4>Evaluación</h4>
            </div>
        </div>
        @{
            for (int i = 0; i < Model.FormsAnswers.Count; i++)
            {
                <input type="hidden" id="hdn_answId_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].Id" value="@Model.FormsAnswers.ToList()[i].Id" />
                <input type="hidden" id="hdn_answFormsQuestion_Id_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].FormsQuestion_Id" value="@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" />
                <input type="hidden" id="hdn_answForm_Id_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].Form_Id" value="@Model.FormsAnswers.ToList()[i].Form_Id" />
                <input type="hidden" id="hdn_answFormsQuestionsOption_Id_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].FormsQuestionsOption_Id" value="@Model.FormsAnswers.ToList()[i].FormsQuestionsOption_Id" />
                <input type="hidden" id="hdn_answAnswer_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].Answer" value="@Model.FormsAnswers.ToList()[i].Answer" />
                <input type="hidden" id="hdn_answUser_Id_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" class="hidIsRightAnswer" name="FormsAnswers[@i].User_Id" value="@Model.FormsAnswers.ToList()[i].User_Id" />
                <input type="hidden" id="hdn_answDate_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].Date" value="@Model.FormsAnswers.ToList()[i].Date" />
                <input type="hidden" id="hdn_answFormsPerformanceEvaluation_Id_@Model.FormsAnswers.ToList()[i].FormsQuestion_Id" name="FormsAnswers[@i].FormsPerformanceEvaluation_Id" value="@Model.FormsAnswers.ToList()[i].FormsPerformanceEvaluation_Id" />
            }

        }
        @foreach (QavantWeb.Models.FormsQuestionGroup gr in Model.Form.FormsQuestionGroups.Where(x => x.Enabled).OrderBy(o => o.Order))
        {
            string odd = "";
            if (gr.ShowsAverage)
            {
                //Si tiene promedio es porque son de calificaciones
                <div class="row groupHeader">
                    <div class="col-md-8"><h5>@gr.Description</h5></div>
                    <div class="col-md-4"><h5 class="text-center"> Evaluación Propia</h5></div>
                    @*<div class="col-md-2"><h5 class="text-center"> Evaluación Óptima</h5></div>*@
                </div>
                foreach (QavantWeb.Models.FormsQuestion fq in Model.Form.FormsQuestions.Where(w => w.FormsQuestionGroup_Id == gr.Id).OrderBy(o => o.Order))
                {
                    <div class="row rowData @odd">
                        <div class="col-md-8 question">@fq.Question</div>
                        <div class="col-md-4">
                            @{
                                Model.FormsAnswers.Add(new QavantWeb.Models.FormsAnswer());
                                var attributes = new Dictionary<string, object>(
               Html.GetUnobtrusiveValidationAttributes(ViewData.TemplateInfo.HtmlFieldPrefix));
                                var id = "Id_" + fq.Id.ToString();

                                attributes.Add("class", "form-control");
                                attributes.Add("questionId", fq.Id);
                                attributes.Add("groupId", gr.Id);
                                if (fq.Required)
                                {
                                    attributes.Add("required", "required");
                                }



                                @Html.DropDownList("IdQuestion_" + fq.Id.ToString(), new SelectList(fq.FormsQuestionsOptions.OrderBy(o => o.Order).Select(s => new { Id = s.Id, Name = s.Description }).ToList(), "Id", "Name"), "Seleccionar", attributes);
                                foreach (var option in fq.FormsQuestionsOptions)
                                {
                                    <input type="hidden" id="hdn_option_@option.Id" value="@option.NumberValue" />
                                }
                            }
                        </div>
                        <div class="col-md-2"></div>

                    </div>
                                    if (odd == "")
                                    {
                                        odd = "odd";
                                    }
                                    else
                                    { odd = ""; }
                                }
                                List<QavantWeb.Models.FormsAnswer>
                                    resultadosEvaluado = Model.Form.FormsAnswers.Where(w => w.FormsQuestion.FormsQuestionGroup_Id == gr.Id).ToList();
                                List<QavantWeb.Models.FormsAnswer>
                                    resultadosEvaluador = Model.Form.FormsAnswers.Where(w => w.FormsQuestion.FormsQuestionGroup_Id == gr.Id).ToList();
                                <div class="row groupFooter">
                                    <div class="col-md-8"><h5>SubTotal @gr.Description</h5></div>
                                    <div class="col-md-4"><h5 class="text-center" id="average_@gr.Id"> </h5></div></div>
                                }
                                else
                                {
                                    <div class="row groupHeader">
                                        <div class="col-md-12"><h5>Factor Humano Actitudinal</h5></div>
                                    </div>
                                    foreach (QavantWeb.Models.FormsQuestion fq in Model.Form.FormsQuestions.Where(w => w.FormsQuestionGroup_Id == gr.Id).OrderBy(o => o.Order))
                                    {
                                        <div class="row rowOtherData @odd">
                                            <div class="col-md-12">@fq.Question</div>
                                            @switch (fq.FormsQuestionsType_Id)
                                            {
                                                case "DROPDOWN":
                                                    <div class="col-md-6">@Html.DropDownList("Id", new SelectList(fq.FormsQuestionsOptions.OrderBy(o => o.Order).Select(s => new { Id = s.Description, Name = s.Description }).ToList(), "Id", "Name"), "Seleccionar", new { @class = "form-control" })</div>
                                                    break;
                                                case "TEXT":
                                                    <div class="col-md-6"><input id="@("textArea_" + fq.Id.ToString())" questionId="@fq.Id.ToString()"  type="text" value="@(Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault() == null ? "" : Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault().Answer)" class="form-control" /></div>
                                                    break;
                                                case "TEXTAREA":
                                                    <div class="col-md-6"><textarea id="@("textArea_" + fq.Id.ToString())" questionId="@fq.Id.ToString()" class="form-control" rows="6">@(Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault() == null ? "" : Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault().Answer)</textarea></div>
                                                    break;
                                            }
                                            <div class="col-md-6"></div>
                                        </div>
                                            if (odd == "")
                                            {
                                                odd = "odd";
                                            }
                                            else
                                            { odd = ""; }
                                        }
                                    }



                                }
        <hr />
        <div class="col-md-3"></div>
        <div class="col-md-2 text-right"> <button class="btn btn-danger ">Cancelar</button></div>
        <div class="col-md-2 text-center"><button class="btn btn-success ">Enviar</button> </div>
        <div class="col-md-2 text-left"><button class="btn btn-default ">Imprimir</button> </div>
        <div class="col-md-3"></div>
    </div>
                                }
<script>
    $(document).ready(function () {

        $("#Evaluator_Id").change(function () {
            $("#Evaluated_Id").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEvaluateds")',
                dataType: 'json',
                data: { EvaluatorId: $("#Evaluator_Id").val() },
                success: function (evaluateds) {

                    $.each(evaluateds, function (i, evaluateds) {
                        $("#Evaluated_Id").append('<option value="'
                                                   + evaluateds.Value + '">'
                                             + evaluateds.Text + '</option>');
                    });
                },
                error: function (ex) {
                    console.log(ex);
                }
            });
            return false;
        })
    });

    function CalculateGroupAverage(groupid){
        var average=0;
        var i = 0;
        var sum =0;
        $('select[groupId="' + groupid + '"]').each(function(){
            i++;
            if ($('#hdn_option_' + this.value).val() != "-1") {
                if (this.value != "") {
                    sum += parseInt($('#hdn_option_' + this.value).val());
                }
            }
            else {
                i--;
            }
        });
        $('#average_'+groupid).text(sum/i);
    }


    var theFormCanBeAutoEvaluated = @Json.Encode(@Model.Form.CanTheySelfEvaluate);
    function CheckEvaluatorAndEvaluated(comboSelected) {
        if ($('#Evaluated_Id').val() == $('#Evaluator_Id').val()) {
            alert("Los usuarios no pueden autoevaluarse");
            comboSelected.val('');

            return;
        }
    }
    $('select[id^="IdQuestion_"]').on('change', function () {
        var questionId= $(this).attr('questionId');
        $("#hdn_answAnswer_" + questionId).val($('#hdn_option_'+$(this).val()).val());
        $("#hdn_answFormsQuestionsOption_Id_" + questionId).val($(this).val());
        var groupId= $(this).attr('groupId');
        CalculateGroupAverage(groupId);
    });
    $('textarea[id^="textArea_"]').on('change keyup paste', function () {
        var questionId= $(this).attr('questionId');
        $("#hdn_answAnswer_" + questionId).val($(this).val());
    });

    $('#Evaluated_Id').on('change', function () {
        $('#divEvaluatedAreaDesc').text("");
        $('#divEvaluatedJobTitle').text("");
        $("#EvaluatedArea_Id").val("");
        $('#EvaluatedAreaDesc').val("");
        $('#EvaluatedJobTitle').val("");
        if (!theFormCanBeAutoEvaluated)
            CheckEvaluatorAndEvaluated($(this));
        $.ajax({
            url: '@Url.Action("GetUser", "PerfomanceReview")',
            type: "POST",
            data: { userId: $(this).val() },
            success: function (data) {
                $('#divEvaluatedAreaDesc').text(data.AreaName);
                $("#EvaluatedArea_Id").val(data.Area_Id);
                $('#EvaluatedAreaDesc').val(data.AreaName);
                $('#divEvaluatedJobTitle').text(data.JobTitle);
                $('#EvaluatedJobTitle').val(data.JobTitle);
            }
        });
    });
    $('#Evaluator_Id').on('change', function () {
        $("#EvaluatorArea_Id").val("");
        $('#EvaluatorAreaDesc').val("");
        $('#EvaluatorJobTitle').val("");
        if (!theFormCanBeAutoEvaluated)
            CheckEvaluatorAndEvaluated($(this));
        $.ajax({
            url: '@Url.Action("GetUser", "PerfomanceReview")',
            type: "POST",
            data: { userId: $(this).val() },
            success: function (data) {
                $("#EvaluatorArea_Id").val(data.Area_Id);
                $('#EvaluatorAreaDesc').val(data.AreaName);
                $('#EvaluatorJobTitle').val(data.JobTitle);
            }
        });
    });
</script>