﻿@model QavantWeb.Models.FormsPerformanceEvaluation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportExcel</title>
</head>
<body>
    <div>
        <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> @Model.Form.Title</h2>
        <table>
            <tr>
                <td><b>Evaluado</b></td>
                <td>@Model.User.Name @Model.User.Surname</td>
            </tr>
            <tr>
                <td><b>Area</b></td>
                <td>@Model.EvaluatedAreaDesc</td>
            </tr>
            <tr>
                <td><b>Fecha Evaluacion</b></td>
                <td>@Model.StartedDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td><b>Evaluador</b></td>
                <td>@Model.User1.Name @Model.User1.Surname</td>
            </tr>
        </table>
        <div class="evaluacion ">
            <table>
                <thead>
                    <tr>
                        <th colspan="2" align="center">
                            Evaluaci&oacute;n
                        </th>
                    </tr>
                </thead>

                @foreach (QavantWeb.Models.FormsQuestionGroup gr in Model.Form.FormsQuestionGroups.Where(x => x.Enabled).OrderBy(o => o.Order))
                {
                    string odd = "";
                    if (gr.ShowsAverage)
                    {
                        <thead>
                            <tr>
                                <th>
                                    @gr.Description
                                </th>
                                <th>
                                    Evaluaci&oacute;n Propia
                                </th>
                            </tr>
                        </thead>
                        foreach (QavantWeb.Models.FormsQuestion fq in Model.Form.FormsQuestions.Where(w => w.FormsQuestionGroup_Id == gr.Id).OrderBy(o => o.Order))
                        {
                            if (Model.FormsAnswers.Select(x => x.FormsQuestion).Contains(fq))
                            {
                                <tr>
                                    <td>
                                        @fq.Question
                                    </td>
                                    <td>
                                        @Model.FormsAnswers.Where(x => x.FormsQuestion_Id == fq.Id).FirstOrDefault().FormsQuestionsOption.Description
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <th>
                                SubTotal @gr.Description
                            </th>
                            <th>
                                % @Model.GetAverageByGroupId(gr.Id).ToString("0.##")
                            </th>
                        </tr>
                    }
                    else
                    {
                        <thead>
                            <tr>
                                <th colspan="2">
                                    @gr.Description
                                </th>
                            </tr>
                        </thead>
                        foreach (QavantWeb.Models.FormsQuestion fq in Model.Form.FormsQuestions.Where(w => w.FormsQuestionGroup_Id == gr.Id).OrderBy(o => o.Order))
                        {
                            <tr>
                                <td>
                                    @fq.Question
                                </td>
                                <td></td>
                            </tr>
                            <tr><td colspan="2">@(Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault() == null ? "" : Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault().Answer)</td></tr>
                            
                        }
                    }
                }

                <thead>
                    <tr>
                        <th>
                            PROMEDIO TOTAL
                        </th>
                        <th>
                            % @Model.GetTotalAverage().ToString("0.##")
                        </th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</body>
</html>
