﻿@model IEnumerable<QavantWeb.Models.FormsQuestionGroup>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-object-group " aria-hidden="true"></i> Grupos</h2>
<h4>Formulario: @ViewBag.FormTitle</h4>

<p>
    <a href="@Url.Action("Create", "FormsQuestionGroups", new { formId = ViewBag.Form_Id })" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Grupo</a>
</p>
<table id="FormQuestionGroupsList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowsAverage)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowsAverage)
            </td>
            <td>
                <a href="@Url.Action("Edit", "FormsQuestionGroups", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "FormsQuestionGroups", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
            </td>
        </tr>
    }

</table>

<div>
    <a href="@Url.Action("Index", "Forms", new { iFormTypeId = ViewBag.FormTypeId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver a Lista</a>
    @*@Html.ActionLink("Volver a la lista", "Index")*@
</div>

<script>
    $(document).ready(function () {
        $('#FormQuestionGroupsList').DataTable({
            "order": [[1, "asc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
