<qavant-header title="Información útil"></qavant-header>

<ion-content padding>
  
  <div class="fixed-div">
    <div class="fixed-div-top"></div>
    <div class="filter">
      <ion-list> 
          <ion-item>
            <ion-label>Categorías</ion-label>
            <ion-select [(ngModel)]="selectedCat" submitText="Ok" cancelText="Cancelar" (ngModelChange)="onChange($event)">
              <ion-option *ngFor="let cat of categoriaList" value="{{cat?.id}}" [selected]="selectedCat == cat">{{ cat?.name }}</ion-option>
            </ion-select>
          </ion-item>         
        </ion-list>            
    </div>
  </div> 

  <ion-list>
      <ion-item *ngFor="let info of infoList" class="q-item">
        <ion-avatar item-start >
          <span class="icon-info"></span>
        </ion-avatar>
        <div class="q-item-content" (click)="goToInfoDetail(info)">
          <h2>{{info?.title | truncate:70}}</h2>          
          <p class="desc">{{info.copete | truncate:175}}</p> 
        </div>
        <div class="q-item-footer hide">
          <qavant-social modulo="INFUT" [entidad]="info"></qavant-social>
        </div>
      </ion-item>
      <ion-item *ngIf='infoList?.length === 0'> 
        <p class="notfound">Sin resultados</p>
      </ion-item>
  </ion-list>
  
</ion-content>