page-login {
    .name{
        margin-top: 60% !important;
        text-align: center;
        font-size: 200%;
        font-weight: 300;
        color: white;
        margin-bottom: 50px;
    }

    .btn-login{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        height: 50px;
        border-radius: 25px;
    }

    .btn-color-facebook{
        background-color: #3b5998;
        color: white;
    }
    .btn-color-google{
        background-color: rgb(207, 207, 207);
        color: rgb(50,50,50);
    }
}
