<ion-content>
	<!--<div class="box">
		<form (ngSubmit)="login()" [formGroup]="loginForm">
			<h1>SOMOS CAMPO</h1>
			
			<ion-list inset>
				<ion-item [ngClass]="{ invalid: empresaErrors.hasError('*', ['touched', 'dirty']) }">
					<ion-input type="text" placeholder="Empresa" formControlName="empresa"></ion-input>
				</ion-item>
				
				<div ngxErrors="empresa" #empresaErrors="ngxErrors">
					<div class="validation" [ngxError]="['empresa', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
				</div>

				<ion-item [ngClass]="{ invalid: usernameErrors.hasError('*', ['touched', 'dirty']) }">
					<ion-input type="text" placeholder="Usuario" formControlName="username"></ion-input>
				</ion-item>
				<div ngxErrors="username" #usernameErrors="ngxErrors">
					<div class="validation" [ngxError]="['username', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
				</div>
				
				<div class="seePassword"> 
					<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
						<ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
					</ion-item>
					<a class="revealPassword" href="#"></a>
				</div>
				
				<div ngxErrors="password" #passwordErrors="ngxErrors">
					<div class="validation" [ngxError]="['required']" [when]="['touched']">Campo requerido</div>
				</div>
				
				<div class="btn-ing">
					<button ion-button full type="submit" >Ingresar</button>
				</div>

				<p><a (click)="goToResetPassword()">¿Olvidó su contraseña?</a></p>
				<p><a (click)="goToActiveAccount()">Activarse</a></p>
			</ion-list>
		
		</form>

	</div>-->
		
		<ion-label class="name">SOMOS CAMPO</ion-label>
	
		<ion-buttons >
			<button ion-button class="btn-login btn-color-google" (click)="login()">
				<ion-icon slot="left" name="logo-google" ></ion-icon>
				<ion-label>Ingresa con Google</ion-label>
			</button>
			<button ion-button class="btn-login btn-color-facebook" (click)="login()">
				<ion-icon slot="left" name="logo-facebook" ></ion-icon>
				<ion-label>Ingresa con Facebook</ion-label>
			</button>
		</ion-buttons>
	
</ion-content>
