<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
    NOTICIAS
  </h1>

  <div class="day" data-social="day" [@enterAnimation]="!hasNews() ? 'loading' : 'ready'">

    <isotope-grid class="gallery" [options]="myOptions" [options]="galleryOptions">
      <isotope-item *ngFor="let item of cardData" class="">
        <app-card
          [data]="item"
          additionalClasses="share-other col1 social-card">
        </app-card>
      </isotope-item>
    </isotope-grid>

  </div>
</pg-container>
