﻿@model QavantWeb.Models.Group

@{
    ViewBag.Title = "Create";
}
@section AddToHead{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
}

<h2>Crear</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Nuevo Grupo</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2"><b>Nombre</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"><b>Usuarios </b></div>
        <div class="col-md-4">
            <div style="display:inline;float:left;">
                <select class="selectpicker form-control" multiple data-selected-text-format="count" id="Users" name="Users"
                        data-live-search="true" data-count-selected-text="{0} usuarios seleccionados" title="Seleccionar Usuarios...">
                    @foreach (QavantWeb.Models.User oU in (List<QavantWeb.Models.User>)ViewBag.Users)
                    {
                        <option value="@oU.Id" @(Model.UsersGroups.Select(s => s.UserId).Contains(oU.Id) ? "selected" : "")>@oU.Surname, @oU.Name </option>
                    }
                </select>
            </div>
            <a class="toolt" id="tooltipUsersInGroup">
                <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true" style="margin-top:5px;"></i>
            </a>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"><b>Habilitado</b></div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Enabled, new { @checked = "checked", @class = "no-left-margin" })
                @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index", "Groups")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
</div>

}


@section scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/Pages/groups.js"></script>
}


