﻿@model QavantWeb.Models.Group

@{
    ViewBag.Title = "Eliminar Grupo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grupo</h2>

<div>
    <h4>Eliminar</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Habilitado
        </dt>

        <dd>
            @if (Model.Enabled == true)
            {
                <p>Si</p>;
            }
            else
            {
                <p>No</p>;
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <a href="@Url.Action("Index", "Groups", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button id="btn-show-warning" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
        <button id="btn-delete" type="submit" class="hidden"></button>


    }
    @Html.Partial("_ConfirmModal", "El grupo " + Model.Name + " se eliminará y ya no será recuperable. ¿Desea continuar de todos modos?")
</div>


<script src="~/Scripts/Pages/delete-modal-warning.js"></script>
