﻿@model QavantWeb.Models.FormsPerformanceEvaluation

@{
    ViewBag.Title = "Evaluación de Desempeño";
}

<h2><i class="fa fa-file-text-o" aria-hidden="true"></i> @Model.Form.Title</h2>
<hr />
<div class="evaluacion ">

    <div class="sectionHeader row">
        <div class="col-md-12">
            <h4>Datos Principales</h4>
        </div>
    </div>
    <div class="datosPrincipales">
        <div class="row">
            <div class="col-xs-8">
                <div class="control-label col-md-2"><b>Evaluado</b></div>
                <div class="col-md-10">
                    @Html.DropDownList("Evaluated_Id", new SelectList(ViewBag.Users, "Id", "Name"), "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-4">
                <div class="control-label col-md-2"><b>Fecha</b></div>
                <div class="col-md-10 form-data">
                    @Model.StartedDate.ToShortDateString()
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">

                <div class="control-label col-md-2"><b>Area</b></div>
                <div class="col-md-10 form-data">
                    @Model.User.Area.Nombre
                </div>
            </div>
            <div class="col-xs-4">
                <div class="control-label col-md-2"><b>Puesto</b></div>
                <div class="col-md-10 form-data">
                    @Model.User.JobTitle
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="control-label col-md-2"><b>Evaluador</b></div>
                <div class="col-md-10">
                    @Html.DropDownList("Evaluator_Id", new SelectList(ViewBag.Users, "Id", "Name"), "Seleccionar", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="sectionHeader row">
        <div class="col-md-12">
            <h4>Evaluación</h4>
        </div>
    </div>
    @foreach (QavantWeb.Models.FormsQuestionGroup gr in Model.Form.FormsQuestionGroups.OrderBy(o => o.Order))
    {
        string odd = "";
        if (gr.ShowsAverage)
        {
            //Si tiene promedio es porque son de calificaciones
            <div class="row groupHeader">
                <div class="col-md-8"><h5>@gr.Description</h5></div>
                <div class="col-md-2"><h5 class="text-center"> Evaluación Propia</h5></div>
                <div class="col-md-2"><h5 class="text-center"> Evaluación Óptima</h5></div>
            </div>
            foreach (QavantWeb.Models.FormsQuestion fq in Model.Form.FormsQuestions.Where(w => w.FormsQuestionGroup_Id == gr.Id).OrderBy(o => o.Order))
            {
                <div class="row rowData @odd">
                    <div class="col-md-8 question">@fq.Question</div>
                    <div class="col-md-2">@Html.DropDownList("Id", new SelectList(fq.FormsQuestionsOptions.OrderBy(o => o.Order).Select(s => new { Id = s.Description, Name = s.Description }).ToList(), "Id", "Name"), "Seleccionar", new { @class = "form-control" })</div>
                    <div class="col-md-2"></div>
                </div>
                if (odd == "")
                {
                    odd = "odd";
                }
                else
                { odd = ""; }
            }
            List<QavantWeb.Models.FormsAnswer> resultadosEvaluado = Model.Form.FormsAnswers.Where(w => w.FormsQuestion.FormsQuestionGroup_Id == gr.Id).ToList();
            List<QavantWeb.Models.FormsAnswer> resultadosEvaluador = Model.Form.FormsAnswers.Where(w => w.FormsQuestion.FormsQuestionGroup_Id == gr.Id).ToList();
            <div class="row groupFooter">
                <div class="col-md-8"><h5>SubTotal @gr.Description</h5></div>
                <div class="col-md-2"><h5 class="text-center"> @(resultadosEvaluado.Count() == 0 ? "0" : resultadosEvaluado.Average(s => int.Parse(s.Answer)).ToString())</h5></div>
                <div class="col-md-2"><h5 class="text-center"> @(resultadosEvaluador.Count() == 0 ? "0" : resultadosEvaluador.Average(s => int.Parse(s.Answer2)).ToString())</h5></div>
            </div>
        }
        else
        {
            <div class="row groupHeader">
                <div class="col-md-12"><h5>@gr.Description</h5></div>
            </div>
            foreach (QavantWeb.Models.FormsQuestion fq in Model.Form.FormsQuestions.Where(w => w.FormsQuestionGroup_Id == gr.Id).OrderBy(o => o.Order))
            {
                <div class="row rowOtherData @odd">
                    <div class="col-md-12">@fq.Question</div>
                    @switch (fq.FormsQuestionsType_Id)
                    {
                        case "DROPDOWN":
                            <div class="col-md-6">@Html.DropDownList("Id", new SelectList(fq.FormsQuestionsOptions.OrderBy(o => o.Order).Select(s => new { Id = s.Description, Name = s.Description }).ToList(), "Id", "Name"), "Seleccionar", new { @class = "form-control" })</div>
                            break;
                        case "TEXT":
                        <div class="col-md-6"><input type="text" value="@(Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault() == null ? "" : Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault().Answer)" class="form-control" /></div>
                            break;
                        case "TEXTAREA":
                        <div class="col-md-6"><textarea class="form-control" rows="6">@(Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault() == null ? "" : Model.FormsAnswers.Where(w => w.FormsQuestion_Id == fq.Id).FirstOrDefault().Answer)</textarea></div>
                            break;
                    }
                    <div class="col-md-6"></div>
                </div>
                if (odd == "")
                {
                    odd = "odd";
                }
                else
                { odd = ""; }
            }
        }
    }
    <hr />
    <div class="col-md-3"></div>
    <div class="col-md-2 text-right"> <button class="btn btn-danger ">Cancelar</button></div>
    <div class="col-md-2 text-center"><button class="btn btn-success ">Enviar</button> </div>
    <div class="col-md-2 text-left"><button class="btn btn-default ">Imprimir</button> </div>
    <div class="col-md-3"></div>
</div>
