﻿@model String

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header navbar-inverse">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white">ATENCIÓN:</h4>
            </div>
            <div class="modal-body">
                <p>@Model</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> NO </button>
                <button id="btn-diseable-warning-yes" type="button" class="btn btn-primary" data-dismiss="modal"> SI </button>
            </div>
        </div>

    </div>
</div>
