﻿@model QavantWeb.ViewModels.FiltroConfigViewModel
@{
    var filtros = new List<QavantWeb.ViewModels.FiltroViewModel>();
    if (Model.Filtros != null)
    {
        filtros = Model.Filtros.FiltroCollection;
    }

    var segmentacion = new List<QavantWeb.ViewModels.SegmentoViewModel>();
    if (Model.Segmentacion != null)
    {
        segmentacion = Model.Segmentacion.SegmentoCollection;
    }

}

<div class="panel panel-default" id="pnlFiltros">
    <div class="panel-heading">
        <h3 class="panel-title">Filtros&nbsp;<span class="title-note">(Todas las personas que estén incluidas en cada filtro agregado tendrán acceso a esta información).</span></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5 row">
                <div class="col-md-5"><label>Tipo de Filtro:</label></div>
                <div class="col-md-7">
                    <select id="filtro-tipo" class="form-control">
                        @foreach (var filtro in filtros)
                        {
                            <option data-id="@filtro.Tipo.Id" value="filtro-@filtro.Tipo.Id">@filtro.Tipo.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-5 row">
                @foreach (var filtro in filtros)
                {
                    <div class=" filtro-opciones" id="filtro-@filtro.Tipo.Id">
                        <div class="col-md-2"><label>@filtro.Tipo.Nombre:</label></div>
                        <div class="col-md-10">
                            @{
                                IEnumerable<SelectListItem> opcionesSelectList = filtro.Opciones.Select(x => new SelectListItem() { Text = x.Value, Value = x.Key.ToString() });
                            }
                            @Html.DropDownList("OpcionesList", opcionesSelectList, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                }
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-primary col-md-12" id="btn_FilterAdd">Agregar</button>
                <input type="hidden" id="hdn_Edit" value="0" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">


                <table id="tbl_Filters" class="table table-hover @if (segmentacion.Count(seg => seg.Action != "B") > 0)
                    { <text>display</text> } else {<text>hide</text> } compact stripe">
                    <thead>
                        <tr>
                            <th class="col-md-3">Tipo de Filtro</th>
                            <th class="col-md-4">Valor</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < segmentacion.Count; i++)
                        {
                            <tr id="tr_fil_@i" style="@if (segmentacion[i].Action == "B")
                            { <text>display:none</text> }">
                                <td>@segmentacion[i].TipoFiltroDescripcion</td>
                                <td>@segmentacion[i].ValorFiltroDescripcion</td>
                                <td>
                                    <button id="btn_FilterDelete" actionid="@i" type="button" class="btn btn-default btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    <input type="hidden" id="hdn_FiltroAction_@i" name="FiltroConfig.Segmentacion.SegmentoCollection[@i].Action" value="@segmentacion[i].Action" />
                                    <input type="hidden" id="hdn_FiltroId_@i" name="FiltroConfig.Segmentacion.SegmentoCollection[@i].Id" value="@segmentacion[i].Id" />
                                    <input type="hidden" id="hdn_TipoFiltroId_@i" name="FiltroConfig.Segmentacion.SegmentoCollection[@i].TipoFiltroId" value="@segmentacion[i].TipoFiltroId" />
                                    <input type="hidden" id="hdn_ValorFiltroId_@i" name="FiltroConfig.Segmentacion.SegmentoCollection[@i].ValorFiltroId" value="@segmentacion[i].ValorFiltroId" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                <div id="div-no-filters" class="alert alert-info @if (segmentacion.Count(seg => seg.Action != "B") == 0)
                    { <text>display</text> } else {<text>hide</text> }">
                    Todavía no se aplicaron filtros.
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        setFiltersOptions();
        addFilter();
        bindDeletes();
    });

    function setFiltersOptions() {
        // init
        $(".filtro-opciones").hide();
        var optionByDefault = $("#filtro-tipo").first().val();
        $('#' + optionByDefault).show();

        // change
        $("#filtro-tipo").on('change', function () {
            $(".filtro-opciones").hide();
            var selected = $(this).val();
            $('#' + selected).show();
        });
    }

    function addFilter() {
        $("#btn_FilterAdd").on('click', function () {
            var item = {
                tipoFiltroId: $("#filtro-tipo option:selected").data("id"),
                tipoFiltroDesc: $("#filtro-tipo option:selected").text(),
                valorFiltroId: $('#' + $("#filtro-tipo option:selected").val() + ' option:selected').val(),
                valorFiltroDesc: $('#' + $("#filtro-tipo option:selected").val() + ' option:selected').text()
            };
            var isOk = validateNewItem(item);
            if (isOk) {
                addToTable(item);
            }
        });
    }

    function validateNewItem(item) {
        var isOk = true;

        // validar que se seleccionó un valor
        if (item.valorFiltroId == "") {
            alert("Debe seleccionar una opción");
            isOk = false;
        }

        // validar que el item no haya sido agregado anteriormente
        var column2 = $("#tbl_Filters tbody tr td:nth-child(2):visible");
        for (var i = 0; i < column2.length; i++) {
            var valor = $(column2[i]).text();
            if (valor == item.valorFiltroDesc) {
                alert(item.valorFiltroDesc + " ya existe en la lista ");
                isOk = false;
            }
        }
        return isOk;
    }

    function addToTable(item) {
        var newFilter = "";
        var itemNro = $("#tbl_Filters tbody tr").length;

        newFilter = "<tr id=\"tr_fil_" + itemNro + "\">";
        newFilter += "<td>" + item.tipoFiltroDesc + "</td>";
        newFilter += "<td>" + item.valorFiltroDesc + "</td>";

        newFilter += "<td>";
        newFilter += "<button id=\"btn_optDelete\" actionid=\"" + itemNro + "\" type=\"button\" class=\"btn btnDelete btn-default\"><i class=\"fa fa-trash\" aria-hidden=\"true\"></i></button>";
        newFilter += "<input type=\"hidden\" id=\"hdn_FiltroAction_" + itemNro + "\" name=\"FiltroConfig.Segmentacion.SegmentoCollection[" + itemNro + "].Action\" value=\"A\" />";
        newFilter += "<input type=\"hidden\" id=\"hdn_FiltroId_" + itemNro + "\" name=\"FiltroConfig.Segmentacion.SegmentoCollection[" + itemNro + "].Id\" value=\"0\" />";
        newFilter += "<input type=\"hidden\" id=\"hdn_TipoFiltroId_" + itemNro + "\" name=\"FiltroConfig.Segmentacion.SegmentoCollection[" + itemNro + "].TipoFiltroId\" value=\"" + item.tipoFiltroId + "\" />";
        newFilter += "<input type=\"hidden\" id=\"hdn_ValorFiltroId_" + itemNro + "\" name=\"FiltroConfig.Segmentacion.SegmentoCollection[" + itemNro + "].ValorFiltroId\" value=\"" + item.valorFiltroId + "\" />";

        newFilter += "</td></tr>";

        $("#tbl_Filters tbody").append(newFilter);
        showFiltersTable();
        hideDivNoFilters();
        bindDeletes();
    }

    function bindDeletes() {
        $(".btnDelete").unbind("click");
        $(".btnDelete").click(function () {
            if (!confirm("¿Está seguro de que desea eliminar este filtro?")) {
                return;
            }

            var index = $(this).attr('actionid');
            $("#hdn_FiltroAction_" + index).val('B');
            $("#tr_fil_" + index).hide();

            var currentRows = $('#tbl_Filters tbody tr:visible').length;
            if (currentRows > 0) {
                console.log(currentRows);
                hideDivNoFilters();
                showFiltersTable();
            }
            else {
                console.log(currentRows);
                showDivNoFilters();
                hideFiltersTable();
            }
        });
    }


    function showDivNoFilters() {
        $("#div-no-filters").removeClass("hide");
        $("#div-no-filters").addClass("display");
    }

    function hideDivNoFilters() {
        $("#div-no-filters").removeClass("display");
        $("#div-no-filters").addClass("hide");
    }

    function showFiltersTable() {
        $("#tbl_Filters").removeClass("hide");
        $("#tbl_Filters").addClass("display");
    }

    function hideFiltersTable() {
        $("#tbl_Filters").removeClass("display");
        $("#tbl_Filters").addClass("hide");
    }
</script>
