﻿@model QavantWeb.Models.AspNetUserCreate
@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>
@using (Html.BeginForm("Create", "AspNetUsers", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nuevo Usuario</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })


        <div class="form-group">
            <div class="control-label col-md-2"><b>Asignar Rol</b></div>
            <div class="col-md-10">
                <select style="width: 100%;" id="lista" name="lista" class="form-control">
                    @foreach (QavantWeb.Models.AspNetRole a in (List<QavantWeb.Models.AspNetRole>)ViewBag.lista)
                    {
                        <option value="@a.Id"> @a.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Nombre de Usuario</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", style = "display:inline;float:left;" } })
                <div class="form-horizontal control-label">
                    @Html.HiddenFor(model => model.UsernamePostfix)
                    <label style="display:inline;float:left;">@Model.UsernamePostfix</label>
                </div>
                <a class="toolt" id="tooltipsUsername"> <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Nombre</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Apellido</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Contraseña</b></div>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>Confirmar Contraseña</b></div>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "AspNetUsers")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $('#tooltipsUsername').tooltip(
            {
                placement: 'right',
                html: 'true',
                title: '<strong>Nota:</strong> El nombre de usuario estará formado por el nombre cargado + .nombredelaempresa.'
            }
        );

    });
</script>

<script src="~/Scripts/Pages/validation-summary.js"></script>
