﻿@model IEnumerable<QavantWeb.Models.AspNetUser>

@{
    ViewBag.Title = "Administradores";
}

<h2><i class="fa fa-wrench " aria-hidden="true"></i> Usuarios - Panel de Administración</h2>

<div class="form-group">
    <a href="@Url.Action("Create", "AspNetUsers")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo usuario </a>
    <a href="@Url.Action("IndexDeleted", "AspNetUsers")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Usuarios Eliminados </a>
</div>


<table id="AspNetUsersList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Rol
            </th>
            <th>
                Email
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (var i in item.AspNetRoles)
                {
                    if (i.Name == "Administrador")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                    if (i.Name == "Publicador")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                    if (i.Name == "RRHH")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                    if (i.Name == "Publicador Planillas Horarios")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                <a href="@Url.Action("Edit", "AspNetUsers", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                @if (item.Id != ViewBag.actualUserId)
                {
                    <a href="@Url.Action("Delete", "AspNetUsers", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                }


            </td>
        </tr>
    }

</table>



<script>
    $(document).ready(function () {
        $('#AspNetUsersList').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
