<qavant-header title="Beneficios"></qavant-header>

<ion-content padding>  
  <div class="fixed-div">
      <div class="fixed-div-top"></div>
      <div class="filter">
        <div class="hide">
          <button ion-button clear (click)="getBeneficios(1)" [class.active]="flagTabSelected">Todos</button>
          <button ion-button clear (click)="getBenefitsLikes(1)" [class.active]="!flagTabSelected">Favoritos</button>
        </div>
        <ion-list> 
          <ion-item>
            <ion-label>Categorías</ion-label>
            <ion-select [(ngModel)]="selectedCat" submitText="Ok" cancelText="Cancelar" (ngModelChange)="onChange($event)">
              <ion-option *ngFor="let cat of categoriesList" value="{{cat?.id}}" [selected]="selectedCat == cat">{{ cat?.name }}</ion-option>
            </ion-select>
          </ion-item>         
        </ion-list>            
      </div>
  </div> 

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tira hacia abajo para actualizar..."
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let beneficio of beneficioList">
      <qavant-card-beneficio [entidad]="beneficio"></qavant-card-beneficio>
    </div>
    <ion-item *ngIf='beneficioList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>