<div class="col-sm-12 card-suggestion">
  <div class="row">
    <div class="col-lg-5 card-suggestion-image">
      <a [routerLink]="[getRouter(), getId()]">
        <img [src]="getImage()" alt="" title="">
      </a>
    </div>
    <div class="col-lg-7 card-suggestion-content">
      <h3 title="{{getTitle()}}">
        <a [routerLink]="[getRouter(), getId()]" 
          [ngStyle]="{color:settingsService.getPrimaryColor()}">
          {{getTitle() | truncate: 30}}
        </a>
      </h3>
      <p>{{getSubtitle() | truncate: 40}}</p>
    </div>
  </div>
</div>
