div.card-suggestion{
    margin-bottom: 10px;
    div.card-suggestion-image{
        padding: 0px;
        background-color: #aeaeae;
        overflow: hidden;
        height: 90px;
        img{
            cursor: pointer;
            object-fit: cover !important;
            height: 90px;
            width: 100%;
        }
    }
    div.card-suggestion-content{
        h3, p {
            margin: 0px;
            line-height: 1.5;
        }
        h3{
            font-size: 15px;
            margin-bottom: 5px;
        }
        p{
            font-size: 13px
        }
    }
}