﻿@model QavantWeb.ViewModels.DocumentoViewModel
@{
                /**/

                /**/

                ViewBag.Title = "Create";
}

<h2>Crear</h2>

@using (Html.BeginForm("Create", "Documents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Documentos @ViewBag.SubTitle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Documento.DocumentLibraryId)


        @if (Model.Documento.DocumentLibraryId != (int)QavantWeb.Models.Enums.DocumentLibrary.Planillas)
        {
            <div class="form-group">
                <div class="control-label texto-label-left col-md-1"><b>Tipo</b></div>
                <div class="col-md-11">
                    @Html.DropDownListFor(model => model.Documento.DocumentTypeId, (SelectList)ViewBag.DocumentTypeId, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        }
        else
        {
            <input type="hidden" value="@((int)QavantWeb.Models.Enums.DocumentTypes.Documento)" name="Documento.DocumentTypeId" id="DocumentTypeId" />
        }

        <div class="form-group" id="TitleGroup">
            <div class="control-label texto-label-left col-md-1"><b>Título</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Documento.Title, new { htmlAttributes = new { @class = "form-control titulo" } })
                @Html.ValidationMessageFor(model => model.Documento.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="DescripGroup">
            <div class="control-label texto-label-left col-md-1"><b>Subtítulo (Opcional)</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Documento.Description, new { htmlAttributes = new { @class = "form-control subtitulo" } })
                @Html.ValidationMessageFor(model => model.Documento.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Categoría</b></div>
            <div class="col-md-10 checkbox">
                @Html.DropDownListFor(model => model.Documento.CategoriaId, (SelectList)ViewBag.CategoriaId, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Documento.CategoriaId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-offset-2 alert alert-warning alert-dismissible" style="margin-left: 18%; margin-top: 4%;" id="miAlert">
                <a href="#" class="close">&times;</a>
                <p id="msjAlert"></p>
            </div>
        </div>

        <div class="form-group" id="ArchiveGroup">
            <div class="control-label texto-label-left col-md-1"><b>Archivo</b></div>
            <div class="col-md-11">
                <input type="file" id="File" name="File" accept=".xls,.xlsx,.doc,.docx,.ppt,.pps,.pptx,.ppsx,.pdf,.jpg,.jpeg,.png" style="float: left;"/>
                <a class="col-md-1" id="tooltipsFile"> <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true"> </i> </a>
                @Html.ValidationMessageFor(model => model.Documento.Filepath, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="VideoGroup">
            <div class="control-label texto-label-left col-md-1"><b>Id del Video</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Documento.Filepath, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <hr />
        @Html.Partial("_Filtros", Model.FiltroConfig)
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "Documents", new { iDocumentLibrary = Model.Documento.DocumentLibraryId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
}

<script src="~/Scripts/Pages/tamanio-archivo-validacion.js"></script>
<script>
    var uploadField = document.getElementById("File");
    uploadField.onchange = function () {
        validateFileSize(this);
    };

    $(document).ready(function () {
        $("#TitleGroup").hide();
        $("#DescripGroup").hide();
        $("#ArchiveGroup").hide();
        $("#CrearGroup").hide();
        $("#VideoGroup").hide();


        $("#DocumentTypeId").change(function () {
            checkPanels();
        });

        checkPanels();

        $("#miAlert").alert().hide();
        var cat = $("#Documento_CategoriaId").val();
        var cmbCat = $("#Documento_CategoriaId option").text();
        if (cmbCat.length < 12) {
            if (cat == "" || cat == undefined) {
                $("#msjAlert").html("<strong>No existe ninguna 'Categoría' para Documentos.</strong><br > Primero debe crear una Categoría en la sección Administración  -  Categorías<br >");
                $("#miAlert").alert().show();
                return false;
            }
        }

        $('#tooltipsFile').tooltip(
            {
                placement: 'right',
                html: 'true',
                title: '<strong>Instrucciones:</strong> Para mejor performance los archivos no deben superar los 8MB de tamaño.'
            }
        );
    });
    $(".close").click(function () {
        $("#miAlert").alert().hide();
    });

    function confirmMessages() {
        $("#miAlert").alert().hide();
    }
    function checkPanels() {
        $("#TitleGroup").hide();
        $("#DescripGroup").hide();
        $("#ArchiveGroup").hide();
        $("#CrearGroup").hide();
        $("#VideoGroup").hide();

        switch ($("#DocumentTypeId").val()) {
            case "1":
                $("#TitleGroup").show();
                $("#DescripGroup").show();
                $("#ArchiveGroup").show();
                $("#CrearGroup").show();
                break;
            case "2":
                $("#TitleGroup").show();
                $("#DescripGroup").show();
                $("#VideoGroup").show();
                $("#CrearGroup").show();
                break;
            default:
                $("#TitleGroup").show();
                $("#DescripGroup").show();
                $("#ArchiveGroup").show();
                $("#CrearGroup").show();
                break;
        }
    }
</script>