﻿@model IEnumerable<QavantWeb.Models.Document>
@{
    ViewBag.Title = "Index";
   
}
<h2><i class="fa fa-folder-open " aria-hidden="true"></i> Documentos @ViewBag.SubTitle</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Documents", new  { iDocumentLibrary = ViewBag.iDocumentLibrary })" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo documento</a>
    <a href="@Url.Action("IndexDeleted", "Documents", new { iDocumentLibrary = ViewBag.iDocumentLibrary })" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Documentos Eliminados</a>   
</div>
<div class="col-xs-12">
    <table id="DocumentsList" class="table hover display compact stripe">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Título
                </th>
                <th>
                    Subtítulo
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Ult Modif
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@item.Filepath" target="_blank">
                        @switch (item.DocumentType.Id)
                        {
                            case (int)QavantWeb.Models.Enums.DocumentTypes.Documento:
                                <i class="fa fa-file-text-o fa-2x fa-fw" style="color: #04B431;" aria-hidden="true"></i>
                                break;
                            case (int)QavantWeb.Models.Enums.DocumentTypes.Video:
                                <i class="fa fa-file-video-o fa-2x fa-fw" style="color: #0000FF" aria-hidden="true"></i>
                                break;
                            default:
                                <i class="fa fa-file-o fa-2x fa-fw" aria-hidden="true"></i>
                                break;
                        }
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Documents", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil disabled" aria-hidden="true"></span></a>
                    <a href="@Url.Action("Delete", "Documents", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </table>
</div>
<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
        $('#DocumentsList').DataTable({
            "order": [[3, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
