<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
    QUIÉN ES QUIÉN
  </h1>
  <div class="d-flex flex-row-reverse day">
    <div class="content-search p-r-0" 
      [@enterAnimation]="!hasUsers() ? 'loading':'ready'">
      <form action="" class="form-search d-flex align-items-end" #search="ngForm">
        <div class="row">
          <div class="col p-r-0">
            <ng2-completer
              [(ngModel)]="captain"
              [datasource]="suggestion"
              [textSearching]="'Buscando ...'"
              [inputClass]="'form-control validate filter-input'"
              (selected)="onSelected($event)"
              [inputId]="'buscador'"
              [overrideSuggested]="false"
              [textNoResults]="'No hay resultados'"
              [name]="search"
              [placeholder]="'Buscar ...'"
              [minSearchLength]="3"></ng2-completer>
          </div>
          <div class="col p-0">
            <button type="button" class="btn btn-info show-all"
              (click)="getAllUser()"
              [ngStyle]="{'background-color': settingsService.getPrimaryColor(), 'border-color': settingsService.getPrimaryColor()}">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row day content-user" data-social="day" 
    [@enterAnimation]="!hasUsers() ? 'loading':'ready'">

    <ng-container *ngFor="let user of users | paginate: { itemsPerPage: 12, currentPage: p }">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div *ngIf="hasUsers()" class="card card-user">
          <div class="col-sm-12">
            <div class="row">

                <div class="col-sm-12 col-lg-3 image d-flex align-items-center">
                  <a [routerLink]="['/perfil', user.Id]">
                    <img src="{{user.Image}}" class="rounded-circle" alt="{{user.Username}}">
                  </a>
                </div>

                <div class="col-sm-12 col-lg-9 info d-flex align-items-center p-l-0">
                  <div class="col-md-12 p-r-0 p-l-0">
                    <p>
                      <a [routerLink]="['/perfil', user.Id]"
                        [ngStyle]="{'color': settingsService.getPrimaryColor()}">
                        {{getUserName(user)}}
                      </a>
                    </p>
                    <p class="area">
                      {{getUserArea(user)}}
                    </p>
                    <p>
                      <i class="fa fa-phone"></i>
                      {{getUserIntern(user)}}
                    </p>
                    <p class="phone">
                      <i class="fa fa-mobile"></i>
                      {{getUserPhone(user)}}
                    </p>
                    <p class="email">
                      <i class="fa fa-envelope"></i>
                      <a href="mailto:{{getUserMail(user)}}">
                        {{getUserMail(user)}}
                      </a>
                    </p>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="hasUsers()" class="text-center">
    <pagination-controls class="my-pagination"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="p = $event">
    </pagination-controls>
  </div>


</pg-container>
