<qavant-header title="Términos"></qavant-header>

<ion-content padding>
  <p>La Presente Aplicación es propiedad de <strong>Su Empresa S.A.</strong> Como tal reviste el carácter de confidencial pudiendo
    solamente ser compartida internamente. Está prohibida la divulgación o distribución del contenido en cualquier forma a
    personas externas a la empresa.</p>

  <p>Los datos incorporados en los campos de información personal son tratados únicamente con el fin de prestarle servicios
    al empleado y enviarle la información acerca de la empresa que pueda ser de su interés.</p>

  <p><strong>Su Empresa</strong> está comprometida con la seguridad de los datos de sus usuarios. Es por eso que ha establecido los procedimientos
    para asegurar que los mismos sean protegidos adecuadamente contra todas las formas de acceso, uso, divulgación o modificación
    no autorizado.</p>

  <p>Esta Política de Privacidad podrá ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página
    para asegurarse estar informado de dichos cambios.</p>
</ion-content>
