﻿@model QavantWeb.ViewModels.NoticiaViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>Noticias</h2>
@using (Html.BeginForm("Edit", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Noticias</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    @Html.HiddenFor(model => model.Noticia.Id)
    @Html.HiddenFor(model => model.Noticia.FechaAlta)
    @Html.HiddenFor(model => model.Noticia.EmpresaId)

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Título</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Noticia.Titulo, new { htmlAttributes = new { @class = "form-control titulo" } })
            @Html.ValidationMessageFor(model => model.Noticia.Titulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Subtítulo</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Noticia.Copete, new { htmlAttributes = new { @class = "form-control subtitulo" } })
            @Html.ValidationMessageFor(model => model.Noticia.Copete, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Fecha</b></div>
        <div class="col-md-11">
            @Html.TextBoxFor(m => m.Noticia.FechaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
            @Html.ValidationMessageFor(model => model.Noticia.FechaDesde, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Contenido</b></div>
        <div class="col-md-11">
            <form>
                <textarea name="__Content" id="__Content" rows="10" cols="80"> @Html.Raw(HttpUtility.HtmlDecode(Model.Noticia.Contenido))</textarea>
                <script>

                    CKEDITOR.replace('__Content');

                </script>
            </form>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label texto-label-left col-md-1">Imagen</label>
        <div class="col-md-11">
            @if (Model.Noticia.Image != null)
            {
                <img src="@Html.DisplayFor(model => model.Noticia.Image)" id="Image" name="Image" alt="" style="width:200px" /><br />

                <div id="borrar" style="display:block">
                    <input type="button" value="Eliminar foto" onclick="Borrar()" />
                </div>

                <div id="subirImg" style="display:none">
                    <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                    <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Noticia.Image)" />
                </div>
            }
            else
            {
                <img src="@Html.DisplayFor(model => model.Noticia.Image)" id="Image" name="Image" alt="" style="width:200px;display:none" /><br />

                <div id="subirImg" style="display:block">
                    <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                    <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Noticia.Image)" />
                </div>

                <div id="borrar" style="display:none">
                    <input type="button" value="Eliminar foto" onclick="Borrar()" />
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Destacada</b></div>
        <div class="col-md-11">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Noticia.Destacada)
            </div>
        </div>
    </div>



    @Html.Partial("_Filtros", Model.FiltroConfig)

    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index", "News")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
</div>


    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
    <script src="~/Scripts/Pages/validation-summary.js"></script>

    <script type="text/javascript">
        var uploadField = document.getElementById("ImageFile");
        uploadField.onchange = function () {
            validateImageSize(this);
            validateImageExtension(this);
        };
        function Borrar() {
            document.getElementById('Image').setAttribute("src", ""); //Oculto tag img actual
            document.getElementById('borrar').style.display = 'none'; //Oculto boton Borrar
            document.getElementById('subirImg').style.display = 'block'; //muestro el input
            document.getElementById('Image').value = ""; //Ningún archivo seleccionado
            document.getElementById('ImageFile').value = ""; //Ningún archivo seleccionado
            document.getElementById('foto').value = ""; //borro lo que tenga el hidden
        }
        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();// Creo la instancia de FileReader
                reader.onload = function (e) {
                    document.getElementById('Image').setAttribute("src", e.target.result);//seteo y cargo el tag img
                }
                reader.readAsDataURL(input.files[0]);//leo el contenido del file
                document.getElementById('borrar').style.display = 'block'; //Oculto El boton Borrar
                document.getElementById('Image').style.display = 'block';//muestro
            }
            else { //No muestro nada
                document.getElementById('Image').setAttribute("src", "");
                document.getElementById('borrar').style.display = 'none';
            }
        }
    </script>
}
