﻿@model QavantWeb.Models.Categoria

@{
    ViewBag.Title = "Edit";
}

<h2>Categoría</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id, new { id = "hfCategoriaId" })
        @Html.HiddenFor(model => model.EmpresaId)

        <div class="form-group">
            <div class="control-label col-md-2"> Módulo</div>
            <div class="col-md-10">
                <select id="modulosDropDownList" class="form-control" name="ModuloId"></select>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Nombre</div>
            <div class="col-md-10">
                <input id="nombre" name="Nombre" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"> Padre</div>
            <div class="col-md-10">
                <select id="categoriasDropDownList" class="form-control" name="PadreCategoriaId"></select>
            </div>
        </div>


        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Categorias", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                <input type="submit" value="Guardar" class="btn btn-primary" id="cmdSubmit" />
            </div>
        </div>
    </div>
}



<script>


    $(document).ready(function () {
        //precargamos formularios
        var pageURL = window.location.href;
        var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
        var endpoint = '@Url.Action("GetCategoriaById", "Categorias", new { id = "-1" })';
        endpoint = endpoint.replace("-1", lastURLSegment);

        $.ajax({
            type: "GET",
            url: endpoint,
            dataType: "json",
            success: function (data) {
                //populamos nombre de categoria
                $('#nombre').val(data.CategoriaNombre);

                //populamos el combo "modulos"
                $('#modulosDropDownList').html('');
                var optionsModulos = '';
                optionsModulos += '<option value="0">Seleccionar</option>';

                for (var i = 0; i < data.Modulos.length; i++) {
                    if (data.ModuloId == data.Modulos[i].Id) {
                        optionsModulos += '<option selected value="' + data.Modulos[i].Id + '">' + data.Modulos[i].Nombre + '</option>';
                    } else {
                        optionsModulos += '<option value="' + data.Modulos[i].Id + '">' + data.Modulos[i].Nombre + '</option>';
                    }
                }
                $('#modulosDropDownList').append(optionsModulos);

                //populamos el combo "categorias"
                $('#categoriasDropDownList').html('');
                var optionsCategorias = '';
                data.Categorias.push({ Id: 0, Nombre: 'Sin Padre' });
                var editedCategoryId = $("#hfCategoriaId").val();
                for (var i = 0; i < data.Categorias.length; i++) {
                    // No mostramos la categoría actual dentro del combo de categorías. No puede una categoría ser padre de sí misma.
                    if (data.Categorias[i].Id == editedCategoryId)
                        continue;
                    if (data.CategoriaPadreId == data.Categorias[i].Id) {
                        optionsCategorias += '<option selected value="' + data.Categorias[i].Id + '">' + data.Categorias[i].Nombre + '</option>';
                    } else {
                        optionsCategorias += '<option value="' + data.Categorias[i].Id + '">' + data.Categorias[i].Nombre + '</option>';
                    }
                }
                $('#categoriasDropDownList').append(optionsCategorias);
            },
            error: function (error) {
                alert(error.StatusText);
            }
        });

        //populamos combo categorias
        $('#modulosDropDownList').on("change", function () {
            var moduloId = $('#modulosDropDownList').val();
            if (moduloId == 0) {
                $('#categoriasDropDownList').html('');
                return;
            }

            var obj = { moduloId: moduloId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCategoriasByModulo", "Categorias")',
                dataType: "json",
                data: obj,
                success: function (data) {
                    $('#categoriasDropDownList').html('');
                    var options = '';
                    options += '<option value="0">Sin Padre</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].Id + '">' + data[i].Nombre + '</option>';
                    }
                    $('#categoriasDropDownList').append(options);
                },
                error: function (error) {
                    alert(error.StatusText);
                }
            });
        });


        //validaciones
        $("#cmdSubmit").click(function (event) {
            event.preventDefault();
            if ($('#modulosDropDownList').val() == 0) {
                alert("Seleccione un módulo");
                return;
            }


            if ($('#nombre').val() === "") {
                alert("Ingrese un nombre de categoría");
                return;
            }

            $("form").submit();
        });

    });
</script>