﻿@model IEnumerable<QavantWeb.Models.Categoria>

@{
    ViewBag.Title = "Categorías eliminadas";
}

<h2>Categorías</h2>

<p>
    <a href="@Url.Action("Index", "Categorias")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista de Categorías</a>
</p>

<table id="CategoriasList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Padre
            </th>
            <th>
                Módulo
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria1.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nombre)
            </td>
            <td>
                <a href="@Url.Action("Enable", "Categorias", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar la categoría nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $('#CategoriasList').DataTable({
            "order": [[1, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>