﻿@model IEnumerable<QavantWeb.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Categorías</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Categorias")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Categoría</a>
    <a href="@Url.Action("IndexDeleted", "Categorias")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Categorías Eliminadas</a>
</div>

<table id="CatList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Módulo
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.Nombre)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Categorias", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "Categorias", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
            </td>
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $('#CatList').DataTable({
            "order":[[1,"asc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
