﻿@model IEnumerable<QavantWeb.Models.ActionLog>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Comportamiento</h2>
<hr />
<div class="row" id="comportamientoKeys">
    @foreach (var item in ((List<QavantWeb.Models.est_Comportamiento_ComparacionReacciones_Result>)ViewBag.listaComportamiento))
    {
        <div class="col">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-left">
                            <div class="flex-wrapper">
                                <div class="single-chart">
                                    @if (item.Nombre == "Me encanta")
                                    {
                                        <svg viewBox="0 0 36 36" class="circular-chart encanta">
                                            <path class="circle-bg"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <path class="circle"
                                                  stroke-dasharray="@Convert.ToInt32(@item.porcentaje), 100"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <text x="18" y="20.35" class="percentage">
                                            </text>
                                        </svg>
                                    }
                                    @if (item.Nombre == "Me gusta")
                                    {
                                        <svg viewBox="0 0 36 36" class="circular-chart gusta">
                                            <path class="circle-bg"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <path class="circle"
                                                  stroke-dasharray="@Convert.ToInt32(@item.porcentaje), 100"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <text x="18" y="20.35" class="percentage">
                                            </text>
                                        </svg>
                                    }
                                    @if (item.Nombre == "Me sorprende")
                                    {
                                        <svg viewBox="0 0 36 36" class="circular-chart sorprende">
                                            <path class="circle-bg"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <path class="circle"
                                                  stroke-dasharray="@Convert.ToInt32(@item.porcentaje), 100"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <text x="18" y="20.35" class="percentage">
                                            </text>
                                        </svg>
                                    }
                                    @if (item.Nombre == "No me gusta")
                                    {
                                        <svg viewBox="0 0 36 36" class="circular-chart nogusta">
                                            <path class="circle-bg"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <path class="circle"
                                                  stroke-dasharray="@Convert.ToInt32(@item.porcentaje), 100"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <text x="18" y="20.35" class="percentage">
                                            </text>
                                        </svg>
                                    }
                                    @if (item.Nombre == "Me enfurece")
                                    {
                                        <svg viewBox="0 0 36 36" class="circular-chart enoja">
                                            <path class="circle-bg"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <path class="circle"
                                                  stroke-dasharray="@Convert.ToInt32(@item.porcentaje), 100"
                                                  d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            <text x="18" y="20.35" class="percentage">
                                            </text>
                                        </svg>
                                    }

                                    <img src="@item.icono" />
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-6 text-right">
                            @if (item.Nombre == "Me encanta")
                            {
                                <div class="indicator-label encanta">@item.Nombre</div>
                            }
                            @if (item.Nombre == "Me gusta")
                            {
                                <div class="indicator-label gusta">@item.Nombre</div>
                            }
                            @if (item.Nombre == "Me sorprende")
                            {
                                <div class="indicator-label sorprende">@item.Nombre</div>
                            }
                            @if (item.Nombre == "No me gusta")
                            {
                                <div class="indicator-label nogusta">@item.Nombre</div>
                            }
                            @if (item.Nombre == "Me enfurece")
                            {
                                <div class="indicator-label enoja">@item.Nombre</div>
                            }
                            <div class="huge indicator-number2 no-margin">@item.cantidad</div>
                            <div class="huge indicator-number2 no-margin">@item.porcentaje%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="row">
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerSentimientosPie" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerSentimientos" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading">
                    <div id="containerWordcloudCorpo"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading">
                    <div id="containerWordcloudUsuarios"></div>
                </div>
            </div>
        </div>
    </div>*@





<script>
        Highcharts.setOptions({
            colors: ['#058DC7', '#50B432', '#DDDF00', '#FF9655', '#ED561B'],
            lang: {
                loading: 'Cargando...',
                months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                shortMonths: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                exportButtonTitle: "Exportar",
                printButtonTitle: "Imprimir",
                rangeSelectorFrom: "De",
                rangeSelectorTo: "Hasta",
                rangeSelectorZoom: "Período",
                downloadPNG: 'Descargar imagen PNG',
                downloadJPEG: 'Descargar imagen JPEG',
                downloadPDF: 'Descargar documento PDF',
                downloadSVG: 'Descargar imagen SVG',
                printChart: "Imprimir",
                downloadCSV: 'Descargar CSV',
                downloadXLS: 'Descargar XLS',
                openInCloud: 'Abrir en Highcharts Cloud'
            }
        });

        /* Wordcloud Coporativo vs Wordcloud Usuarios */
        var text = 'Equipo, GOIAR, tecnología, colaboración, proyectos, .NET , Mobile, información, App Mobile, IA, desvío, deadline, solución, Equipo, GOIAR, tecnología, colaboración, proyectos, .NET , Mobile, información, App Mobile, IA, desvío, deadline, solución, Equipo, GOIAR, tecnología, colaboración, proyectos, .NET , Mobile, información, App Mobile, IA, desvío, deadline, solución, Equipo, GOIAR, tecnología, innovación, colaboración,  proyectos, .NET , Mobile, información, App Mobile, IA, desvío, deadline, solución,Equipo, GOIAR, tecnología, innovación, colaboración,  proyectos, .NET , Mobile, información, App Mobile, IA, desvío, deadline, solución,Equipo, GOIAR, tecnología, innovación, colaboración,  proyectos, .NET , Mobile, información, App Mobile, IA,  deadline, solución,Equipo, GOIAR, tecnología, innovación, colaboración, comunicación, proyectos, .NET , Mobile, información, App Mobile, IA,  deadline, solución,Equipo, GOIAR, tecnología, innovación, colaboración, comunicación, proyectos, .NET , Mobile, información, App Mobile, IA,  deadline, solución,Equipo, GOIAR, tecnología, innovación, colaboración, comunicación, proyectos, .NET , Mobile, información, App Mobile, IA,   solución,Equipo, GOIAR, tecnología, innovación, colaboración, comunicación, proyectos, .NET , Mobile, información,  Mobile, IA,   solución,Equipo, GOIAR, tecnología, innovación, transformación  colaboración, comunicación, proyectos, .NET , Mobile, información,  Mobile, IA, solución, Equipo, GOIAR, tecnología, innovación, transformación  colaboración, comunicación, proyectos, .NET , Mobile, información,  Mobile, IA,   solución,Equipo, GOIAR, tecnología, innovación, transformación digital, colaboración, comunicación, proyectos, .NET , Mobile, información,  Mobile, IA,   solución,Equipo,tecnología, innovación, transformación digital, colaboración, comunicación, proyectos, .NET , Mobile, información, App Mobile, IA,  deadline, solución,Equipo,tecnología, innovación, transformación digital, colaboración, comunicación, proyectos, .NET , Mobile, información, App Mobile, IA,  deadline, solución, Equipo, tecnología, innovación, transformación digital, colaboración, comunicación, proyectos, .NET , Mobile, información, App Mobile, IA,  deadline, solución,Equipo,tecnología, innovación, transformación digital, colaboración, comunicación, proyectos, .NET ,Mobile, información, App Mobile, IA,  deadline, solución, ionic ionic ionic ionic ionic ionic  ionic ionic ionic  diseño diseño Qavant Qavant Qavant Qavant Qavant Qavant Qavant Qavant Qavant Qavant Qavant Qavant Pudu Pudu Pudu  Pudu Pudu Pudu Libertad Libertad Libertad Libertad tecnología tecnología tecnología bot bot bot bot bot bot bot bot bot bot bot bot desvio desvio desvio desvio desvio diseño diseño diseño diseño diseño diseño diseño diseño Clima Clima  Clima Clima  Clima Clima Clima Clima Clima Clima Clima Clima Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes Clientes';
        var lines = text.split(/[,\. ]+/g),
            data = Highcharts.reduce(lines, function (arr, word) {
                var obj = Highcharts.find(arr, function (obj) {
                    return obj.name === word;
                });
                if (obj) {
                    obj.weight += 1;
                } else {
                    obj = {
                        name: word,
                        weight: 1
                    };
                    arr.push(obj);
                }
                return arr;
            }, []);

        //Highcharts.chart('containerWordcloudCorpo', {
        //    series: [{
        //        type: 'wordcloud',
        //        data: data,
        //        name: 'Ocurrencias'
        //    }],
        //    title: {
        //        text: '<b>Palabras de la Empresa</b>'
        //    }
        //});


        //var text2 = 'Ayuda, Ayuda, Ayuda, Ayuda, Ayuda, Ayuda, Ayuda, Ayuda, Ayuda, Gracias, Gracias, Gracias, Gracias, Gracias, Gracias, Gracias, Gracias,  Saludos, Saludos, Saludos, Saludos, Saludos, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Bienvenido, Repositorio, GOIAR, documentos, proyectos, Feliz cumpleaños , Feliz cumpleaños, Feliz cumpleaños, Bueno, Bueno, Bueno, Bueno, Bueno, Mal, GOIAR, colaboración, proyectos,  Mobile, IA, solución, Equipo, GOIAR, tecnología, innovación, transformación  colaboración, comunicación, proyectos, Cliente, Cliente, Cliente, Cliente, Cliente, Cliente, Saludos,Saludos,Saludos,Saludos,Saludos,Saludos,Saludos,Saludos,Saludos,Saludos,Saludos,Felicitaciones,Felicitaciones,Felicitaciones,Felicitaciones,Felicitaciones,Felicitaciones,Felicitaciones,Felicitaciones,Felicitaciones,Solicitud,Solicitud,Solicitud,Solicitud,Solicitud,Solicitud,Solicitud,Solicitud,Gracias,Gracias,Gracias,Gracias,Gracias,Gracias,Gracias,Gracias,Gracias,Gracias,jaja,jaja,jaja,jaja,jaja,jaja,jaja,jaja';
        //var lines2 = text2.split(/[,\. ]+/g),
        //    data2 = Highcharts.reduce(lines2, function (arr, word) {
        //        var obj = Highcharts.find(arr, function (obj) {
        //            return obj.name === word;
        //        });
        //        if (obj) {
        //            obj.weight += 1;
        //        } else {
        //            obj = {
        //                name: word,
        //                weight: 1
        //            };
        //            arr.push(obj);
        //        }
        //        return arr;
        //    }, []);

        //Highcharts.chart('containerWordcloudUsuarios', {
        //    series: [{
        //        type: 'wordcloud',
        //        data: data2,
        //        name: 'Ocurrencias'
        //    }],
        //    title: {
        //        text: '<b>Palabras de los Usuarios</b>'
        //    }
        //});

        /* Contenidos por cada sentimiento (mas y menos Felicidad)*/
        /* "top 10 d elos contenidos con mayor ME GUSTA y ME ENCANTA. 30 d’as. (con me gusta y me encanta por separado)" */
        Highcharts.chart('containerSentimientos', {
            chart: {
                type: 'bar'
            },
            title: {
                text: '<b>Contenidos con mayor reacciones </b>'
            },
            xAxis: {
                categories: [@Html.Raw(ViewBag.contenidosReaccionesTitulos)]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total'
                },
                allowDecimals: false
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Me Encanta',
                data: [@Html.Raw(ViewBag.meEncantaCantidad)]
            }, {
                name: 'Me Gusta',
                data: [@Html.Raw(ViewBag.meGustaCantidad)]
            }, {
                name: 'Me Sorprende',
                data: [@Html.Raw(ViewBag.meSorprendeCantidad)]
            }, {
                name: 'No Me Gusta',
                data: [@Html.Raw(ViewBag.noMeGustaCantidad)]
            }, {
                    name: 'Me Enfurece',
                data: [@Html.Raw(ViewBag.meEnojaCantidad)]
                }],
            exporting: {

                buttons: {
                    contextButton: {
                        menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                    }
                }
            }
        });

        Highcharts.chart('containerSentimientosPie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '<b>Comparación de reacciones</b>'
            },
            tooltip: {
                pointFormat: '{series.data.name}'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
        series: [{
            type: 'pie',
            //name: 'Porcentaje',
            data: [@Html.Raw(ViewBag.comparacionReaccionesChart)]
            }],
            exporting: {

                buttons: {
                    contextButton: {
                        menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                    }
                }
            }
        });
</script>
