﻿@model QavantWeb.Models.Area
@{
    ViewBag.Title = "Eliminar Área";
}
<h2>¿Seguro que desea eliminar esta área? </h2>
<h3>Eliminar</h3>
<div>
    <h4></h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
        </div>
        <div class="panel-body">
            <div class="container col-md-12">
                <div class="row">
                    <div>
                        <dt class="col-md-2">
                            Nombre
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="col-md-2">
                            Habilitado
                        </dt>
                        <dd class="col-md-10">
                            @if (Model.Habilitada == true)
                            {
                                <p>Si</p>;
                            }
                            else
                            {
                                <p>No</p>;
                            }
                        </dd>
                    </div> <!-- COL 1 -->
                </div>
            </div>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <a href="@Url.Action("Index", "Areas", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button id="btn-show-warning" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
        <button id="btn-delete" type="submit" class="hidden"></button>
    }
    @Html.Partial("_ConfirmModal", "El área " + Model.Nombre + " se eliminará y ya no será recuperable. ¿Desea continuar de todos modos?")
</div>
<script src="~/Scripts/Pages/delete-modal-warning.js"></script>