﻿@model QavantWeb.Models.Area
@{
    ViewBag.Title = "Edit";
}
<h2>Editar</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Área</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EmpresaId)

        <div class="form-group">
            <div class="control-label col-md-2"><b>Nombre</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Área Padre</b></div>
            <div class="col-md-10 checkbox">
                @Html.DropDownList("AreaPadreId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AreaPadreId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>Habilitado</b></div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Habilitada, new { htmlAttributes = new { @class = "no-left-margin", id = "chbHabilitado" } })
                    <input type="hidden" id="checkId" value="@Model.Users.Count()" />
                    @Html.ValidationMessageFor(model => model.Habilitada, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.Partial("_ConfirmModal", "Esta área posee usuarios asociados. ¿Desea continuar de todos modos?")

        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Areas" , new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                <button type="submit" class="btn btn-primary"> Guardar </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/disable-warning.js"></script>
}
