<qavant-header title="¿Quién es Quién?"></qavant-header>

<ion-content padding>
  <div class="fixed-div">
    <div class="fixed-div-top"></div>
    <ion-searchbar class="searchbar"
      [(ngModel)]="searchTerm"
      (ionInput)="search($event)"
      placeholder="¿Buscas a alguien?">
    </ion-searchbar>
  </div>

  <ion-list>
    <ion-item *ngFor="let user of users" class="q-item avatar">
      <ion-avatar item-start>
        <img src="{{user?.photo}}" />
      </ion-avatar>
      <div class="q-item-content">
        <div (click)="goToUserDetail(user)">
          <h2>{{user?.fullname}}</h2>
          <p>{{user?.area}}</p>
          <p class="truncate">
            <em *ngIf="user?.intern">Int. {{user?.intern}} | </em><span class="usermail">{{user?.email}}</span>
          </p>          
        </div>
        <div class="actions">
            <a href="tel:{{user?.mobile}}"><span class="icon-celphone"></span></a>
            <a href="tel:{{user?.phone}}"><span class="icon-phone"></span></a>
            <a href="mailto:{{user?.email}}"><span class="icon-mail"></span></a>
        </div> 
      </div>
    </ion-item>

    <ion-item *ngIf='users?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> 
</ion-content>