@import "../../../styles.scss";

@include mq($from: mobile) {
}

@include mq($from: tablet) {
}

@include mq($from: desktop) {
  div.card{
    padding: 10px;
    min-height: 130px;
    overflow: hidden;
    // div.row div{
    //   min-height: 80px;
    // }
    p.icon{
      cursor: pointer;
      span i{
        font-size: 35px;
        margin-left: 10px;
      }
    }

    div.image{
      padding-right: 0px;
      min-height: 130px;
    }

    div.info{
      padding-left: 0px;
      h2{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
      }
    }
    .tooltip-message .tooltiptext {
      width: 240px;
    }
  }
}

@include mq($from: wide) {

}


// div.card{
//   background-color: red;
// }

// .footer{
//   bottom: 0px;
//   position: absolute;
//   padding: 0px 20px 0px 20px;
// }

