page-news-detail {
    .type{
        color: #91B8AF !important;
    }
    .date{
        color: rgb(189, 189, 189) !important;
    }
    .icon-size-small{
        font-size: 12px !important;
    }
    .icon-size-large{
        font-size: 24px !important;
    }
    .card-btn{
        background-color: #91B8AF !important;
    }
    h5{
        color: #91B8AF !important;
    }
}
