<qavant-header title="" back="true" ></qavant-header>
<ion-content padding>
  <div *ngIf="isReady">
    <div class="content-header">
        <img  *ngIf="noticia?.imagen" src="{{noticia?.imagen}}" />
        <h1>{{noticia?.titulo | truncate:70}}</h1>
    </div>
    <div class="content-body">
      <!--<qavant-social modulo="NOTIC" [entidad]="noticia"></qavant-social>-->
      <div class="metadata">
        <span class="type">Nombre del vendedor</span><br>
        <span class="date">Publicado el {{noticia?.fechaAlta}}</span>
      </div>      
      <div class="copete">{{noticia?.copete}}</div>
      <div class="content" [innerHTML]="noticia?.contenido"></div>
    </div>
  </div>
  <div class="content-footer">
      <!--<qavant-social modulo="NOTIC" [entidad]="entidad"></qavant-social>-->
      <h5><ion-icon class="icon-size-small" name="mail"></ion-icon> pluzzi@goiar.com</h5>
      <h5><ion-icon class="icon-size-small" name="call"></ion-icon> +54 9 343 155325148</h5>
      <br>
      <ion-grid>
          <ion-row>
              <ion-col>
                  <button icon-only full ion-button class="card-btn"><ion-icon name="mail"></ion-icon></button>
              </ion-col>
              <ion-col>
                  <button icon-only full ion-button class="card-btn"><ion-icon name="call"></ion-icon></button>
              </ion-col>
          </ion-row>
      </ion-grid>

  </div>
</ion-content>