﻿@model IEnumerable<QavantWeb.Models.InfoUtil>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2><i class="fa fa-info-circle" aria-hidden="true"></i> Información útil </h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "InfoUtil")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Información útil </a>
    <a href="@Url.Action("IndexDeleted", "InfoUtil")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminadas</a>
</div>

<table id="InfoList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Imagen
            </th>
            <th>
                Subtítulo
            </th>
            <th>
                Categoría
            </th>
            <th>
                Destacada
            </th>
            <th>
                Orden
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @if (item.Imagen != null)
            {
                <img src="@Html.DisplayFor(modelItem => item.Imagen)" style="max-width:100px;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Copete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destacada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Orden)
        </td>

        <td>
            <a href="@Url.Action("Edit", "InfoUtil", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
            <a href="@Url.Action("Delete", "InfoUtil", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
        </td>
    </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $('#InfoList').DataTable({
            "order":[[0,"asc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>