<qavant-header></qavant-header>
<ion-content>
    <div [ngSwitch]="tabs">
        <div *ngSwitchCase="'tipo'">
           <div class="titulo-box">
                <ion-label class="h1">
                    <ion-icon class="mr-1" name="add" item-start ></ion-icon>
                    Nueva Publicacion
                </ion-label>
           </div>

           <div class="info-box">
                <ion-row>
                    <ion-col class="icon-col">
                        <ion-icon class="icon-cls" name="warning" item-left color="primary"></ion-icon>
                    </ion-col>
                
                    <ion-col>
                        <span><strong>Con premium tus publicaciones tendrán mayor impacto!</strong> Prioridad en el feed, imágenes más grandes y mucho más <a>+info</a></span>
                    </ion-col>
                </ion-row>
           </div>

           <div class="data-box">
                <div class="data-title">Tipo de publicación</div>
                <ion-segment mode="ios" >
                    <ion-segment-button checked value="free">
                        <ion-label>Gratuita</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="premiun">
                        <ion-label>Premium</ion-label>
                    </ion-segment-button>
                </ion-segment>
           </div>

           <div class="data-box">
                <div class="data-title">Cantidad de días a publicar</div>
                <ion-segment mode="ios" >
                    <ion-segment-button checked value="15">
                        <ion-label>15</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="30">
                        <ion-label>30</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="60">
                        <ion-label>60</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="90">
                        <ion-label>90</ion-label>
                    </ion-segment-button>
                </ion-segment>
           </div>

           <div class="data-box">
                <div class="data-title">Precio por la publicación</div>
                <div class="data-text">$30</div>
           </div>
        
        </div>

        <div *ngSwitchCase="'detalles'">
            <div class="titulo-box">
                <ion-label class="h1">
                    <ion-icon class="mr-1" name="add" item-start ></ion-icon>
                    Nueva Publicacion
                </ion-label>
            </div>

            <div class="data-box data-title">Información</div>

            <div class="data-box">
                <ion-label class="h2">
                    <!--<fa-icon class="mr-1" item-start [icon]="faCoffee"></fa-icon>-->
                    <ion-icon class="mr-1" name="custom-font"></ion-icon>
                    <b>Título</b>
                </ion-label>

                <ion-input class="data-input" type="text" placeholder="Título de la publicación"></ion-input>

            </div>

            <div class="data-box">                
                <ion-label class="h2">
                    <ion-icon class="mr-1" name="custom-title"></ion-icon>
                    <b>Síntesis</b>
                </ion-label>

                <ion-textarea class="data-input multi-row" type="text" placeholder="Síntesis del producto"></ion-textarea>

            </div>

            <div class="data-box">                
                <ion-label class="h2">
                    <ion-icon class="mr-1" name="custom-text"></ion-icon>
                    <b>Descripción</b>
                </ion-label>

                <ion-textarea class="data-input multi-row" type="text" placeholder="Descripción extendida del producto"></ion-textarea>

            </div>
        
        </div>

        <div *ngSwitchCase="'imagenes'">
            <div class="img-box">
                <img src="./assets/img/vaca.jpg">
            </div>

            <ion-grid>
                <ion-row>
                    <ion-col class="row-img" col-3 *ngFor="let item of items" (click)="toggleClass(item)" >
                        <img class="img-class" src="{{ item.img }}" [ngClass]="{'mark-img': item.active}">
                    </ion-col>
                </ion-row>
            </ion-grid>
    
        </div>

        <div *ngSwitchCase="'zona'">
            <div class="titulo-box">
                <ion-label class="h1">
                    <ion-icon class="mr-1" name="globe" item-start ></ion-icon>
                    Zonas
                </ion-label>
            </div>

            <ion-label text-wrap class="ml-1 mr-1 label.color">
            Las zonas que selecciones filtrarán las publicaciones en las cuales aplicará tu publicación.
            </ion-label>

            <div class="center-img">
                <img  src="./assets/img/map.PNG" >
            </div>
            
                
        </div>

        <div *ngSwitchCase="'categorias'">
            <div class="titulo-box">
                <ion-label class="h1">
                    <ion-icon class="mr-1" name="flag" item-start ></ion-icon>
                    Intereses
                </ion-label>
            </div>

            <ion-label text-wrap class="ml-1 mr-1 label.color">
            Los intereses que seleccione aplicarán a la publicación realizada
            </ion-label>

            <ion-grid>
                <ion-row>
                    <ion-col class="col-heigth" col-6 *ngFor="let category of categories" (click)="categoryToggleClass(category)" >
                        <div class="col-content" [ngClass]="{'mark-content': category.active}">
                            <img class="category-img" src="{{ category.img }}" [ngClass]="{'mark-img': category.active}">
                            <div class="">{{category.name}}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>


        </div>

        <div *ngSwitchCase="'vista'">
            <div class="titulo-box">
                <ion-label class="h1">
                    <ion-icon class="mr-1" name="eye" item-start ></ion-icon>
                    Vista previa
                </ion-label>
            </div>

            <div class="row">
                <ion-segment class="vistas" (ionChange)="vistaChanged($event)" [(ngModel)]="vistas">
                    <ion-segment-button value="previa" class="vista-btn">
                        <ion-label>Vista en Inicio</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="detalle" class="vista-btn">
                        <ion-label>Vista de publicación</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </div>

            <div [ngSwitch]="vistas">
                <div *ngSwitchCase="'previa'">        
                    <ion-card  class="q-card" style="margin-top: 10px;">
                        <img src="./assets/img/vaca.jpg" />
                        <ion-card-content> 
                            <div class="content-header">
                                <h4>Nombre del vendedor</h4>
                            </div>
                            <div class="content-body">
                                <h1>
                                    <ion-icon name="football" class="icon-size-large"></ion-icon>
                                    Título Premium
                                </h1>
                                <div class="short-description">
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                </div>
                            </div>
                            <div class="content-footer">
                                <!--<qavant-social modulo="NOTIC" [entidad]="entidad"></qavant-social>-->
                                <h4><ion-icon class="icon-size-small" name="mail"></ion-icon> pluzzi@goiar.com</h4>
                                <h4><ion-icon class="icon-size-small" name="call"></ion-icon> +54 9 343 155325148</h4>
                                <br>
                                <ion-grid class="no-padding">
                                    <ion-row class="no-padding">
                                        <ion-col class="no-padding mr">
                                            <button icon-only full ion-button class="card-btn no-padding"><ion-icon name="mail"></ion-icon></button>
                                        </ion-col>
                                        <ion-col class="no-padding ml">
                                            <button icon-only full ion-button class="card-btn no-padding"><ion-icon name="call"></ion-icon></button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                
                            </div>
                            
                            
                        </ion-card-content>
                    </ion-card>
                </div>

                <div *ngSwitchCase="'detalle'">        
                    <ion-card  class="q-card" style="margin-top: 10px;">
                        <img src="./assets/img/vaca.jpg" />
                        <ion-card-content> 
                            <div class="content-header">
                                <h4>Nombre del vendedor</h4>
                            </div>
                            <div class="content-body">
                                <h1>
                                    <ion-icon name="football" class="icon-size-large"></ion-icon>
                                    Título Premium
                                </h1>
                                <h4>Publicado el 23/08/2019</h4>
                                <div class="short-description">
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    Bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                    bajada premium bajada premium bajada premium
                                </div>
                            </div>
                            <div class="content-footer">
                                <!--<qavant-social modulo="NOTIC" [entidad]="entidad"></qavant-social>-->
                                <h4><ion-icon class="icon-size-small" name="mail"></ion-icon> pluzzi@goiar.com</h4>
                                <h4><ion-icon class="icon-size-small" name="call"></ion-icon> +54 9 343 155325148</h4>
                                <br>
                                <ion-grid class="no-padding">
                                    <ion-row class="no-padding">
                                        <ion-col class="no-padding mr">
                                            <button icon-only full ion-button class="card-btn no-padding"><ion-icon name="mail"></ion-icon></button>
                                        </ion-col>
                                        <ion-col class="no-padding ml">
                                            <button icon-only full ion-button class="card-btn no-padding"><ion-icon name="call"></ion-icon></button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                
                            </div>
                            
                            
                        </ion-card-content>
                    </ion-card>
                </div>

            </div>
        
        </div>

        
    </div>
</ion-content>            

<ion-footer>
    <div class="footer-grid">
        <ion-row class="footer-row">
            <ion-col *ngIf="showBack">
                <button full ion-button class="search-back-btn" slot="start" (click)="goBack()">
                    <ion-icon name="ios-arrow-back" class="mr-1"></ion-icon>
                    Volver
                </button>
            </ion-col>
            <ion-col>
                <button full ion-button class="search-forward-btn" slot="end" (click)="goNext()">
                    {{labelNext}}
                    <ion-icon name="ios-arrow-forward" class="ml-1"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </div>
</ion-footer>
