page-add-news {
    .footer-grid .footer-row{
        padding: 0px !important;
        margin: 0px !important;
    }
    .search-back-btn{
        height: 50px;
        background-color: rgb(95, 95, 95) !important;
        font-size: 18px;
        text-transform: none;
    }
    .search-forward-btn{
        height: 50px;
        background-color: rgb(57, 196, 126) !important;
        font-size: 18px;
        text-transform: none;
    }
    .mr-1{
        margin-right: 10px;
    }
    .ml-1{
        margin-left: 10px;
    }
    .titulo-box{
        height: 50px;
        color: rgb(133, 133, 133);
        text-align: left;
        margin-left: 20px;
    }
    .h1{
        color: rgb(133, 133, 133) !important;
        font-size: 25px;
    }
    .h2{
        color: rgb(133, 133, 133) !important;
        font-size: 18px;
    }
    .info-box{
        height: 65px;
        background-color: rgb(245, 240, 168);
        color: rgb(116, 112, 68);
    }

    .icon-col{
        margin-right: 0px; 
        max-width: 40px;
        text-align: center;
    }
    .icon-cls{
        color: rgb(116, 112, 68);
        margin-top: 8px;
    }
    .data-title{
        text-align: left;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .data-box{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .segment-ios .segment-button.activated, .segment-ios .segment-button.segment-activated {
        border-color: rgb(95, 95, 95) !important;
        background-color: rgb(190, 238, 198) !important;
        color: rgb(112, 146, 118) !important;
    }

    .segment-ios .segment-button {
        border-color: rgb(95, 95, 95) !important;
        background-color:white !important;
        color: rgb(112, 146, 118) !important;
        height: 55px !important;
        font-size: 16px;

    }

    .data-text{
        font-size: 55px;
        text-align: left;
    }

    .data-input{
        border-radius: 25px;
        border: solid 1px rgb(92, 92, 92);
        font-size: 16px;
    }

    .custom-icon{
        color: black !important;
        width: 20px;
        height: 20px;
    }

    .multi-row{
        height: 100px;
    }

    .mark-img{
        filter:alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }

    .mark-content{
        border: 2px solid rgb(114, 78, 211) !important;
    }

    .row-img{
        height: 75px;
    }
    .img-class{
        width: 100%;
        height: 100%;
        margin: 2px;
        border: 1px solid rgb(92, 92, 92);
    }
    .label.color{
        color: rgb(133, 133, 133) !important;
    }
    .center-img{
        text-align: center;
    }

    .tarjeta{
        text-align: center;
        height: 150px;
    }

    .col-content{
        width: 100%;
        height: 100%;
        margin: 2px;
        border: 1px solid rgb(92, 92, 92);
        text-align: center;
        font-size: 20px;
    }
    .category-img{
        margin-top: 15px;
        border-radius: 40px;
        border: 1px solid rgb(92, 92, 92);
        width: 80px;
        height: 80px;
    }

    .col-heigth{
        height: 150px;
    }

    .vistas{
        height: 60px !important;
    }

    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: white !important;
        background-color: white !important;
    }

    .segment-md .segment-button {
        background-color: rgb(231, 231, 231) !important;
    }

    .vista-btn{
        color: rgb(92, 92, 92) !important;
        text-transform: none !important;
        font-size: 18px !important;
    }

    h4{
        color: #91B8AF !important;
    }
    h1{
        color: rgb(0, 0, 0) !important;
    }
    .icon-size-small{
        font-size: 12px !important;
    }
    .icon-size-large{
        font-size: 24px !important;
    }
    .card-btn{
        background-color: #91B8AF !important;
    }
    .no-padding{
        padding: 0px !important;
        margin: 0px !important;
    }
    .mr{
        margin-right: 1px !important;
    }
    .ml{
        margin-left: 1px !important;
    }
    .icon-size{
        width: 25px;
        height: 25px;
    }

}
