﻿@model QavantWeb.ViewModels.BenefitViewModel
@{
    ViewBag.Title = "Crear Beneficio";
}

<h2>Crear</h2>
@using (Html.BeginForm("Create", "Benefits", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


<div class="form-horizontal">
    <h4>Beneficios</h4>
    <hr />
    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Título</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Benefit.Title, new { htmlAttributes = new { @class = "form-control titulo" } })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Contenido</b></div>
        <div class="col-md-11">
            <form>
                <textarea name="__Content" id="__Content" rows="10" cols="80">@Html.Raw(HttpUtility.HtmlDecode(Model.Benefit.Content))</textarea>
                <script>
                    CKEDITOR.replace('__Content');
                </script>
            </form>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Puntos</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Benefit.Puntos, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Tipo de Catálogo</b></div>
        <div class="col-md-11">
            @Html.DropDownListFor(model => model.Benefit.TipoCatalogoProductosId, (SelectList)ViewBag.TipoCatalogoProducto, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Benefit.TipoCatalogoProducto, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Es nuevo</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Benefit.EsNuevo)
        </div>
    </div>

    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Imagen</b></div>
        <div class="col-md-11">
            <img id="img" name="img" alt="" style="width:200px" />
            <input type="file" id="Image" name="Image" onchange="showimagepreview(this)" />
            <div id="borrar" style="display:none">
                <input type="button" value="Eliminar foto" onclick="Borrar(Image)" />
            </div>
        </div>
    </div>
    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
    <script type="text/javascript">
        var uploadField = document.getElementById("Image");
        uploadField.onchange = function () {
            validateImageSize(this);
            validateImageExtension(this);
        };
        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();// Creo la instancia de FileReader
                reader.onload = function (e) {
                    document.getElementById('img').setAttribute("src", e.target.result);//seteo y cargo el tag img
                }
                reader.readAsDataURL(input.files[0]);//leo el contenido del file
                document.getElementById('borrar').style.display = 'block'; //Muestro El boton Borrar
            }
            else { //No muestro nada
                document.getElementById('img').setAttribute("src", "");
                document.getElementById('borrar').style.display = 'none';
            }
        }

        function Borrar(id) {
            document.getElementById('img').setAttribute("src", "");//Oculto img actual
            document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
            document.getElementById('Image').value = "";//Ningún archivo seleccionado
        }
    </script>
    <div class="form-group">
        <div class="control-label texto-label-left col-md-1"><b>Categoría</b></div>
        <div class="col-md-11">
            @foreach (QavantWeb.Models.Categoria item in (List<QavantWeb.Models.Categoria>)ViewBag.lista)
            {
                if (Model != null)
                {
                    var sel = (Model.Benefit.BenefitCategories.Where(ca => ca.CategoriaId == item.Id).Count() > 0) ? "Checked" : "";

                    if (sel == "Checked")
                    {
                        <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" checked="checked" /> @item.Nombre <br />
                    }
                    else
                    {
                        <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" /> @item.Nombre <br />
                    }
                }
                else
                {
                    <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" /> @item.Nombre <br />
                }
            }
        </div>
    </div>

    <div class="form-group" id="fechaInicio">
        <div class="control-label texto-label-left col-md-1"><b>Vigencia - Fecha de Inicio</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Benefit.From, new { htmlAttributes = new { @class = "form-control", id = "from_Id", max = "2999 -01-01", min = "1900-01-01", @type = "date" } })
        </div>
    </div>
    <div class="form-group" id="fechaFin">
        <div class="control-label texto-label-left col-md-1"><b>Vigencia - Fecha de Fin</b></div>
        <div class="col-md-11">
            @Html.EditorFor(model => model.Benefit.To, new { htmlAttributes = new { @class = "form-control", id = "to_Id", max = "2999-01-01", min = "1900-01-01", @type = "date" } })
        </div>
    </div>

    @Html.Partial("_Filtros", Model.FiltroConfig)
    <div class="form-group col-md-12">
        <hr />
        <a href="@Url.Action("Index", "Benefits")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button id="btn_guardar" type="submit" class="btn btn-primary"> Guardar </button>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
    <script src="~/Scripts/Pages/cat-seleccionada-validacion.js"></script>
    <script src="~/Scripts/Pages/CKEditor-is-there-content.js"></script>
    <script src="~/Scripts/Pages/CKEditor-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
    <!-- Print. -->
    <script>
        $(document).ready(function () {
            var cat = $("#lista").val();
            if (cat == undefined) {
                var message = "<strong>No existe ninguna 'Categoría' para Beneficios.</strong><br > Primero debe crear una Categoría en la sección Administración  ->  Categorías.";
                $('#myAlert > ul').append('<li>' + message + '</li>');
                return false;
            }
        });
    </script>
}