﻿@model QavantWeb.Models.Benefit
@{
    ViewBag.Title = "Delete";
}
<h2>Confirme que quiere eliminar este elemento.</h2>
<h3>Eliminar</h3>

<div>
    <h4></h4>
    <hr />
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
        </div>
        <div class="panel-body">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <dt>
                            Imagen
                        </dt>
                        <dd>
                            @if (Model.Image != null)
                            {
                                <img src="@Html.DisplayFor(model => model.Image)" style="width:220px;height:140px;" />
                            }
                        </dd>
                    </div> <!-- COL 1 -->

                    <div class="col-md-8">
                        <dt class="col-md-3">
                            Título
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-md-3">
                            Subtítulo
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Subtitle)
                        </dd>
                        <dt class="col-md-3">
                            Contenido
                        </dt>
                        <dd class="col-md-9">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                        </dd>

                        <dt class="col-md-3">
                            Fecha de Inicio
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                    </div> <!-- COL 2 -->
                </div>
            </div>

            </dl>
        </div>
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <a href="@Url.Action("Index", "Benefits", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
    }
</div>
