﻿@model IEnumerable<QavantWeb.Models.Benefit>
@{
    ViewBag.Title = "Index";
}
<h2><i class="fa fa-gift " aria-hidden="true"></i> Beneficios</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Benefits")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Beneficio</a>
    <a href="@Url.Action("IndexDeleted", "Benefits")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Beneficios Eliminados</a>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-9 checkbox">
            @Html.DropDownListFor(model => model.First().TipoCatalogoProducto, (SelectList)ViewBag.TipoCatalogoProducto, "Todos los catálogos", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
</div>


    <table id="BenefitList" class="table hover display compact stripe">
        <thead>
            <tr>
                <th>
                    Imagen
                </th>
                <th>
                    Título
                </th>
                <th>
                    Puntos
                </th>
                <th>
                    Es Nuevo
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fin
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.Image != null)
                {
                    <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @if (item.EsNuevo == true)
                {
                    <i class="fa fa-check-circle fa-2x fa-fw" style="color: #04B431;" aria-hidden="true"></i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Benefits", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "Benefits", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
            </td>
            <td style="visibility: hidden;">
                @Html.DisplayFor(modelItem => item.TipoCatalogoProductosId)
            </td>
        </tr>
        }
    </table>

    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY');

            $('#BenefitList').DataTable({
                "order": [[3, "desc"]],
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Ningún registro disponible",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "processing": "Procesando...",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

        $('#TipoCatalogoProducto').change(function () {
            var table = $('#BenefitList').DataTable();
            table.draw();
        });

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                if ($('#TipoCatalogoProducto').val() == "") {
                    return true;
                }
                return data[7] == $('#TipoCatalogoProducto').val() ? true : false;
            }
        );
        
    </script>
