<qavant-header title="Activar cuenta"></qavant-header>

<ion-content padding>
  <div class="description">
		<p>Para activar su cuenta deberá ingresar <br />la contraseña nueva y confirmarla.</p>
	</div>

	<form (ngSubmit)="setPassword()" [formGroup]="setPasswordForm">
		<ion-list inset>
			<div class="seePassword"> 
			<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
			</ion-item>
			<a class="revealPassword" href="#"><!-- <span class="icon-eye"></span> --></a>
            </div>
			<div ngxErrors="password" #passwordErrors="ngxErrors">
				<div class="validation" [ngxError]="['password', 'required']" [when]="['touched']">Campo requerido</div>
			</div>
			<div class="seePassword"> 	
			<ion-item [ngClass]="{ invalid: confirmPasswordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="Confirmar contraseña" formControlName="confirmPassword"></ion-input>
			</ion-item>
			<a class="revealPassword" href="#"><!-- <span class="icon-eye"></span> --></a>
            </div>
			<div ngxErrors="confirmPassword" #confirmPasswordErrors="ngxErrors">
				<div class="validation" [ngxError]="['password', 'required']" [when]="['touched']">Campo requerido</div>
			</div>
			<p class="validation" *ngIf="setPasswordForm.errors?.doesMatchPassword">Las contraseñas deben coincidir</p>
		</ion-list>

		<div padding-horizontal >
			<button ion-button full type="submit" [disabled]="!setPasswordForm.valid">Confirmar</button>
		</div>
	</form>  
</ion-content>
