qavant-header {
    .img-header{
        width: 50px;
        height: 50px;
    }

    .center {
        position: absolute;
        top: -25px;
        text-align: center;
    }

    .back-btn{
        background-color: transparent !important;
        color: white !important;
        width: 100px;
        height: 50px;
    }
}