<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <button ion-button class="back-btn" [hidden]="!back" (click)="goBack()">
            <ion-icon name="ios-arrow-back" ></ion-icon>
          </button>
          <ion-title [hidden]="back">
            <img src="./assets/icon/icon-round.png" class="img-header center">
          </ion-title>
      </ion-buttons>
    </ion-toolbar>
</ion-header>