<div *ngIf="hasSettings()" class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height">
      <h4>INGRESA TU NUEVA CONTRASEÑA</h4>
      <div *ngIf='validate.status' class="alert" [ngClass]="{
        'alert-warning': validate.type === 'warning',
        'alert-danger': validate.type === 'danger',
        'alert-success': validate.type === 'success',
        'alert-info': validate.type === 'info'}" role="alert">
        {{validate.message}}
      </div>
      <ng-container *ngIf='validate.status'>
          <div *ngIf="validate.redirect">
            <a routerLink="/session/login"
            [ngStyle]="settingsService.getBtnActionStyle()"
            class="btn btn-primary">Iniciar Sessión</a>
          </div>
      </ng-container>
      <form *ngIf="validate.form" (ngSubmit)="resetPassword()" #resetForm="ngForm">
          <div class="row">
              <div class="col-md-12">
                  <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-validate]="password.invalid && (password.dirty || password.touched)">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" id="password" autocomplete="off"
                      name="password" [(ngModel)]="passwordUser"
                      #password="ngModel" required>
                  </div>

                  <div pgFormGroupDefault class="form-group form-group-default"
                    [class.has-validate]="confirm.invalid && (confirm.dirty || confirm.touched)">
                    <label>Repetir contraseña</label>
                    <input type="password" class="form-control" id="confirm" autocomplete="off"
                      name="confirm" [(ngModel)]="confirmUser"
                      #confirm="ngModel" required>
                  </div>
                  <!-- <a class="btn" routerLink="/session/login">Volver</a> -->
                  <button class="btn btn-primary float-right m-t-10"
                          [ngStyle]="settingsService.getBtnActionStyle()"
                          type="submit" [class.disabled]="resetForm.invalid">
                          Enviar
                  </button>
              </div>
          </div>
      </form>
    </div>
</div>
