<div class="register-container full-height sm-p-t-30">
    <div *ngIf="hasSettings()" class="d-flex justify-content-center flex-column full-height">

          <!-- <img src="assets/img/logo.png" alt="logo" pgRetina src1x="assets/img/logo.png" src2x="assets/img/logo_2x.png" width="78" height="22"> -->
          <h4 *ngIf="!_loading">
            ACTIVACIÓN
          </h4>
          <ng-container *ngIf="_loading; else show">
            <h4>Cargando ...</h4>
          </ng-container>
          <ng-template #show>
            <ng-container *ngIf='validate.status'>
              <div class="alert m-b-10" [ngClass]="{
                'alert-warning': validate.type === 'warning',
                'alert-danger': validate.type === 'danger',
                'alert-success': validate.type === 'success',
                'alert-info': validate.type === 'info'}" role="alert">
                {{validate.message}}
              </div>
              <div *ngIf="validate.redirect">
                <a routerLink="/session/login"
                [ngStyle]="settingsService.getBtnActionStyle()"
                class="btn btn-primary float-right">Iniciar Sesión</a>
              </div>
            </ng-container>
            <ng-container *ngIf="validate.form">
              <form *ngIf="!setPassword()" (ngSubmit)="activate($event)"
                class="p-t-15" role="form" #registerForm="ngForm">
                  <div class="row">
                    <!-- <div class="col-md-6">
                      <div pgFormGroupDefault class="form-group form-group-default" [class.has-validate]="fName.invalid && (fName.dirty || fName.touched)">
                        <label>First Name</label>
                        <input type="text" placeholder="John" class="form-control" id="txtfname" name="txtfname" [(ngModel)]="txtfname"  #fName="ngModel" required >
                      </div>
                      <div *ngIf="fName.invalid && (fName.dirty || fName.touched)" >
                          <label  *ngIf="fName.validates.required" class="validate" >This field is required.</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div pgFormGroupDefault class="form-group form-group-default" [class.has-validate]="LName.invalid && (LName.dirty || LName.touched)">
                        <label>Last Names</label>
                        <input type="text" placeholder="Smith" class="form-control" id="txtlname" name="txtlname" [(ngModel)]="txtlname"  #LName="ngModel" required>
                      </div>
                      <div *ngIf="LName.invalid && (LName.dirty || LName.touched)" >
                          <label  *ngIf="LName.validates.required" class="validate" >This field is required.</label>
                      </div>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div pgFormGroupDefault class="form-group form-group-default"
                      [class.has-validate]="userName.invalid && (userName.dirty || userName.touched)">
                        <label>Usuario</label>
                        <input type="text" class="form-control" id="username"
                          name="username" [(ngModel)]="username" autocomplete="off"
                          #userName="ngModel" required>
                      </div>
                      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" >
                          <label *ngIf="userName.validates?.required" class="validate" >
                            Campo Requerido
                          </label>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <div pgFormGroupDefault class="form-group form-group-default" [class.has-validate]="password.invalid && (password.dirty || password.touched)">
                        <label>Password</label>
                        <input type="password"  placeholder="Minimum of 4 Charactors" class="form-control" id="txtpassword" name="txtpassword" [(ngModel)]="txtpassword"  #password="ngModel" required>
                      </div>
                      <div *ngIf="password.invalid && (password.dirty || password.touched)" >
                          <label  *ngIf="password.validates.required" class="validate" >This field is required.</label>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row">
                    <div class="col-md-12">
                      <div pgFormGroupDefault class="form-group form-group-default" [class.has-validate]="email.invalid && (email.dirty || email.touched)">
                        <label>Email</label>
                        <input type="email" placeholder="We will send loging details to you" class="form-control" id="txtemail" name="txtemail" [(ngModel)]="txtemail"  #email="ngModel" required>
                      </div>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" >
                          <label  *ngIf="email.validates.required" class="validate" >This field is required.</label>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="row m-t-10">
                    <div class="col-lg-6">
                      <p><small>I agree to the <a href="javascript:void(0)" class="text-info">Pages Terms</a> and <a href="javascript:void(0)" class="text-info">Privacy</a>.</small></p>
                    </div>
                    <div class="col-lg-6 text-right">
                      <a href="javascript:void(0)" class="text-info small">Help? Contact Support</a>
                    </div>
                  </div> -->
                  <button class="btn btn-primary float-right"
                    [ngStyle]="settingsService.getBtnActionStyle()"
                    type="submit" [class.disabled]="registerForm.invalid">
                    Enviar
                  </button>
                  <a routerLink="/session/login"
                    [ngStyle]="settingsService.getBtnCancelStyle()"
                    class="btn btn-primary float-right m-r-10">
                    Volver
                  </a>
                </form>
                <form *ngIf="setPassword()" (ngSubmit)="generate($event)" class="p-t-15" role="form"
                 #passwordForm="ngForm">
                  <div class="row">
                    <div class="col-md-12">
                      <div pgFormGroupDefault class="form-group form-group-default"
                        [class.has-validate]="password.invalid && (password.dirty || password.touched)">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" id="password" autocomplete="off"
                          name="password" [(ngModel)]="passwordUser"
                          #password="ngModel" required>
                      </div>

                      <div pgFormGroupDefault class="form-group form-group-default"
                        [class.has-validate]="confirm.invalid && (confirm.dirty || confirm.touched)">
                        <label>Repetir contraseña</label>
                        <input type="password" class="form-control" id="confirm" autocomplete="off"
                          name="confirm" [(ngModel)]="confirmUser"
                          #confirm="ngModel" required>
                      </div>
                    </div>

                  </div>
                  <button class="btn btn-primary btn-cons m-t-10 float-right"
                    [ngStyle]="settingsService.getBtnActionStyle()"
                    type="submit" [class.disabled]="passwordForm.invalid">
                    Enviar
                  </button>
                </form>
            </ng-container>



          </ng-template>

    </div>
  </div>
  <div class=" full-width">
    <div class="register-container m-b-10 clearfix">
      <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up">
        <div class="col-md-2 no-padding d-flex align-items-center">
          <img src="assets/img/demo/pages_icon.png" alt="" class="" pgRetina src1x="assets/img/demo/pages_icon.png" src2x="assets/img/demo/pages_icon_2x.png" width="60" height="60">
        </div>
        <div class="col-md-9 no-padding d-flex align-items-center">
          <p class="hinted-text small inline sm-p-t-10">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
        </div>
      </div>
    </div>
  </div>
