<div  class="qavant">
  <div>
      <ion-menu id="myMenu" [content]="content" class="sidemenu">
          <ion-content>
              
            <ion-list>
              
              
    
              <button menuClose ion-item  (click)="logout()">
                <span>
                  <ion-icon class="icon-width" item-start name="md-power"></ion-icon>
                  Cerrar sesión
                </span>
              
                <ion-icon  item-end name="ios-arrow-forward"></ion-icon>
              </button>
    
            </ion-list>
          </ion-content>
        </ion-menu>

    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" id="main"></ion-nav>      
  </div>
</div>