<div bsModal #fadInModal="bs-modal" 
    class="modal item-modal fade fill-in" 
    tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-body">
          <ng-container *ngIf="hasImages(); else NoImage">
            <div class="container-fluid">
              <div class="row dialog__overview">
  
                <div class="col-md-12 no-padding item-slideshow-wrapper">
   
                  <div class="swiper-container full-height" [swiper]="configModal" [(index)]="index">
                    <div class="swiper-wrapper">

                      <ng-container *ngFor="let item of images">
                        <ng-container *ngIf="isVideo(item); else Image">
                          <div class="col-12 swiper-slide full-height">
                            <vg-player>
                              <video [vgMedia]="media" #media preload="auto" controls>
                                <source src="{{item.RutaArchivo}}" type="video/mp4">
                              </video>
                            </vg-player>
                          </div>
                        </ng-container>
                        <ng-template #Image>
                          <div class="swiper-slide slide-back full-height" 
                            [ngStyle]="{'background-image': 'url('+item.RutaArchivo+')'}">
                          </div>

                          <!-- <div class="swiper-slide slide-back full-height">
                              <div [ngStyle]="{'background-image': 'url('+item.RutaArchivo+')'}" class="swiper-lazy">
                                  <div class="swiper-lazy-preloader"></div>
                              </div>
                          </div> -->
  
                          <!-- <div class="swiper-slide slide-back full-height">
                          </div> -->
                          <!-- <img src="{{item.RutaArchivo}}" alt=""> -->
                        </ng-template>
                      </ng-container>
                        <!-- <div class=" swiper-slide  slide-front" 
                          [ngStyle]="{'background-image': 'url(assets/img/gallery/item-square.jpg)'}">
                          </div>
                          <div class=" swiper-slide" 
                            [ngStyle]="{'background-image': 'url(assets/img/gallery/11.jpg)'}">
                          </div>
                          <div class=" swiper-slide" 
                            [ngStyle]="{'background-image': 'url(assets/img/gallery/11.jpg)'}">
                          </div>
                          <div class=" swiper-slide" 
                            [ngStyle]="{'background-image': 'url(assets/img/gallery/11.jpg)'}">
                          </div> -->
                    </div>
                    
                    <div class="swiper-pagination text-center"></div>
                  
                    <div class="swiper-button swiper-button-prev" (click)="prevSlide()">
                      <i class="fa fa-chevron-left"></i>
                    </div>
                    <div class="swiper-button swiper-button-next" (click)="nextSlide()">
                      <i class="fa fa-chevron-right"></i>
                    </div>
                  </div>
                  <!-- <div class="clearfix"></div> -->
                </div>
                  <!-- <div class="col-md-12 d-md-none d-lg-none d-xl-none bg-info-dark">
                    <div class="container-xs-height">
                      <div class="row row-xs-height">
                        <div class="col-8 col-xs-height col-middle no-padding">
                          <div class="thumbnail-wrapper d32 circular inline">
                            <img width="32" height="32" src="assets/img/profiles/2.jpg" 
                              data-src="assets/img/profiles/2.jpg" 
                              data-src-retina="assets/img/profiles/2x.jpg" alt="">
                          </div>
                          <div class="inline m-l-15">
                            <p class="text-white no-margin">Alex Nester</p>
                            <p class="hint-text text-white no-margin fs-12">Senior UI/UX designer</p>
                          </div>
                        </div>
                        <div class="col-4 col-xs-height col-middle text-right  no-padding">
                          <h2 class="bold text-white price font-montserrat">$20.00</h2>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-md-5 p-r-35 p-t-35 p-l-35 full-height item-description">
                    <h2 class="semi-bold no-margin font-montserrat">Happy Ninja</h2>
                    <p class="rating fs-12 m-t-5">
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star "></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </p>
                    <p class="fs-13">When it comes to digital design, the lines between functionality, aesthetics, and psychology are inseparably blurred. Without the constraints of the physical world, there’s no natural form to fall back on, and every bit of constraint and affordance must be introduced intentionally. Good design makes a product useful.
                    </p>
                    <div class="row m-b-20 m-t-20">
                      <div class="col-6"><span class="font-montserrat all-caps fs-11">Price ranges</span>
                      </div>
                      <div class="col-6 text-right">$20.00 - $40.00</div>
                    </div>
                    <div class="row m-t-20 m-b-10">
                      <div class="col-6"><span class="font-montserrat all-caps fs-11">Paint sizes</span>
                      </div>
                    </div>
                    <button class="btn btn-white">S</button>
                    <button class="btn btn-white">M</button>
                    <button class="btn btn-white">L</button>
                    <button class="btn btn-white">XL</button>
                    <br>
                    <button class="btn btn-primary buy-now">Buy Now</button>
                  </div> -->
                </div>
                <div class="row dialog__footer bg-info-dark d-sm-none d-none d-sm-flex d-lg-flex d-xl-flex">
                  <div class="col-md-12 full-height separator">
                    <div class="container-xs-height">
                      <div class="row row-xs-height">
                        <div class="col-12 col-xs-height col-middle no-padding">
                          <!-- <div class="thumbnail-wrapper d48 circular inline">
                            <img width="48" height="48" src="assets/img/profiles/2.jpg" 
                              data-src="assets/img/profiles/2.jpg" 
                              data-src-retina="assets/img/profiles/2x.jpg" alt="">
                          </div> -->
                          <span class="date m-t-20">{{gallery.FechaAlta}}</span>
                          <div class="inline">
                            <h3 class="text-white title">
                              {{gallery.Titulo}}
                            </h3>
                            <p class="hint-text text-white no-margin fs-12">
                              {{gallery.Copete}}
                            </p>
                          </div>
                        </div>
                        <!-- <div class="col-5 col-xs-height col-middle text-right  no-padding">
                          <h2 class="bold text-white price font-montserrat">$20.00</h2>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-12 bg-info-dark">
                    <app-reactions *ngIf="!_isLoading" [data]="gallery"></app-reactions>
                  </div>
                  <!-- <div class="col-md-5 full-height">
                    <ul class="recommended list-inline pull-right m-t-10 m-b-0">
                      <li>
                        <a href="javascript:void(0)"><img src="assets/img/gallery/thumb-1.jpg"></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"><img src="assets/img/gallery/thumb-2.jpg"></a>
                      </li>
                      <li>
                        <a href="javascript:void(0)"><img src="assets/img/gallery/thumb-3.jpg"></a>
                      </li>
                    </ul>
                  </div>
                </div> -->
              </div>
              <span class="close action top-right" (click)="close()">
                <!-- <i class="pg pg-close fs-14"></i> -->
                <i class="fas fa-times"></i>
              </span>
              <div class="clearfix"></div>
            </div>
          </ng-container>
          <ng-template #NoImage>
            <div class="container-fluid alert alert-danger text-center" role="alert">
              <h2>
                Esta galería no contiene imagenes.
              </h2>
              <button class="close action top-right" (click)="close()"><i class="pg pg-close fs-14"></i>
              </button>
            </div>
          </ng-template>
    </div>
      <!-- /.modal-content -->
  </div>
    <!-- /.modal-dialog -->
</div>
  