﻿@model QavantWeb.Models.User
@{
    ViewBag.Title = "Create";
}
<h2>Crear</h2>

@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos personales</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Foto</b></div>
                                <div class="col-md-10">
                                    <input type="file" id="Image" name="Image" onchange="showimagepreview(this)" />
                                    <img id="img" name="img" alt="" style="width:200px" />
                                    <div id="borrar" style="display:none">
                                        <input type="button" value="Eliminar foto" onclick="Borrar(Image)" />
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var uploadField = document.getElementById("Image");
                                uploadField.onchange = function () {
                                    if (this.files[0].size > 1 * 1204 * 1024) {
                                        alert("El archivo seleccionado no debe superar 1MB de tamaño.");
                                        this.value = "";
                                    };
                                };
                                function showimagepreview(input) {
                                    if (input.files && input.files[0]) {
                                        var reader = new FileReader();// Creo la instancia de FileReader
                                        reader.onload = function (e) {
                                            document.getElementById('img').setAttribute("src", e.target.result);//seteo y cargo el tag img
                                        }
                                        reader.readAsDataURL(input.files[0]);//leo el contenido del file
                                        document.getElementById('borrar').style.display = 'block'; //Muestro El boton Borrar
                                        document.getElementById('img').style.display = 'block';//muestro
                                        document.getElementById('Image').style.display = 'none';//Oculto
                                    }
                                }
                                function Borrar(id) {
                                    document.getElementById('Image').setAttribute("src", "");//Oculto img actual
                                    document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
                                    document.getElementById('Image').style.display = 'block';//muestro
                                    document.getElementById('Image').value = "";//Ningún archivo seleccionado
                                    document.getElementById('img').style.display = 'none';//Oculto
                                }
                            </script>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Documento</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>CUIL</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Cuil, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Cuil, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Teléfono particular</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TelefonoPersonal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TelefonoPersonal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Celular</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Teléfono de urgencia</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TelefonoUrgencias, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TelefonoUrgencias, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Nombre</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Apellido</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Nombre de Usuario</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Contraseña</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Fecha de nacimiento</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Género</b></div>
                                <div class="col-md-10">
                                    <div>
                                        Masculino
                                        @Html.RadioButtonFor(model => model.Gender, "M", new { htmlAttributes = new { @class = "form-control" }, @checked = "checked" })
                                    </div>
                                    <div>
                                        Femenino
                                        @Html.RadioButtonFor(model => model.Gender, "F", new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Estudios</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Nivel de estudio</b></div>
                                <div class="col-md-10">
                                    @Html.DropDownList("estudios", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="control-label col-md-2"><b>Comentarios</b></div>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nota, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nota, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos familiares</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Nombre </b></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsersFamilies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Apellido</b></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsersFamilies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Vínculo</b></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsersFamilies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Fecha de nacimiento</b></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsersFamilies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Género</b></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsersFamilies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos laborales</h3>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Legajo</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FileNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FileNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Dirección</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Localidad</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Area</b></div>
                <div class="col-md-10">
                    @Html.DropDownList("Area_Id", (SelectList)ViewBag.EntityList, "--Seleccionar Area--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Area_Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Fecha de ingreso</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Teléfono</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Interno</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Intern, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intern, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Empresa</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Intern, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intern, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Región</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Intern, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intern, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2"><b>Puesto</b></div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Intern, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intern, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos App</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Nombre de Usuario</b></div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsersFamilies, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Activo</b></div>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Enable, new { @checked = "checked" })
                            @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Habilitado</b></div>
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.Enable, new { @checked = "checked" })
                            @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>

    </div>
}

<div class="btn btn-default">
    <span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span>
    @Html.ActionLink("Volver a la Lista", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
