﻿@model QavantWeb.Models.User
@{
    ViewBag.Title = "Delete";
}
<h2>Eliminar Usuario</h2>
<h3>¿Seguro que desea realizar esta acción?</h3>
<div>
    <h4></h4>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Datos personales</h3>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <dt>
                                Foto
                            </dt>
                            <dd>
                                @Html.Raw(Model.Image)
                                @*<img src="@Html.DisplayFor(model => model.Image)" style="width:128px;height:128px;" class="thumbnail" />*@
                            </dd>
                            <dt>
                                Documento
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Dni)
                            </dd>
                            <dt>
                                CUIL
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Cuil)
                            </dd>
                            <dt>
                                Teléfono
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>
                            <dt>
                                Interno
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Intern)
                            </dd>

                            <dt>
                                Celular
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Mobile)
                            </dd>

                            <dt>
                                Legajo
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FileNumber)
                            </dd>
                            <dt>
                                Area
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Area.Nombre)
                            </dd>
                           
                            <dt>
                                Fecha de Alta
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.RegistrationDate)
                            </dd>
                        </div> <!-- COL 1 -->

                        <div class="col-md-6">
                            <dt>
                                Nombre
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                Apellido
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Surname)
                            </dd>
                            <dt>
                                Nombre de Usuario
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                            <dt>
                                Fecha de nacimiento
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.BirthDate)
                            </dd>
                            <dt>
                                Género
                            </dt>
                            @if (Model.Genero == "M")
                            {
                                <dd>
                                    Masculino
                                </dd>
                            }
                            @if (Model.Genero == "F")
                            {
                                <dd>
                                    Femenino
                                </dd>
                            }
 
                            <dt>
                                Dirección
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt>
                                Localidad
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.City)
                            </dd>
                        </div> <!-- COL 2 -->
                    </div>
                </div>






            </dl>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <a href="@Url.Action("Index", "Users", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>

}
        
