﻿@model QavantWeb.Models.User
@{
    ViewBag.Title = "Edit";
    var myUserId = ViewData["myUserId"];
}
<h2>Editar</h2>

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>Usuario</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EmpresaId)

    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    @*--alert--*@
    @*<div class="alert alert-warning alert-dismissible" id="myAlert">
        <a href="#" class="close">&times;</a>
        <p id="msgAlert"></p>
    </div>*@

    @*-CABECERA-*@
    <div class="panel panel-default">
        <div class="panel-body">
            @*-DATOS PERSONALES-*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos personales</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Nombre</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Apellido</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Fecha de nacimiento</b></div>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "fechaNac", type = "date" })
                                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Documento</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Teléfono particular</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TelefonoPersonal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TelefonoPersonal, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2"><b> Género </b></div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("GeneroCatalogoId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.GeneroCatalogoId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Dirección</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Localidad</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Foto</label>
                                    <div class="col-md-10">
                                        @if (Model.Image == "")
                                        {
                                            <div class="contenedor-texto" id="contenedorTxtId">
                                                <div class="circular-shadow" style="background-color:@ViewBag.colorPrincipal"></div>
                                                <div class="texto-centrado">@ViewBag.Iniciales</div>
                                            </div>
                                            <div id="subirImg" style="display:block">
                                                <input type="file" id="ImageFile" name="ImageFile" onclick="BorrarIniciales()" />
                                                <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Image)" />
                                            </div>

                                        }
                                        else
                                        {
                                            <img src="@Html.DisplayFor(model => model.Image)" id="Image" name="Image" alt="" style="width:200px" class="thumbnail" />
                                            <div id="borrar" style="display:block">
                                                <input type="button" value="Eliminar foto" onclick="Borrar()" />
                                            </div>
                                            <div id="subirImg" style="display:none">
                                                <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                                                <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Image)" />
                                            </div>
                                        }

                                    </div>
                                </div>
                                <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
                                <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
                                <script type="text/javascript">
                                    var uploadField = document.getElementById("ImageFile");
                                    uploadField.onchange = function () {
                                        validateImageSize(this);
                                        validateImageExtension(this);
                                    };
                                    function Borrar() {
                                        if (document.getElementById('ImageFile').value == "") {
                                            document.getElementById('Image').setAttribute("src", "");//Oculto img actual
                                            document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
                                            document.getElementById('Image').value = "";//Ningún archivo seleccionado
                                            document.getElementById('ImageFile').value = "";//Ningún archivo seleccionado
                                            document.getElementById('Image').style.display = 'none';//oculto el tag
                                            document.getElementById('subirImg').style.display = 'block';//muestro el input
                                            document.getElementById('foto').value = "";
                                            document.getElementById('ImageFile').style.display = 'block';
                                        }
                                    }

                                    function BorrarIniciales() {
                                        if (document.getElementById('contenedorTxtId').style.display == "") {
                                            document.getElementById('contenedorTxtId').style.display = 'none';
                                        }
                                    }

                                    function showimagepreview(input) {
                                        if (input.files && input.files[0]) {
                                            var reader = new FileReader();// Creo la instancia de FileReader
                                            reader.onload = function (e) {
                                                document.getElementById('Image').setAttribute("src", e.target.result);//seteo y cargo el tag img
                                            }
                                            reader.readAsDataURL(input.files[0]);//leo el contenido del file

                                            document.getElementById('borrar').style.display = 'block'; //Muestro El boton Borrar
                                            document.getElementById('Image').style.display = 'block';//muestro
                                            document.getElementById('ImageFile').style.display = 'none';
                                        }
                                    }
                                </script>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Celular</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Contacto urgencia</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ContactoUrgencias, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ContactoUrgencias, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Teléfono urgencia</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.TelefonoUrgencias, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TelefonoUrgencias, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            @*-DATOS LABORALES-*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos Laborales</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Región</b></div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("RegionId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Compañía</b></div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("CompaniaId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CompaniaId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Sucursal</b></div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("SucursalId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SucursalId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Área</b></div>
                                    <div class="col-md-10">
                                        @Html.DropDownList("Area_Id", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Area_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Fecha de ingreso</b></div>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "from_Id", type = "date" })
                                        @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Fecha de egreso</b></div>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FechaEgreso, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "to_Id", type = "date" })
                                        @Html.ValidationMessageFor(model => model.FechaEgreso, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Legajo</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FileNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>CUIL</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Cuil, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cuil, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Teléfono</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Interno</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Intern, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Intern, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            @*-DATOS APP-*@
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos App</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="control-label col-md-2"><b>Nombre de Usuario</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-4"><b>Activo</b></div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Active)
                                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" style="display:none">
                                    <div class="control-label col-md-4"><b>Habilitado</b></div>
                                    <div class="col-md-2">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.Enable)
                                            @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="display:none">
                                    <div class="control-label col-md-2"><b>Contraseña</b></div>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-6">
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-5">
                    <input type="submit" value="Guardar" id="btn_guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

    <hr />

    @*-BODY-*@
    <div class="panel panel-default">
        <div class="panel-body">

            @*-PUESTOS-*@
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Puestos</h3>
                    <a href="@Url.Action("Index", "Puestos", new {id = Model.Id})" id="a_puesto" class="btn btn-success pull-right"><span id="span_puesto" class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
                </div>
                @if (Model.PuestosUsers.Count() > 0)
                {
                    <div class="panel-body">
                        <table class="table" id="tbl_puestos">
                            <tr>
                                <th>
                                    Puesto
                                </th>
                                <th width="15%">
                                    Fecha desde
                                </th>
                                <th>
                                    Notas
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.PuestosUsers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Puesto.Descripcion)
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.FechaDesde, "{0:dd-MM-yyyy}")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Notas)
                                    </td>
                                    <td></td>
                                </tr>
                            }

                        </table>
                    </div>
                }

            </div>

            @*-ESTUDIOS-*@
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Estudios</h3>
                    <a href="@Url.Action("Index", "Estudios", new { Model.Id})" id="a_estud" class="btn btn-success pull-right"><span id="span_estud" class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
                </div>

                @if (Model.Estudios.Count() > 0)
                {
                    <div class="panel-body" id="pnl_estud">
                        <table class="table" id="tbl_estud">
                            <tr>
                                <th>
                                    Estudios
                                </th>
                                <th>
                                    Establecimiento
                                </th>
                                <th>
                                    Título
                                </th>
                                <th>
                                    Desde
                                </th>
                                <th>
                                    Hasta
                                </th>
                                <th>
                                    Estudios Completos
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.Estudios)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Catalogo.DescripcionLarga)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Establecimiento.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Titulo.Descripcion)
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.FechaDesde, "{0:dd-MM-yyyy}")
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.FechaHasta, "{0:dd-MM-yyyy}")
                                    </td>

                                    @if (item.EstudioCompleto == true)
                                    {
                                        <td>
                                            Si
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            No
                                        </td>
                                    }

                                    <td></td>
                                </tr>
                            }

                        </table>

                    </div>
                }

            </div>

            @*-DATOS FAMILIARES-*@
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Datos Familiares</h3>
                    <a href="@Url.Action("Index", "Familiares", new {id = Model.Id})" id="a_flia" class="btn btn-success pull-right"><span id="span_flia" class="glyphicon glyphicon-plus " aria-hidden="true"></span></a>
                </div>
                @if (Model.Familiares.Count() > 0)
                {
                    <div class="panel-body">
                        <table class="table" id="tbl_flia">
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Vínculo
                                </th>
                                <th>
                                    Género
                                </th>
                                <th>
                                    Fecha de nacimiento
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.Familiares)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Catalogo1.DescripcionLarga)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Catalogo.DescripcionLarga)
                                    </td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.FechaNacimiento, "{0:dd-MM-yyyy}")
                                    </td>
                                    <td></td>
                                </tr>
                            }

                        </table>
                    </div>
                }

            </div>

        </div>
    </div>
    <hr />
    <div class="form-group">
        <div>
            <a href="@Url.Action("Index", "Users", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            //$("#myAlert").alert().hide();
            estud = $("#tbl_estud tbody tr").length;
            if (estud > 0) {
                $("#span_estud").removeClass("glyphicon glyphicon-plus");
                $("#span_estud").addClass("glyphicon glyphicon-pencil");

                $("#a_estud").removeClass("btn btn-success");
                $("#a_estud").addClass("btn btn-primary");
            }
            flia = $("#tbl_flia tbody tr").length;
            if (flia > 0) {
                $("#span_flia").removeClass("glyphicon glyphicon-plus");
                $("#span_flia").addClass("glyphicon glyphicon-pencil");

                $("#a_flia").removeClass("btn btn-success");
                $("#a_flia").addClass("btn btn-primary");
            }
            puesto = $("#tbl_puestos tbody tr").length;
            if (puesto > 0) {
                $("#span_puesto").removeClass("glyphicon glyphicon-plus");
                $("#span_puesto").addClass("glyphicon glyphicon-pencil");

                $("#a_puesto").removeClass("btn btn-success");
                $("#a_puesto").addClass("btn btn-primary");
            }
        });

        //$(".close").click(function () {
        //    $("#myAlert").alert().hide();
        //});
        $("#btn_guardar").on('click', function () {
            //$("#myAlert").alert().hide();
            Mensaje = "";
            var anioMin = "1900-01-01";
            var hoy = new Date();
            var dd = hoy.getDate();
            if (dd < 10) {
                dd = '0' + dd
            }
            var mm = hoy.getMonth() + 1;
            if (mm < 10) {
                mm = '0' + mm
            }
            var yyyy = hoy.getFullYear();
            var fechaActual = yyyy + "-" + mm + "-" + dd;
            var fechaActualFormateada = dd + "-" + mm + "-" + yyyy;

            //validar fechas
            if ($("#from_Id").val() != "") {
                if ($("#from_Id").val() < anioMin)
                    Mensaje = Mensaje + "- Por favor, ingrese una fecha de ingreso mayor o igual a 01/01/1900. <br>";
                if ($("#from_Id").val() > fechaActual)
                    Mensaje = Mensaje + "- Por favor, ingrese una fecha de ingreso menor o igual a " + fechaActualFormateada + ". <br>";
            }
            if ($("#to_Id").val() != "") {
                if ($("#to_Id").val() < anioMin)
                    Mensaje = Mensaje + "- Por favor, ingrese una fecha de egreso mayor o igual a 01/01/1900 . <br>";
            }
            if ($("#from_Id").val() != "" && $("#to_Id").val() != "") {
                if ($("#from_Id").val() > $("#to_Id").val())
                    Mensaje = Mensaje + "- La fecha de egreso no puede ser menor a la fecha de ingreso. <br>";
            }
            if ($("#from_Id").val() == "")
                Mensaje = Mensaje + "- Debe ingresar una fecha de ingreso. <br>";

            if ($("#fechaNac").val() != "") {
                if ($("#fechaNac").val() < anioMin)
                    Mensaje = Mensaje + "- Por favor, ingrese una fecha de nacimiento mayor o igual a 01/01/1900. <br>";
                if ($("#fechaNac").val() > fechaActual)
                    Mensaje = Mensaje + "- Por favor, ingrese una fecha  de nacimiento menor o igual a " + fechaActualFormateada + ". <br>";
            }
            if ($("#fechaNac").val() == "")
                Mensaje = Mensaje + "- Debe ingresar una fecha de nacimiento. <br>";


            //mostrar mensaje
            //if (Mensaje != "") {
            //    $("#msgAlert").html("<strong>Controle los siguientes errores:</strong><br >" + Mensaje);
            //    $("#myAlert").alert().show();
            //    return false;
            //}
        })

    </script>
}
